Repository GluuFederation/flex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moabu, @iromli, @syntrydy, @duttarnab, @jgomer2001, @maduvena

.github/CODEOWNERS:

# Please do not attempt to edit this file without the direct consent from the DevOps team. This file is managed centrally.
# Contact @moabu

# These owners will be the default owners for everything in this branch of
# the repo. Unless a later match takes precedence

/flex-cn-setup/ @moabu @iromli
/.github/ @moabu @iromli
/docker-*/ @moabu @iromli
/admin-ui/ @syntrydy @duttarnab
/casa/ @jgomer2001 @maduvena

fix: flex-linux-setup import package
  flex-linux-setup/flex_linux_setup/flex_setup.py
Owners: none

fix: add specific permissions for serverless runs
  docker-admin-ui/Dockerfile
  docker-casa/scripts/entrypoint.sh
Owners: @moabu, @iromli

fix: ajust customObjectClass usage in non-ldap backends
  casa/app/src/main/java/org/gluu/casa/core/PersistenceService.java
  casa/app/src/main/java/org/gluu/casa/core/model/ASConfiguration.java
  casa/shared/src/main/java/org/gluu/casa/core/model/BasePerson.java
Owners: @jgomer2001, @maduvena

feat: add message under the textinput field
  admin-ui/app/routes/Apps/Gluu/GluuCommitDialog.js
Owners: @syntrydy, @duttarnab

fix: image updater
  automation/auto_update_image_pr.py
  docker-admin-ui/Dockerfile
  docker-casa/Dockerfile
Owners: @moabu, @iromli

fix: typo fix
  admin-ui/app/routes/Apps/Gluu/GluuCommitDialog.js
Owners: @syntrydy, @duttarnab

chore: prepare for beta15 release
  .github/workflows/update_janssen_helm_chart.yml
  automation/janssen_helm_chart/analyze_chart.py
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/Chart.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/README.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/admin-ui/README.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/admin-ui/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/auth-server-key-rotation/README.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/auth-server-key-rotation/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/auth-server/README.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/auth-server/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/client-api/README.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/client-api/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config-api/README.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config-api/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/README.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/fido2/README.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/fido2/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/README.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/persistence/README.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/persistence/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/scim/README.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/scim/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/openbanking-values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/values.yaml
Owners: @moabu, @iromli

ci: fix sonarcloud project id for casa
  casa/pom.xml
Owners: @jgomer2001, @maduvena

fix: gentle push for backup
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/admin/components/UserManagement/UserList.js
  admin-ui/plugins/admin/plugin-metadata.js
  admin-ui/plugins/users/components/index.js
  admin-ui/plugins/users/plugin-metadata.js
Owners: @syntrydy, @duttarnab

fix : correct typo and add warn option
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/auth-server/components/Configuration/Defaults/LoggingPage.js
Owners: @syntrydy, @duttarnab

fix: adjust python's lib path ref #104
  casa/app/src/main/java/org/gluu/casa/core/PersistenceService.java
  casa/app/src/main/java/org/gluu/casa/timer/AuthnScriptsReloader.java
  casa/app/src/main/resources/labels/admin.properties
Owners: @jgomer2001, @maduvena

fix: download plugins with dependencies
  docker-casa/scripts/entrypoint.sh
Owners: @moabu, @iromli

fix: gentle push
  admin-ui/plugins/admin/components/UserManagement/UserList.js
  admin-ui/plugins/admin/plugin-metadata.js
  admin-ui/plugins/admin/redux/actions/UserActions.js
  admin-ui/plugins/admin/redux/actions/types.js
  admin-ui/plugins/admin/redux/api/UserApi.js
  admin-ui/plugins/admin/redux/audit/Resources.js
  admin-ui/plugins/admin/redux/reducers/UserReducer.js
  admin-ui/plugins/admin/redux/sagas/UserSaga.js
Owners: @syntrydy, @duttarnab

fix: flex-linux-setup get py_lib_dir from Config
  flex-linux-setup/flex_linux_setup/flex_setup.py
Owners: none

feat: admin UI - Option to specify a python file containing a custom script #110
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptForm.js
Owners: @syntrydy, @duttarnab

feat: admin UI - Option to specify a python file containing a custom script #110
  admin-ui/app/locales/en/translation.json
Owners: @syntrydy, @duttarnab

fix: wrong path for flex setup.py
  flex-linux-setup/README.md
Owners: none

feat: put MAU under admin
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/redux/reducers/MauReducer.js
  admin-ui/plugins/admin/components/MAU/MauGraph.js
  admin-ui/plugins/admin/plugin-metadata.js
Owners: @syntrydy, @duttarnab

fix: use authoriztion_url for authz request #47
  admin-ui/app/utils/AppAuthProvider.js
Owners: @syntrydy, @duttarnab
