Repository GluuFederation/flex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moabu, @iromli, @syntrydy, @duttarnab, @jgomer2001, @maduvena

fix: some icons are not visible on admin-ui #32
  admin-ui/package.json
Owners: @syntrydy, @duttarnab

feat(admin-ui): date range showing undefined and ? #2
  admin-ui/plugins/admin/components/ActiveUsers/ActiveUsers.js
Owners: @syntrydy, @duttarnab

feat(admin-ui): date range showing undefined and ? #2
  admin-ui/plugins/admin/components/ActiveUsers/CustomPieGraph.js
  admin-ui/plugins/admin/components/ActiveUsers/PieCard.js
  admin-ui/plugins/admin/components/ActiveUsers/PieChartItem.js
Owners: @syntrydy, @duttarnab

feat(admin-ui): add the pie graph #2
  admin-ui/plugins/admin/components/ActiveUsers/ActiveUsers.js
Owners: @syntrydy, @duttarnab

feat(admin-ui): add the bar graph #2
  admin-ui/plugins/admin/components/ActiveUsers/ActiveUsers.js
  admin-ui/plugins/admin/components/ActiveUsers/CustomPieGraph.js
Owners: @syntrydy, @duttarnab

feat(admin-ui): fix ordering issue #2
  admin-ui/plugins/admin/components/ActiveUsers/ActiveUsers.js
  admin-ui/plugins/admin/components/ActiveUsers/CustomPieGraph.js
Owners: @syntrydy, @duttarnab

chore(chart): update flex chart
  .github/workflows/update_janssen_helm_chart.yml
  automation/janssen_helm_chart/analyze_chart.py
  automation/janssen_helm_chart/non_janssen.yaml
  automation/janssen_helm_chart/prepare_chart.sh
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/Chart.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/templates/_helpers.tpl
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/templates/configmaps.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/templates/ingress.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/openbanking-helm.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/values.schema.json
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/values.yaml
Owners: @moabu, @iromli

fix(chart): fix typo
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/templates/_helpers.tpl
Owners: @moabu, @iromli

fix(chart): fix probes for admin-ui
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/admin-ui/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/values.yaml
Owners: @moabu, @iromli

feat(admin-ui): fix prod build #2
  admin-ui/build/webpack.config.client.prod.js
Owners: @syntrydy, @duttarnab

fix: flex-linux-setup download links
  flex-linux-setup/flex-setup.py
Owners: none

feat(admin-ui): fix maximum actives users page #2
  admin-ui/app/routes/Apps/Gluu/styles/applicationstyle.js
  admin-ui/build/webpack.config.client.dev.js
  admin-ui/build/webpack.config.client.prod.js
  admin-ui/plugins/admin/components/ActiveUsers/ActiveUsers.js
  admin-ui/plugins/admin/components/ActiveUsers/CustomPieGraph.js
  admin-ui/plugins/admin/components/MonthlyActiveUsersPage.js
  admin-ui/plugins/admin/plugin-metadata.js
  admin-ui/plugins/admin/redux/reducers/MauReducer.js
  admin-ui/plugins/admin/redux/sagas/MauSaga.js
Owners: @syntrydy, @duttarnab

feat(admin-ui): fix maximum actives users page #2
  admin-ui/app/routes/Apps/Gluu/styles/applicationstyle.js
  admin-ui/build/webpack.config.client.dev.js
  admin-ui/build/webpack.config.client.prod.js
  admin-ui/plugins/admin/components/ActiveUsers/ActiveUsers.js
  admin-ui/plugins/admin/components/ActiveUsers/CustomPieGraph.js
  admin-ui/plugins/admin/components/MonthlyActiveUsersPage.js
  admin-ui/plugins/admin/plugin-metadata.js
  admin-ui/plugins/admin/redux/reducers/MauReducer.js
  admin-ui/plugins/admin/redux/sagas/MauSaga.js
Owners: @syntrydy, @duttarnab

feat(admin-ui): fix maximum actives users page #2
  admin-ui/app/routes/Apps/Gluu/styles/applicationstyle.js
  admin-ui/build/webpack.config.client.dev.js
  admin-ui/build/webpack.config.client.prod.js
  admin-ui/plugins/admin/components/ActiveUsers/ActiveUsers.js
  admin-ui/plugins/admin/components/ActiveUsers/CustomPieGraph.js
  admin-ui/plugins/admin/components/MonthlyActiveUsersPage.js
  admin-ui/plugins/admin/plugin-metadata.js
  admin-ui/plugins/admin/redux/reducers/MauReducer.js
  admin-ui/plugins/admin/redux/sagas/MauSaga.js
Owners: @syntrydy, @duttarnab

refactor(flex-linux-setup): add setup.py
  flex-linux-setup/MANIFEST.in
  flex-linux-setup/flex_linux_setup/__init__.py
  flex-linux-setup/flex_linux_setup/auiConfiguration.properties
  flex-linux-setup/flex_linux_setup/flex-plugin.py
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/setup.py
Owners: none

feat: add main() function
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/setup.py
Owners: none

fix: update readme
  flex-linux-setup/README.md
Owners: none

fix(package): fix package settings
  flex-linux-setup/Makefile
  flex-linux-setup/flex_linux_setup/__init__.py
  flex-linux-setup/flex_linux_setup/version.py
  flex-linux-setup/setup.py
Owners: none

fix(image): update image manifests
  docker-admin-ui/Dockerfile
  docker-admin-ui/requirements.txt
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/entrypoint.sh
  docker-admin-ui/templates/nginx-default.conf.tmpl
Owners: @moabu, @iromli

fix(image): conform to nginx filesystem structure
  docker-admin-ui/Dockerfile
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/templates/nginx-default.conf.tmpl
Owners: @moabu, @iromli

fix: # 45 use of localPrimaryKey attr instead of primaryKey to look up user
  casa/extras/Casa.py
Owners: @jgomer2001, @maduvena

fix: use authoriztion_url for authz request #47
  admin-ui/app/utils/AppAuthProvider.js
Owners: @syntrydy, @duttarnab

fix: use authoriztion_url for authz request #47
  flex-linux-setup/auiConfiguration.properties
Owners: none

chore(admin-ui): update commit
  docker-admin-ui/Dockerfile
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/templates/ingress.yaml
Owners: @moabu, @iromli

fix: ingress of casa
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/templates/ingress.yaml
Owners: @moabu, @iromli

fix: #45 localPrimaryKey is Gluu's primary key attr that is mapped to the primary key of the backend AD / LDAP
  casa/extras/Casa.py
Owners: @jgomer2001, @maduvena

fix: #45 val of localPrimaryKey on Gluu is mapped with the primary key attr of the backend AD
  casa/extras/Casa.py
Owners: @jgomer2001, @maduvena

chore(admin-ui): update commit (#49)
  docker-admin-ui/Dockerfile
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/templates/ingress.yaml
Owners: @moabu, @iromli

feat(image): pull otp and super_gluu configuration from secrets
  docker-casa/scripts/auth_conf.py
  docker-casa/scripts/entrypoint.sh
Owners: @moabu, @iromli

Set theme jekyll-theme-hacker
  _config.yml
Owners: none

docs: initial readme
  README.md
Owners: none

refactor: remove all 4.x gluu packages
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.5.10.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.5.11.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.5.8-a.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.5.8.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.5.9-a.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.5.9.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.6.11.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.6.12.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.6.13.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.6.14.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.6.15.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.6.7-b.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.6.9-scim.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-1.6.9.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu-5.0.0-scim.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/index.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/ldap-backup-1.5.9-a.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/ldap-backup-1.5.9.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/ldap-backup-1.6.11.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/ldap-backup-1.6.7-b.tgz
  flex-cn-setup/pygluu/kubernetes/templates/helm/ldap-backup-1.6.9.tgz
Owners: @moabu, @iromli

fix: remove empty space created for response_type param in authz url created by admin ui #55
  admin-ui/app/utils/AppAuthProvider.js
Owners: @syntrydy, @duttarnab

feat: Add test cases for services plugin.
  admin-ui/app/utils/AppAuthProvider.js
  admin-ui/plugins/services/Components/Configuration/CacheInMemory.test.js
  admin-ui/plugins/services/Components/Configuration/CacheMemcached.js
  admin-ui/plugins/services/Components/Configuration/CacheMemcached.test.js
  admin-ui/plugins/services/Components/Configuration/CacheNative.test.js
  admin-ui/plugins/services/Components/Configuration/CacheRedis.test.js
  admin-ui/plugins/services/Components/Configuration/LdapAddPage.test.js
Owners: @syntrydy, @duttarnab

fix: format all pages using prettier
  admin-ui/app/utils/AppAuthProvider.js
  admin-ui/plugins/services/Components/Configuration/CacheInMemory.test.js
  admin-ui/plugins/services/Components/Configuration/CacheMemcached.js
  admin-ui/plugins/services/Components/Configuration/CacheNative.test.js
  admin-ui/plugins/services/Components/Configuration/CacheRedis.test.js
  admin-ui/plugins/services/Components/Configuration/LdapAddPage.test.js
Owners: @syntrydy, @duttarnab

feat(admin-ui): show active users page on dashboard #43
  admin-ui/app/redux/actions/MauActions.js
  admin-ui/app/redux/actions/types.js
  admin-ui/app/redux/api/MauApi.js
  admin-ui/app/redux/reducers/MauReducer.js
  admin-ui/app/redux/reducers/index.js
  admin-ui/app/redux/sagas/MauSaga.js
  admin-ui/app/redux/sagas/index.js
  admin-ui/app/routes/Dashboards/CustomPieGraph.js
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/routes/index.js
  admin-ui/plugins/admin/components/MonthlyActiveUsersPage.js
  admin-ui/plugins/admin/components/MonthlyActiveUsersPage.test.js
  admin-ui/plugins/admin/plugin-metadata.js
  admin-ui/plugins/admin/redux/actions/types.js
Owners: @syntrydy, @duttarnab

chore: prepare release 1.0.0-0 Release-As: 1.0.0-0
  docker-admin-ui/version.txt
Owners: @moabu, @iromli

chore: prepare release 5.0.0-0 Release-As: 5.0.0-0
  docker-casa/__version__.py
  docker-casa/version.txt
Owners: @moabu, @iromli

ci: update artifact repo id
  flex-cn-setup/pygluu/kubernetes/templates/helm/artifacthub-repo.yml
Owners: @moabu, @iromli

feat(admin-ui): show active users page on dashboard #43
  admin-ui/app/redux/sagas/MauSaga.js
  admin-ui/app/routes/Dashboards/ActiveUsersGraph.js
  admin-ui/app/routes/Dashboards/CustomLineChart.js
  admin-ui/app/routes/Dashboards/CustomPieGraph.js
  admin-ui/app/routes/Dashboards/DashboardPage.js
Owners: @syntrydy, @duttarnab

.github/CODEOWNERS:

# Please do not attempt to edit this file without the direct consent from the DevOps team. This file is managed centrally.
# Contact @moabu

# These owners will be the default owners for everything in this branch of
# the repo. Unless a later match takes precedence

/flex-cn-setup/ @moabu @iromli
/.github/ @moabu @iromli
/docker-*/ @moabu @iromli
/admin-ui/ @syntrydy @duttarnab
/casa/ @jgomer2001 @maduvena
