Repository GluuFederation/flex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moabu, @iromli, @syntrydy, @duttarnab, @jgomer2001, @maduvena

ci: update artifact repo id
  flex-cn-setup/pygluu/kubernetes/templates/helm/artifacthub-repo.yml
Owners: @moabu, @iromli

fix: change jans-config-api-swagger.yaml path in package.json #59
  admin-ui/package.json
Owners: @syntrydy, @duttarnab

feat(admin-ui): show active users page on dashboard #43
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/routes/Dashboards/Grapths/ActiveUsersGraph.js
  admin-ui/app/routes/Dashboards/Grapths/CustomBarGraph.js
  admin-ui/app/routes/Dashboards/Grapths/CustomLineChart.js
Owners: @syntrydy, @duttarnab

docs: added initial documentation files
  docs/mkdocs.yml
  docs/source/img/favicon.ico
  docs/source/img/gluu.jpg
  docs/source/img/gluu.png
  docs/source/index.md
Owners: none

fix: implement remove button functionality
  admin-ui/app/utils/AppAuthProvider.js
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
  admin-ui/plugins/admin/redux/actions/MappingActions.js
  admin-ui/plugins/admin/redux/actions/types.js
  admin-ui/plugins/admin/redux/reducers/MappingReducer.js
Owners: @syntrydy, @duttarnab

docs: edited version numbers, corrected URL path
  docs/mkdocs.yml
Owners: none

refactor(helm): prepare auto chart generation
  .github/workflows/update_janssen_helm_chart.yml
  automation/janssen_helm_chart/analyze_chart.py
  automation/janssen_helm_chart/non_janssen.yaml
  automation/janssen_helm_chart/prepare_chart.sh
  flex-cn-setup/pygluu/kubernetes/templates/alb/ingress.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/Chart.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/templates/configmaps.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/openbanking-values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/values.schema.json
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/values.yaml
Owners: @moabu, @iromli

ci: fix git push update
  .github/workflows/update_janssen_helm_chart.yml
Owners: @moabu, @iromli

ci: auto generate helm-docs
  .github/workflows/update_janssen_helm_chart.yml
  automation/janssen_helm_chart/prepare_chart.sh
Owners: @moabu, @iromli

feat (admin-ui): show active users page on dashboard #43
  admin-ui/app/redux/sagas/MauSaga.js
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/routes/Dashboards/Grapths/ActiveUsersGraph.js
  admin-ui/app/routes/Dashboards/Grapths/CustomBarGraph.js
  admin-ui/app/routes/Dashboards/Grapths/CustomLineChart.js
  admin-ui/app/routes/Dashboards/Grapths/CustomPieGraph.js
  admin-ui/app/utils/Util.js
  admin-ui/package.json
Owners: @syntrydy, @duttarnab

feat(admin-ui): show active users page on dashboard #43
  admin-ui/app/routes/Dashboards/DashboardPage.js
Owners: @syntrydy, @duttarnab

ci: auto generate helm-docs
  .github/workflows/update_janssen_helm_chart.yml
  automation/janssen_helm_chart/prepare_chart.sh
Owners: @moabu, @iromli

ci: fix helm package command
  automation/janssen_helm_chart/prepare_chart.sh
Owners: none

ci: open PR automatically
  .github/workflows/update_janssen_helm_chart.yml
  automation/janssen_helm_chart/prepare_chart.sh
Owners: @moabu, @iromli

ci: authenticate gh
  .github/workflows/update_janssen_helm_chart.yml
Owners: @moabu, @iromli

ci: authenticate gh
  .github/workflows/update_janssen_helm_chart.yml
Owners: @moabu, @iromli

feat: implement add new permissions in mapping
  admin-ui/app/routes/Apps/Gluu/GluuTypeAhead.js
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
  admin-ui/plugins/admin/components/Mapping/MappingPage.js
  admin-ui/plugins/admin/redux/actions/MappingActions.js
  admin-ui/plugins/admin/redux/actions/types.js
  admin-ui/plugins/admin/redux/reducers/MappingReducer.js
  admin-ui/plugins/admin/redux/sagas/ApiPermissionSaga.js
Owners: @syntrydy, @duttarnab

fix: remove unnecessary code
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
Owners: @syntrydy, @duttarnab

ci: fix opendj image
  automation/janssen_helm_chart/analyze_chart.py
Owners: none

feat(admin-ui): unable to add description of an existing permission in config-api #66
  admin-ui/app/locales/en/translation.json
  admin-ui/plugins/admin/components/Permissions/UiPermListPage.js
  admin-ui/plugins/admin/redux/reducers/ApiPermissionReducer.js
  admin-ui/plugins/admin/redux/reducers/ApiRoleReducer.js
Owners: @syntrydy, @duttarnab

feat: backup commit for update mapping
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
  admin-ui/plugins/admin/components/Mapping/MappingPage.js
  admin-ui/plugins/admin/redux/actions/MappingActions.js
  admin-ui/plugins/admin/redux/actions/types.js
  admin-ui/plugins/admin/redux/api/MappingApi.js
  admin-ui/plugins/admin/redux/sagas/MappingSaga.js
Owners: @syntrydy, @duttarnab

ci: update issue reports
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/development-item.md
  .github/ISSUE_TEMPLATE/failing-tests.md
  .github/workflows/central_code_quality_check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/microk8s.yml
  .github/workflows/updateimages.yml
  .github/workflows/vulnerability-scan.yml
Owners: @moabu, @iromli

fix: alb setup
  flex-cn-setup/pygluu/kubernetes/gluu.py
  flex-cn-setup/pygluu/kubernetes/terminal/aws.py
Owners: @moabu, @iromli

feat: flex-linux-setup add casa install
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.properties
  flex-linux-setup/flex_linux_setup/templates/casa.default
  flex-linux-setup/flex_linux_setup/templates/casa.service
  flex-linux-setup/flex_linux_setup/templates/casa_apache_directive
  flex-linux-setup/flex_linux_setup/templates/casa_client.ldif
  flex-linux-setup/flex_linux_setup/templates/casa_config.ldif
Owners: none

chore: update dependency
  docker-admin-ui/Dockerfile
Owners: @moabu, @iromli

feat(admin-ui): fix issues with material list #43
  admin-ui/package.json
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.js
Owners: @syntrydy, @duttarnab

feat(admin-ui): fix issues with material list #43
  admin-ui/plugins/admin/components/CustomScripts/ScriptListPage.js
  admin-ui/plugins/admin/components/Roles/UiRoleListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeDetailPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.js
  admin-ui/plugins/schema/components/Person/AttributeListPage.js
  admin-ui/plugins/services/Components/Configuration/LdapListPage.js
  admin-ui/plugins/services/Components/Configuration/SqlListPage.js
Owners: @syntrydy, @duttarnab

fix: upgrade com.squareup.okhttp:okhttp from 2.3.0 to 2.7.5
  casa/plugins/stytch/pom.xml
Owners: @jgomer2001, @maduvena

fix: upgrade net.jodah:expiringmap from 0.5.8 to 0.5.10
  casa/plugins/account-linking/pom.xml
Owners: @jgomer2001, @maduvena

feat: upgrade org.jboss.weld.servlet:weld-servlet-shaded from 3.1.8.Final to 4.0.2.Final
  casa/pom.xml
Owners: @jgomer2001, @maduvena

feat: upgrade javax.servlet:javax.servlet-api from 3.1.0 to 4.0.1
  casa/pom.xml
Owners: @jgomer2001, @maduvena

fix: upgrade org.pf4j:pf4j from 3.2.0 to 3.6.0
  casa/pom.xml
Owners: @jgomer2001, @maduvena

fix: upgrade org.zkoss.common:zcommon from 9.5.0.2 to 9.6.0.1-jakarta
  casa/pom.xml
Owners: @jgomer2001, @maduvena

feat: implemented save and revert functionality
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
  admin-ui/plugins/admin/components/Mapping/MappingPage.js
  admin-ui/plugins/admin/redux/actions/MappingActions.js
  admin-ui/plugins/admin/redux/actions/types.js
  admin-ui/plugins/admin/redux/reducers/MappingReducer.js
  admin-ui/plugins/admin/redux/sagas/MappingSaga.js
Owners: @syntrydy, @duttarnab

chore: pin grpcio version to avoid build error
  docker-casa/Dockerfile
  docker-casa/requirements.txt
Owners: @moabu, @iromli

chore: remove unused ldif3 package
  docker-admin-ui/requirements.txt
Owners: @moabu, @iromli

fix: show details and update description reload data
  admin-ui/plugins/admin/components/Permissions/UiPermDetailPage.js
  admin-ui/plugins/admin/redux/reducers/ApiPermissionReducer.js
Owners: @syntrydy, @duttarnab

fix: upgrade com.twilio.sdk:twilio from 8.16.0 to 8.25.0
  casa/app/pom.xml
Owners: @jgomer2001, @maduvena

feat: upgrade com.sun.mail:jakarta.mail from 1.6.7 to 2.0.1
  casa/app/pom.xml
Owners: @jgomer2001, @maduvena

feat: upgrade i18next from 19.9.2 to 21.6.10
  admin-ui/package.json
Owners: @syntrydy, @duttarnab

.github/CODEOWNERS:

# Please do not attempt to edit this file without the direct consent from the DevOps team. This file is managed centrally.
# Contact @moabu

# These owners will be the default owners for everything in this branch of
# the repo. Unless a later match takes precedence

/flex-cn-setup/ @moabu @iromli
/.github/ @moabu @iromli
/docker-*/ @moabu @iromli
/admin-ui/ @syntrydy @duttarnab
/casa/ @jgomer2001 @maduvena
