Repository GluuFederation/flex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moabu, @iromli, @syntrydy, @duttarnab, @jgomer2001, @maduvena

feat: upgrade react-toastify from 5.5.0 to 8.1.0
  admin-ui/package.json
Owners: @syntrydy, @duttarnab

fix: details show for access role
  admin-ui/plugins/admin/components/Roles/UiRoleDetailPage.js
Owners: @syntrydy, @duttarnab

fix: permissions details not showing
  admin-ui/plugins/admin/components/Permissions/UiPermDetailPage.js
  admin-ui/plugins/admin/redux/reducers/ApiPermissionReducer.js
Owners: @syntrydy, @duttarnab

feat: edit role permission mapping
  admin-ui/app/routes/Apps/Gluu/GluuTypeAhead.js
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
  admin-ui/plugins/admin/components/Mapping/MappingPage.js
  admin-ui/plugins/admin/redux/actions/MappingActions.js
  admin-ui/plugins/admin/redux/actions/types.js
  admin-ui/plugins/admin/redux/api/MappingApi.js
  admin-ui/plugins/admin/redux/reducers/MappingReducer.js
  admin-ui/plugins/admin/redux/sagas/ApiPermissionSaga.js
  admin-ui/plugins/admin/redux/sagas/MappingSaga.js
Owners: @syntrydy, @duttarnab

feat: flex-linux-setup package
  flex-linux-setup/MANIFEST.in
  flex-linux-setup/Makefile
  flex-linux-setup/flex_linux_setup/__init__.py
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/setup.cfg
  flex-linux-setup/setup.py
Owners: none

feat: flex-linux-setup typo
  flex-linux-setup/flex_linux_setup/flex_setup.py
Owners: none

fix: search pallets
  admin-ui/app/routes/Apps/Gluu/GluuAdvancedSearch.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.js
  admin-ui/plugins/schema/components/Person/AttributeListPage.js
Owners: @syntrydy, @duttarnab

fix: flex-linux-setup move version to version.py
  flex-linux-setup/flex_linux_setup/__init__.py
  flex-linux-setup/flex_linux_setup/version.py
  flex-linux-setup/setup.py
Owners: none

fix: flex-linux-setup update admin-ui plugin url
  flex-linux-setup/flex_linux_setup/flex_setup.py
Owners: none

fix(admin-ui): add openid connect clients count to the dashbaord #43
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/routes/Dashboards/Grapths/CustomBadgeRow.js
  admin-ui/app/routes/Dashboards/Reports/ReportCard.js
Owners: @syntrydy, @duttarnab

fix: flex-linux-setup able to use existing jans-setup to be used as standalone script
  flex-linux-setup/flex_linux_setup/flex_setup.py
Owners: none

fix: flex-linux-setup start casa after install
  flex-linux-setup/flex_linux_setup/flex_setup.py
Owners: none

fix: add mapping
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuSingleValueCompleter.js
  admin-ui/app/routes/Apps/Gluu/GluuTypeAhead.js
  admin-ui/plugins/admin/components/Mapping/MappingAddDialogForm.js
  admin-ui/plugins/admin/components/Mapping/MappingPage.js
  admin-ui/plugins/admin/redux/actions/MappingActions.js
  admin-ui/plugins/admin/redux/actions/types.js
  admin-ui/plugins/admin/redux/api/MappingApi.js
  admin-ui/plugins/admin/redux/sagas/MappingSaga.js
Owners: @syntrydy, @duttarnab

fix: flex-linux-setup casa installation fixes
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/casa_config.ldif
  flex-linux-setup/flex_linux_setup/templates/casa_person_authentication_script.ldif
Owners: none

fix: flex-linux-setup more verbosity
  flex-linux-setup/flex_linux_setup/flex_setup.py
Owners: none

fix: added delete functionality
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
  admin-ui/plugins/admin/redux/actions/MappingActions.js
  admin-ui/plugins/admin/redux/actions/types.js
  admin-ui/plugins/admin/redux/api/MappingApi.js
  admin-ui/plugins/admin/redux/sagas/MappingSaga.js
Owners: @syntrydy, @duttarnab

ci: flex integration with Sonar
  .github/workflows/central_code_quality_check.yml
  casa/pom.xml
Owners: @moabu, @iromli, @jgomer2001, @maduvena

fix: flex-linux-setup enable Casa Person Auth script
  flex-linux-setup/flex_linux_setup/templates/casa_person_authentication_script.ldif
Owners: none

ci: add github env variables
  .github/workflows/central_code_quality_check.yml
Owners: @moabu, @iromli

ci: add comment in pom
  casa/pom.xml
Owners: @jgomer2001, @maduvena

feat: add applogers for the admin ui plugin
  automation/janssen_helm_chart/analyze_chart.py
  automation/janssen_helm_chart/non_janssen.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/templates/configmaps.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/values.yaml
Owners: @moabu, @iromli

feat: add applogers for the admin ui plugin to values schema
  automation/janssen_helm_chart/analyze_chart.py
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/values.schema.json
Owners: @moabu, @iromli

ci: run update on push and path
  .github/workflows/update_janssen_helm_chart.yml
Owners: @moabu, @iromli

fix: flex-linux-setup set jansTrustedClnt: true in casa client
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/casa_client.ldif
Owners: none

fix: flex-linux-setup casa jansPostLogoutRedirectURI
  flex-linux-setup/flex_linux_setup/templates/casa_client.ldif
Owners: none

fix: flex-linux-setup casa python lib dir
  flex-linux-setup/flex_linux_setup/flex_setup.py
Owners: none

ci: trigger release only on manual trigger
  .github/workflows/releaseplease.yml
Owners: @moabu, @iromli

fix: delete icon hanged with bordered icon
  admin-ui/plugins/admin/components/CustomScripts/ScriptListPage.js
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.js
  admin-ui/plugins/schema/components/Person/AttributeListPage.js
  admin-ui/plugins/services/Components/Configuration/LdapListPage.js
  admin-ui/plugins/services/Components/Configuration/SqlListPage.js
Owners: @syntrydy, @duttarnab

chore: update manifests
  docker-admin-ui/Dockerfile
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/entrypoint.sh
Owners: @moabu, @iromli

chore: sync casa scripts #98
  casa/extras/Casa.py
  casa/extras/casa-external_fido2.py
  casa/extras/casa-external_otp.py
  casa/extras/casa-external_super_gluu.py
  casa/extras/casa-external_twilio_sms.py
  casa/extras/casa-external_u2f.py
Owners: @jgomer2001, @maduvena

chore: reintroduce fix for #45
  casa/extras/Casa.py
Owners: @jgomer2001, @maduvena

fix: adjust wrong import
  casa/extras/casa-external_u2f.py
Owners: @jgomer2001, @maduvena

feat: flex-linux-setup self installer
  flex-linux-setup/flex_linux_setup/flex_setup.py
Owners: none

feat: flex-linux-setup argparse pkg issue
  flex-linux-setup/flex_linux_setup/flex_setup.py
Owners: none

fix: flex-linux-setup pass -yes to install.py
  flex-linux-setup/flex_linux_setup/flex_setup.py
Owners: none

feat: implement deletable option
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
  admin-ui/plugins/admin/components/Mapping/MappingPage.js
  admin-ui/plugins/admin/components/Roles/RoleAddDialogForm.js
  admin-ui/plugins/admin/components/Roles/UiRoleListPage.js
  admin-ui/plugins/admin/redux/sagas/ApiRoleSaga.js
Owners: @syntrydy, @duttarnab

fix: remove console logs
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
  admin-ui/plugins/admin/components/Roles/RoleAddDialogForm.js
  admin-ui/plugins/admin/components/Roles/UiRoleListPage.js
Owners: @syntrydy, @duttarnab

feat: gentle commit
  admin-ui/plugins/users/components/index.js
  admin-ui/plugins/users/plugin-metadata.js
Owners: @syntrydy, @duttarnab

fix: recheck code
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
Owners: @syntrydy, @duttarnab

fix: flex-linux-setup restart jans-auth after casa
  flex-linux-setup/flex_linux_setup/flex_setup.py
Owners: none

.github/CODEOWNERS:

# Please do not attempt to edit this file without the direct consent from the DevOps team. This file is managed centrally.
# Contact @moabu

# These owners will be the default owners for everything in this branch of
# the repo. Unless a later match takes precedence

/flex-cn-setup/ @moabu @iromli
/.github/ @moabu @iromli
/docker-*/ @moabu @iromli
/admin-ui/ @syntrydy @duttarnab
/casa/ @jgomer2001 @maduvena
