Repository GluuFederation/flex, pull requests merged in 2022-02, with the labels that each got.

#37 fix: flex-linux-setup download links
  flex-linux-setup/flex-setup.py
Labels: bug, comp-flex-linux-setup

#42 fix(image): update admin-ui image assets
  docker-admin-ui/Dockerfile
  docker-admin-ui/requirements.txt
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/entrypoint.sh
  docker-admin-ui/templates/nginx-default.conf.tmpl
Labels: bug, comp-admin-ui

#49 chore(admin-ui): update commit
  docker-admin-ui/Dockerfile
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/templates/ingress.yaml
Labels: comp-admin-ui, comp-flex-cn-setup

#52 feat(image): pull otp and super_gluu configuration from secrets
  docker-casa/scripts/auth_conf.py
  docker-casa/scripts/entrypoint.sh
Labels: enhancement, comp-casa

#62 docs: added initial documentation files
  docs/mkdocs.yml
  docs/source/img/favicon.ico
  docs/source/img/gluu.jpg
  docs/source/img/gluu.png
  docs/source/index.md
Labels: documentation

#70 chore(image): update dependency
  docker-admin-ui/Dockerfile
  docker-admin-ui/requirements.txt
  docker-casa/Dockerfile
  docker-casa/requirements.txt
Labels: enhancement, comp-docker-admin-ui

#90 fix: flex-linux-setup update admin-ui plugin url
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup

#92 fix: flex-linux-setup able to use existing jans-setup to be used as standalone script
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: enhancement, comp-flex-linux-setup

#100 chore: update image manifests
  docker-admin-ui/Dockerfile
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/entrypoint.sh
Labels: comp-docker-admin-ui, kind-enhancement
