Repository GluuFederation/flex, pull requests merged in 2022-10, with the labels that each got.

#480 fix: flex-linux-setup python executable
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#467 feat: flex-linux-setup add options to setup.properties
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.properties
Labels: kind-enhancement

#484 fix: flex-linux-setup noninteractive setup
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#489 fix: jans-linux-setup set Jannsen version to 1.0.3
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: bug, comp-flex-linux-setup

#508 fix: flex-linux-setup nod download
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#514 fix: flex-linux-setup-replace replace-shlex.join() by subprocess.list2cmdline()
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#526 fix(image): add missing openapi-merge-cli executable
  docker-admin-ui/Dockerfile
  docker-admin-ui/requirements.txt
Labels: comp-docker-admin-ui, kind-bug

#540 feat(image): add authentication method selection for admin-ui image
  docker-admin-ui/README.md
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/wait.py
  docker-admin-ui/templates/auiConfiguration.properties.tmpl
Labels: comp-docker-admin-ui, kind-feature

#542 Flex linux setup admin UI client
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.properties
Labels: kind-feature

#547 fix: flex-linux-setup use encoded client secret
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.properties
Labels: bug, comp-flex-linux-setup

#549 feat(admin-ui): update IdleTimer component due to react-idle-timer upgrade
  admin-ui/app/routes/Apps/Gluu/GluuSessionTimeout.js
Labels: comp-admin-ui

#522 [Snyk] Upgrade jakarta.servlet:jakarta.servlet-api from 5.0.0 to 6.0.0
  casa/pom.xml
Labels: comp-casa
