Repository GluuFederation/flex, pull requests merged in 2022-03, with the labels that each got.

#128 chore: update image dependencies
  docker-admin-ui/Dockerfile
  docker-casa/Dockerfile
Labels: comp-casa, comp-docker-admin-ui, kind-enhancement

#131 feat: flex linux setup casa fix
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/casa_client.ldif
  flex-linux-setup/flex_linux_setup/templates/casa_config.ldif
  flex-linux-setup/flex_linux_setup/templates/casa_person_authentication_script.ldif
Labels: enhancement, comp-flex-linux-setup, kind-feature

#134 chore: sync casa image
  docker-casa/Dockerfile
  docker-casa/jetty/casa.xml
  docker-casa/jetty/log4j2.xml
  docker-casa/scripts/bootstrap.py
  docker-casa/scripts/entrypoint.sh
Labels: comp-casa, kind-enhancement

#135 refactor: set arguments for jetty via command-line
  docker-casa/scripts/bootstrap.py
  docker-casa/scripts/entrypoint.sh
Labels: comp-casa, kind-enhancement

#53 chore(main): release casa 5.0.0-0
  casa/CHANGELOG.md
Labels: autorelease: pending

#145 chore(main): release 5.0.0-0
  CHANGELOG.md
Labels: autorelease: pending

#153 fix: flex-linux-setup url of casa extrnal files
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: bug, comp-flex-linux-setup

#161 fix: flex-linux-setup casa-client jansAccessTknAsJwt: false
  flex-linux-setup/flex_linux_setup/templates/casa_client.ldif
Labels: bug, comp-flex-linux-setup

#163 ci: fix the change detection logic in Sonar action workflow
  .github/workflows/central_code_quality_check.yml
Labels: area-CI

#162 chore: update images
  docker-admin-ui/Dockerfile
  docker-casa/Dockerfile
Labels: comp-docker-admin-ui, kind-enhancement, comp-docker-casa
