Repository GluuFederation/flex, pull requests merged in 2022-06, with the labels that each got.

#250 feat: introduce new hybrid persistence mapping
  docker-admin-ui/Dockerfile
  docker-admin-ui/README.md
  docker-admin-ui/requirements.txt
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/wait.py
  docker-casa/Dockerfile
  docker-casa/README.md
  docker-casa/requirements.txt
  docker-casa/scripts/bootstrap.py
  docker-casa/scripts/wait.py
Labels: comp-docker-admin-ui, kind-feature, comp-docker-casa

#254 fix: flex-linux-setup version 1.0.1-SNAPSHOT
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup

#264 feat: add fido2-client lib (ref: #263)
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-feature

#268 feat: flex-linux-setup jans installer args
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: enhancement, comp-flex-linux-setup

#271 refactor: Flex Linux Setup install with properties file
  flex-linux-setup/README.md
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: enhancement
