Repository GluuFederation/flex, pull requests merged in 2022-11, with the labels that each got.

#572 fix: flex-linux-setup missing source_files definition for casa
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#586 fix: flex-linux-setup version 1.0.4-SNAPSHOT
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: bug, comp-flex-linux-setup

#580 [Snyk] Upgrade uuid from 8.3.2 to 9.0.0
  admin-ui/app/components/HolderProvider/HolderTextProvider.js
  admin-ui/app/components/NestedDropdown/NestedDropdownSubmenu.js
  admin-ui/app/components/SidebarMenu/SidebarMenuItem.js
  admin-ui/app/routes/Layouts/DragAndDropLayout/DragAndDropLayout.js
  admin-ui/package.json
Labels: comp-admin-ui

#579 [Snyk] Upgrade axios from 0.27.2 to 1.1.2
  admin-ui/package.json
  admin-ui/plugins/services/redux/api/index.js
Labels: comp-admin-ui

#596 fix: flex-linux-setup prompts
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#599 chore(main): release casa 5.0.0-3
  casa/CHANGELOG.md
  casa/app/pom.xml
  casa/config/pom.xml
  casa/plugins/bioid/pom.xml
  casa/plugins/cert-authn/pom.xml
  casa/plugins/client-authorizations/pom.xml
  casa/plugins/custom-branding/pom.xml
  casa/plugins/inwebo/pom.xml
  casa/plugins/samples/authentication-script-properties/pom.xml
  casa/plugins/samples/clients-management/pom.xml
  casa/plugins/samples/helloworld/pom.xml
  casa/plugins/samples/sample-cred-plugin/pom.xml
  casa/plugins/strong-authn-settings/pom.xml
  casa/plugins/stytch/pom.xml
  casa/pom.xml
  casa/shared/pom.xml
Labels: autorelease: pending

#600 chore(main): release docs 5.0.0-3
  docs/CHANGELOG.md
Labels: autorelease: pending

#601 chore(main): release docker-casa 5.0.0-3
  docker-casa/CHANGELOG.md
  docker-casa/version.txt
Labels: autorelease: pending

#602 chore(main): release docker-admin-ui 1.0.4-1
  docker-admin-ui/CHANGELOG.md
  docker-admin-ui/version.txt
Labels: autorelease: pending

#604 chore(main): release flex-linux-setup 1.0.4
  flex-linux-setup/CHANGELOG.md
  flex-linux-setup/flex_linux_setup/version.py
Labels: autorelease: pending

#605 chore(main): release admin-ui 1.0.4
  admin-ui/CHANGELOG.md
  admin-ui/package.json
Labels: autorelease: pending

#606 chore(main): release 5.0.0-3
  CHANGELOG.md
Labels: autorelease: pending

#611 [Snyk] Upgrade react-i18next from 11.18.6 to 12.0.0
  admin-ui/package.json
Labels: comp-admin-ui

#609 [Snyk] Upgrade i18next from 21.10.0 to 22.0.1
  admin-ui/package.json
Labels: comp-admin-ui
