Repository GluuFederation/flex, pull requests merged in 2023-08, with the labels that each got.

#1241 refactor(docker): avoid context collision on custom log4j2.xml
  docker-casa/jetty/log4j2.xml
  docker-casa/scripts/bootstrap.py
Labels: kind-enhancement, comp-docker-casa

#1242 docs: add couchbase helm instructions
  docs/install/helm-install/amazon-eks.md
  docs/install/helm-install/google-gke.md
  docs/install/helm-install/microsoft-azure.md
Labels: area-documentation

#1254 fix(admin-ui): jans-link source backend ldap servers field label changes #1253
  admin-ui/plugins/jans-link/components/Tabs/SourceBackendServersTab.js
Labels: comp-admin-ui, kind-bug

#1255 fix(admin-ui): Not able to add source backend ldap server in jans-link #1252
  admin-ui/plugins/jans-link/components/Tabs/ConfigurationTab.js
  admin-ui/plugins/jans-link/components/Tabs/CustomerBackendKeyTab.js
  admin-ui/plugins/jans-link/components/Tabs/InumDBServerTab.js
  admin-ui/plugins/jans-link/components/Tabs/SourceBackendServersTab.js
Labels: comp-admin-ui, kind-bug

#1256 feat(admin-ui): need api test cases for auth-server module #1251
  admin-ui/__tests__/setup.js
  admin-ui/package.json
  admin-ui/plugins/admin/redux/features/customScriptSlice.js
  admin-ui/plugins/admin/redux/sagas/CustomScriptSaga.js
  admin-ui/plugins/auth-server/_tests_/api/Agama.test.js
  admin-ui/plugins/auth-server/_tests_/api/AuthN.test.js
  admin-ui/plugins/auth-server/_tests_/api/Jwks.test.js
  admin-ui/plugins/auth-server/_tests_/api/Logging.test.js
  admin-ui/plugins/auth-server/_tests_/api/OIDCClient.test.js
  admin-ui/plugins/auth-server/_tests_/api/Properties.test.js
  admin-ui/plugins/auth-server/_tests_/api/Scopes.test.js
  admin-ui/plugins/auth-server/_tests_/api/Sessions.test.js
  admin-ui/plugins/auth-server/_tests_/api/Ssa.test.js
  admin-ui/plugins/auth-server/_tests_/api/setup.test.js
  admin-ui/plugins/auth-server/_tests_/components/ClientAddPage.test.js
  admin-ui/plugins/auth-server/_tests_/components/ClientDetailPage.test.js
  admin-ui/plugins/auth-server/_tests_/components/ClientEditPage.test.js
  admin-ui/plugins/auth-server/_tests_/components/ClientListPage.test.js
  admin-ui/plugins/auth-server/_tests_/components/ClientWizardForm.test.js
  admin-ui/plugins/auth-server/_tests_/components/clients.test.js
  admin-ui/plugins/auth-server/components/AuthN/AuthNEditPage.js
  admin-ui/plugins/auth-server/redux/api/SsaApi.js
  admin-ui/plugins/auth-server/redux/features/SsaSlice.js
  admin-ui/plugins/auth-server/redux/features/agamaSlice.js
  admin-ui/plugins/auth-server/redux/features/scopeSlice.js
  admin-ui/plugins/auth-server/redux/features/sessionSlice.js
  admin-ui/plugins/auth-server/redux/sagas/AgamaSaga.js
  admin-ui/plugins/auth-server/redux/sagas/AuthnSaga.js
  admin-ui/plugins/auth-server/redux/sagas/JsonConfigSaga.js
  admin-ui/plugins/auth-server/redux/sagas/LoggingSaga.js
  admin-ui/plugins/auth-server/redux/sagas/OAuthScopeSaga.js
  admin-ui/plugins/auth-server/redux/sagas/SessionSaga.js
  admin-ui/plugins/auth-server/redux/sagas/SsaSaga.js
Labels: comp-admin-ui, kind-feature

#1250 refactor(docker-casa): handle custom jetty.xml and webdefault.xml
  docker-casa/Dockerfile
  docker-casa/scripts/bootstrap.py
Labels: kind-enhancement, comp-docker-casa

#1259 fix(admin-ui): not able to save base dn in source backend ldap & inum db #1258
  admin-ui/plugins/jans-link/components/Tabs/InumDBServerTab.js
  admin-ui/plugins/jans-link/components/Tabs/SourceBackendServersTab.js
Labels: comp-admin-ui, kind-bug

#1265 feat(admin-ui): remove mysql and couchbase schema configuration menus from admin ui #1263
  admin-ui/plugins/services/plugin-metadata.js
Labels: comp-admin-ui, kind-feature

#1267 feat(admin-ui): remove Server IP Address field & ldap test action #1266
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/jans-link/components/Tabs/ConfigurationTab.js
  admin-ui/plugins/jans-link/components/Tabs/SourceBackendServersTab.js
Labels: comp-admin-ui, kind-feature

#1272 fix(admin-ui): source & destination react component malfunctioning #1269
  admin-ui/app/routes/Apps/Gluu/GluuProperties.js
  admin-ui/app/routes/Apps/Gluu/GluuPropertyItem.js
  admin-ui/plugins/admin/redux/features/customScriptSlice.js
  admin-ui/plugins/jans-link/components/Tabs/ConfigurationTab.js
Labels: comp-admin-ui, kind-bug

#1257 fix: inspect the cause of higher memory requirement in prod build creation #1243
  admin-ui/build/webpack.config.client.prod.js
  admin-ui/package.json
Labels: comp-admin-ui, kind-bug

#1281 fix(docs): autogenerate docs
  docs/reference/kubernetes/helm-chart.md
Labels: area-documentation, kind-bug

#1280 chore(main): release 5.0.0-16
  CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1279 chore(main): release admin-ui 1.0.16
  admin-ui/CHANGELOG.md
  admin-ui/package.json
Labels: area-documentation, comp-admin-ui, autorelease: pending, kind-dependencies

#1276 chore(main): release docker-admin-ui 1.0.16-1
  docker-admin-ui/CHANGELOG.md
  docker-admin-ui/version.txt
Labels: area-documentation, autorelease: pending, comp-docker-admin-ui, kind-dependencies

#1275 chore(main): release docker-casa 5.0.0-16
  docker-casa/CHANGELOG.md
  docker-casa/version.txt
Labels: area-documentation, autorelease: pending, kind-dependencies, comp-docker-casa

#1274 chore(main): release docs 5.0.0-16
  docs/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1286 docs: add ebs driver plugin and fix typo
  docs/install/helm-install/amazon-eks.md
  docs/install/helm-install/google-gke.md
  docs/install/helm-install/microsoft-azure.md
  docs/install/helm-install/rancher.md
Labels: area-documentation

#1285 feat(admin-ui): api test cases for admin-ui plugins #1284
  admin-ui/__tests__/setup.js
  admin-ui/app/components/BlockUi/BlockUi.js
  admin-ui/app/routes/Apps/Gluu/GluuBlockUI.js
  admin-ui/app/routes/Apps/Gluu/GluuFormDetailRow.js
  admin-ui/package.json
  admin-ui/plugins/admin/__tests__/api/Mapping.test.js
  admin-ui/plugins/admin/__tests__/api/UiRoles.test.js
  admin-ui/plugins/admin/components/CustomScripts/ScriptListPage.js
  admin-ui/plugins/auth-server/__tests__/components/ClientEditPage.test.js
  admin-ui/plugins/auth-server/__tests__/components/ClientListPage.test.js
  admin-ui/plugins/auth-server/components/Agama/AgamaListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientBasicPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientCibaParUmaPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientEditPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientWizardForm.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.test.js
  admin-ui/plugins/fido/__tests__/api/Fido.test.js
  admin-ui/plugins/fido/__tests__/api/setup.test.js
  admin-ui/plugins/fido/__tests__/components/FidoPage.test.js
  admin-ui/plugins/fido/redux/sagas/FidoSaga.js
  admin-ui/plugins/jans-link/__tests__/api/JansLink.test.js
  admin-ui/plugins/jans-link/__tests__/api/setup.test.js
  admin-ui/plugins/jans-link/components/CacheRefresh/BindPasswordModal.js
  admin-ui/plugins/jans-link/redux/sagas/CacheRefreshSaga.js
  admin-ui/plugins/schema/__tests__/api/Person.test.js
  admin-ui/plugins/schema/__tests__/components/AttributeAddPage.test.js
  admin-ui/plugins/schema/__tests__/components/AttributeDetailPage.test.js
  admin-ui/plugins/schema/__tests__/components/AttributeEditPage.test.js
  admin-ui/plugins/schema/__tests__/components/AttributeListPage.test.js
  admin-ui/plugins/schema/components/Person/AttributeListPage.js
  admin-ui/plugins/schema/redux/features/attributeSlice.js
  admin-ui/plugins/schema/redux/sagas/AttributeSaga.js
  admin-ui/plugins/services/Components/Configuration/CacheMemcached.js
  admin-ui/plugins/services/Components/Configuration/LdapAddPage.js
  admin-ui/plugins/services/Components/Configuration/LdapEditPage.js
  admin-ui/plugins/services/__tests__/api/Cache.test.js
  admin-ui/plugins/services/__tests__/api/Ldap.test.js
  admin-ui/plugins/services/redux/features/cacheSlice.js
  admin-ui/plugins/services/redux/features/ldapSlice.js
  admin-ui/plugins/services/redux/sagas/CacheSaga.js
  admin-ui/plugins/services/redux/sagas/LdapSaga.js
  admin-ui/plugins/smtp-management/__tests__/api/Smtp.test.js
  admin-ui/plugins/smtp-management/redux/features/smtpSlice.js
  admin-ui/plugins/smtp-management/redux/sagas/SmtpSaga.js
  admin-ui/plugins/user-management/__tests__/api/Users.test.js
  admin-ui/plugins/user-management/components/UserManagement/UserList.js
  admin-ui/plugins/user-management/redux/features/userSlice.js
  admin-ui/plugins/user-management/redux/sagas/UserSaga.js
Labels: comp-admin-ui, kind-feature

#1288 feat(admin-ui): jans-link UI changes #1287
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuCommitDialog.js
  admin-ui/app/routes/Apps/Gluu/GluuTabs.js
  admin-ui/plugins/jans-link/components/CacheRefresh/JansLinkPage.js
  admin-ui/plugins/jans-link/components/SourceBackendServers/SourceBackendServerForm.js
  admin-ui/plugins/jans-link/components/Tabs/SourceBackendServersTab.js
  admin-ui/plugins/jans-link/plugin-metadata.js
  admin-ui/plugins/jans-link/redux/features/CacheRefreshSlice.js
  admin-ui/plugins/jans-link/redux/sagas/CacheRefreshSaga.js
Labels: comp-admin-ui, kind-feature

#1291 feat(admin-ui): add favicon in admin ui #1290
  admin-ui/build/webpack.config.client.prod.js
Labels: comp-admin-ui, kind-feature

#1174 feat(admin-ui): changes in admin-ui license flow #1148
  admin-ui/app/redux/api/LicenseApi.js
  admin-ui/app/redux/features/initSlice.js
  admin-ui/app/redux/features/licenseSlice.js
  admin-ui/app/redux/sagas/LicenseSaga.js
  admin-ui/app/utils/ApiKeyRedirect.js
  admin-ui/app/utils/AppAuthProvider.js
  admin-ui/app/utils/LicenseScreens/ApiKey.js
  admin-ui/app/utils/LicenseScreens/LicenseKeyCards.js
  admin-ui/app/utils/LicenseScreens/style.css
  admin-ui/app/utils/Util.js
  admin-ui/openapi-merge.json
Labels: comp-admin-ui, kind-feature

#1296 fix(admin-ui): change admin ui license api spec branch in json file #1295
  admin-ui/openapi-merge.json
Labels: comp-admin-ui, kind-bug

#1298 chore(casa): upgrade nimbusds oauth2-oidc-sdk library
  casa/app/pom.xml
  casa/pom.xml
Labels: comp-casa, kind-dependencies

#1302 fix(admin-ui): resolve sass warnings on local dev server #1301
  admin-ui/app/components/Notifications/index.js
  admin-ui/package.json
Labels: comp-admin-ui, kind-bug

#1244 docs: documentation of admin-ui #1063
  docs/admin/admin-ui/auth-server-menu.md
  docs/admin/admin-ui/configuration.md
  docs/admin/admin-ui/dashboard.md
  docs/admin/admin-ui/fido-menu.md
  docs/admin/admin-ui/logs.md
  docs/admin/admin-ui/services-menu.md
  docs/admin/admin-ui/smtp-menu.md
  docs/assets/admin-ui/agama-deployment.png
  docs/assets/admin-ui/cache-configuration.png
  docs/assets/admin-ui/export-gama-config.png
  docs/assets/admin-ui/gama-details.png
  mkdocs.yml
Labels: area-documentation, comp-admin-ui

#1305 refactor(docker-admin-ui): reusable assets for custom image
  docker-admin-ui/Dockerfile
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/builder.py
  docker-admin-ui/scripts/entrypoint.sh
  docker-admin-ui/scripts/settings.py
  docker-admin-ui/scripts/ssa.py
  docker-admin-ui/templates/admin-ui/auiConfiguration.json
  docker-admin-ui/templates/admin-ui/clients.ldif
  docker-admin-ui/templates/admin-ui/env
  docker-admin-ui/templates/admin-ui/nginx-default.conf
Labels: comp-docker-admin-ui, kind-enhancement
