Repository GluuFederation/flex, pull requests merged in 2023-10, with the labels that each got.

#1354 fix(admin-ui): save form value of client in state while navigating between tabs #1341
  admin-ui/app/routes/Apps/Gluu/GluuTypeAheadForDn.js
  admin-ui/app/styles/components/wizard.scss
  admin-ui/plugins/auth-server/components/Clients/ClientAdvancedPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientBasicPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientCibaParUmaPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientEncryptionSigningPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientLogoutPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientScriptPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientSoftwarePanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientTokensPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientWizardForm.js
  admin-ui/plugins/auth-server/redux/features/oidcSlice.js
  admin-ui/plugins/auth-server/redux/features/scopeSlice.js
Labels: comp-admin-ui, kind-bug

#1339 fix(admin-ui): display of sidebar menu on small screen sizes #1338
  admin-ui/app/components/Layout/Layout.js
  admin-ui/app/components/SidebarTrigger/SidebarTrigger.js
  admin-ui/app/routes/Apps/Gluu/GluuNavBar.js
  admin-ui/app/styles/miltonbo/scss/_navbar.scss
Labels: comp-admin-ui, kind-bug

#1357 fix(admin-ui): allow user to login page on emtpy stat results #1356
  admin-ui/app/redux/sagas/LicenseSaga.js
Labels: comp-admin-ui, kind-bug

#1360 feat(admin-ui): add test cases in client wizard form #1358
  admin-ui/app/components/Wizard/WizardStep.js
  admin-ui/plugins/auth-server/__tests__/components/ClientWizardForm.test.js
  admin-ui/plugins/auth-server/components/Clients/ClientWizardForm.js
Labels: comp-admin-ui, kind-feature

#1371 docs: migrate casa from flex to jans
  docker-flex-monolith/README.md
  docs/admin/README.md
  docs/install/helm-install/google-gke.md
  docs/reference/kubernetes/docker-casa.md
  mkdocs.yml
Labels: area-documentation, comp-docker-flex-monolith

#1366 fix(flex-linux-setup): remove casa installer form flex setup
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/casa.default
  flex-linux-setup/flex_linux_setup/templates/casa.service
  flex-linux-setup/flex_linux_setup/templates/casa_apache_directive
  flex-linux-setup/flex_linux_setup/templates/casa_client.ldif
  flex-linux-setup/flex_linux_setup/templates/casa_config.ldif
  flex-linux-setup/flex_linux_setup/templates/casa_person_authentication_script.ldif
  flex-linux-setup/flex_linux_setup/templates/casa_scopes.json
Labels: comp-flex-linux-setup, kind-bug

#1374 docs: update suse.md
  docs/install/vm-install/suse.md
Labels: area-documentation

#1370 fix(admin-ui): isActive endpoint called twice on ssa upload #1369
  admin-ui/app/redux/sagas/LicenseSaga.js
Labels: comp-admin-ui, kind-bug

#1368 [Snyk] Upgrade react-router-dom from 6.11.2 to 6.16.0
  admin-ui/package.json
  admin-ui/plugins/auth-server/components/AuthN/AuthNEditPage.js
Labels: comp-admin-ui, kind-dependencies

#1367 [Snyk] Upgrade i18next from 22.5.1 to 23.5.1
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies

#1363 refactor(docs): align casa references to Jans Casa
  docs/admin/recipes/getting-started-rancher.md
Labels: area-documentation, kind-enhancement

#1385 chore(main): release 5.0.0-19
  CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1384 chore(main): release admin-ui 1.0.19
  admin-ui/CHANGELOG.md
  admin-ui/package.json
Labels: area-documentation, comp-admin-ui, autorelease: pending, kind-dependencies

#1381 chore(main): release docker-admin-ui 1.0.19-1
  docker-admin-ui/CHANGELOG.md
  docker-admin-ui/version.txt
Labels: area-documentation, autorelease: pending, comp-docker-admin-ui, kind-dependencies

#1380 chore(main): release docs 5.0.0-19
  docs/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1394 fix(admin-ui): authorization challenge type missing in custom script #1377
  admin-ui/app/routes/Apps/Gluu/GluuCustomScriptSearch.js
  admin-ui/package.json
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptForm.js
  admin-ui/plugins/admin/components/CustomScripts/ScriptListPage.js
  admin-ui/plugins/admin/components/CustomScripts/scriptTypes.js
  admin-ui/plugins/admin/redux/api/ScriptApi.js
  admin-ui/plugins/admin/redux/features/customScriptSlice.js
  admin-ui/plugins/admin/redux/sagas/CustomScriptSaga.js
Labels: comp-admin-ui, kind-bug

#1396 feat(flex-linux-setup): change client name
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.json
Labels: comp-flex-linux-setup, kind-feature

#1402 Version 1.0.20-SNAPSHOT
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup

#1395 Update certbot instruction
  docs/install/vm-install/rhel.md
  docs/install/vm-install/suse.md
  docs/install/vm-install/ubuntu.md
Labels: area-documentation

#1388 docs: rancher fixes
  docs/admin/recipes/getting-started-rancher.md
Labels: area-documentation

#1405 chore(docker-admin-ui): add lock support for admin-ui image
  docker-admin-ui/Dockerfile
  docker-admin-ui/requirements.txt
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/builder.py
  docker-admin-ui/scripts/ssa.py
  docker-admin-ui/templates/admin-ui/auiConfiguration.json
  docker-admin-ui/templates/admin-ui/clients.ldif
Labels: comp-admin-ui, comp-docker-admin-ui, kind-dependencies

#1401 docs: add tui instructions
  docs/install/helm-install/local.md
Labels: area-documentation

#1407 feat(flex-linux-setup): change admin-ui log location to /var/log/adminui
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-feature

#1412 fix: inaccuracy in displaying license details #1411
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Dashboards/DashboardPage.js
Labels: comp-admin-ui, kind-bug
