Repository GluuFederation/flex, pull requests merged in 2023-06, with the labels that each got.

#1064 feat(admin-ui): remove the redux boilerplate in admin using redux toolkit #1060
  admin-ui/app/redux/actions/InitActions.js
  admin-ui/app/redux/actions/LicenseDetailsActions.js
  admin-ui/app/redux/actions/MauActions.js
  admin-ui/app/redux/actions/index.js
  admin-ui/app/redux/actions/types.js
  admin-ui/app/redux/features/initSlice.js
  admin-ui/app/redux/features/licenseDetailsSlice.js
  admin-ui/app/redux/reducers/InitReducer.js
  admin-ui/app/redux/reducers/LicenseDetailsReducer.js
  admin-ui/app/redux/reducers/MauReducer.js
  admin-ui/app/redux/reducers/index.js
  admin-ui/app/redux/sagas/InitSaga.js
  admin-ui/app/redux/sagas/LicenseDetailsSaga.js
  admin-ui/app/redux/sagas/MauSaga.js
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/routes/Dashboards/DateRange/index.js
  admin-ui/app/routes/Dashboards/Reports/Reports.js
  admin-ui/app/routes/License/LicenseDetailsPage.js
  admin-ui/app/styles/miltonbo/scss/bootstrap/bootstrap.scss
  admin-ui/package.json
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptAddPage.js
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptEditPage.js
  admin-ui/plugins/admin/components/CustomScripts/ScriptListPage.js
  admin-ui/plugins/admin/components/MAU/MauGraph.js
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
  admin-ui/plugins/admin/components/Mapping/MappingPage.js
  admin-ui/plugins/admin/components/Permissions/UiPermListPage.js
  admin-ui/plugins/admin/components/Roles/UiRoleListPage.js
  admin-ui/plugins/admin/plugin-metadata.js
  admin-ui/plugins/admin/redux/actions/ApiPermissionActions.js
  admin-ui/plugins/admin/redux/actions/ApiRoleActions.js
  admin-ui/plugins/admin/redux/actions/CustomScriptActions.js
  admin-ui/plugins/admin/redux/actions/MappingActions.js
  admin-ui/plugins/admin/redux/actions/types.js
  admin-ui/plugins/admin/redux/features/apiPermissionSlice.js
  admin-ui/plugins/admin/redux/features/apiRoleSlice.js
  admin-ui/plugins/admin/redux/features/customScriptSlice.js
  admin-ui/plugins/admin/redux/features/mappingSlice.js
  admin-ui/plugins/admin/redux/features/mauSlice.js
  admin-ui/plugins/admin/redux/reducers/ApiPermissionReducer.js
  admin-ui/plugins/admin/redux/reducers/ApiRoleReducer.js
  admin-ui/plugins/admin/redux/reducers/CustomScriptReducer.js
  admin-ui/plugins/admin/redux/reducers/MappingReducer.js
  admin-ui/plugins/admin/redux/sagas/ApiPermissionSaga.js
  admin-ui/plugins/admin/redux/sagas/ApiRoleSaga.js
  admin-ui/plugins/admin/redux/sagas/CustomScriptSaga.js
  admin-ui/plugins/admin/redux/sagas/MappingSaga.js
  admin-ui/plugins/auth-server/components/AuthN/AuthNListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientAddPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientAddPage.test.js
  admin-ui/plugins/auth-server/components/Clients/ClientEditPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientEditPage.test.js
  admin-ui/plugins/auth-server/components/Configuration/ConfigPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeAddPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeEditPage.js
  admin-ui/plugins/auth-server/redux/features/scopeSlice.js
  admin-ui/plugins/user-management/components/UserManagement/UserList.js
Labels: comp-admin-ui, kind-feature

#1069 feat(admin-ui): remove the redux boilerplate in auth server using redux toolkit #1066
  admin-ui/app/redux/reducers/JsonConfigReducer.js
  admin-ui/app/redux/sagas/FidoSaga.js
  admin-ui/plugins/auth-server/components/Agama/AgamaListPage.js
  admin-ui/plugins/auth-server/components/AuthN/AuthNEditPage.js
  admin-ui/plugins/auth-server/components/AuthN/AuthNListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientAddPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientAddPage.test.js
  admin-ui/plugins/auth-server/components/Clients/ClientCibaParUmaPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientEditPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientEditPage.test.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientWizardForm.js
  admin-ui/plugins/auth-server/components/Configuration/ConfigPage.js
  admin-ui/plugins/auth-server/components/Configuration/Defaults/LoggingPage.js
  admin-ui/plugins/auth-server/components/Configuration/Keys/Jwks/JwksPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeForm.js
  admin-ui/plugins/auth-server/plugin-metadata.js
  admin-ui/plugins/auth-server/redux/actions/AcrsActions.js
  admin-ui/plugins/auth-server/redux/actions/AgamaActions.js
  admin-ui/plugins/auth-server/redux/actions/AuthActions.js
  admin-ui/plugins/auth-server/redux/actions/AuthnActions.js
  admin-ui/plugins/auth-server/redux/actions/HealthAction.js
  admin-ui/plugins/auth-server/redux/actions/JsonConfigActions.js
  admin-ui/plugins/auth-server/redux/actions/JwksActions.js
  admin-ui/plugins/auth-server/redux/actions/LoggingActions.js
  admin-ui/plugins/auth-server/redux/actions/OIDCActions.js
  admin-ui/plugins/auth-server/redux/actions/UMAResourceActions.js
  admin-ui/plugins/auth-server/redux/actions/types.js
  admin-ui/plugins/auth-server/redux/api/OIDCApi.js
  admin-ui/plugins/auth-server/redux/features/acrSlice.js
  admin-ui/plugins/auth-server/redux/features/agamaSlice.js
  admin-ui/plugins/auth-server/redux/features/authNSlice.js
  admin-ui/plugins/auth-server/redux/features/jsonConfigSlice.js
  admin-ui/plugins/auth-server/redux/features/jwksSlice.js
  admin-ui/plugins/auth-server/redux/features/loggingSlice.js
  admin-ui/plugins/auth-server/redux/features/oidcSlice.js
  admin-ui/plugins/auth-server/redux/features/umaResourceSlice.js
  admin-ui/plugins/auth-server/redux/reducers/AcrReducer.js
  admin-ui/plugins/auth-server/redux/reducers/AgamaReducer.js
  admin-ui/plugins/auth-server/redux/reducers/AuthNReducer.js
  admin-ui/plugins/auth-server/redux/reducers/JsonConfigReducer.js
  admin-ui/plugins/auth-server/redux/reducers/JwksReducer.js
  admin-ui/plugins/auth-server/redux/reducers/LoggingReducer.js
  admin-ui/plugins/auth-server/redux/reducers/OIDCReducer.js
  admin-ui/plugins/auth-server/redux/reducers/UMAResourceReducer.js
  admin-ui/plugins/auth-server/redux/sagas/AcrsSaga.js
  admin-ui/plugins/auth-server/redux/sagas/AgamaSaga.js
  admin-ui/plugins/auth-server/redux/sagas/AuthnSaga.js
  admin-ui/plugins/auth-server/redux/sagas/JsonConfigSaga.js
  admin-ui/plugins/auth-server/redux/sagas/JwksSaga.js
  admin-ui/plugins/auth-server/redux/sagas/LoggingSaga.js
  admin-ui/plugins/auth-server/redux/sagas/OAuthScopeSaga.js
  admin-ui/plugins/auth-server/redux/sagas/OIDCSaga.js
  admin-ui/plugins/auth-server/redux/sagas/SessionSaga.js
  admin-ui/plugins/auth-server/redux/sagas/UMAResourceSaga.js
  admin-ui/plugins/services/redux/actions/types.js
Labels: comp-admin-ui, kind-feature

#1072 feat(docker-admin-ui): set org_id as licenseHardwareKey
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/ssa.py
Labels: comp-docker-admin-ui, kind-feature

#1082 fix(admin-ui): session expiration dialog is not being displayed #1081
  admin-ui/app/routes/Apps/Gluu/GluuSessionTimeoutDialog.js
Labels: comp-admin-ui, kind-bug

#1080 fix: Storing ACR value is inserting inum instead of displayName #1079
  admin-ui/plugins/auth-server/components/Clients/ClientAdvancedPanel.js
Labels: comp-admin-ui, kind-bug

#1091 fix(docs): autogenerate docs
  docs/reference/kubernetes/helm-chart.md
Labels: area-documentation, kind-bug

#1090 chore(main): release 5.0.0-14
  CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1089 chore(main): release admin-ui 1.0.14
  admin-ui/CHANGELOG.md
  admin-ui/package.json
Labels: area-documentation, comp-admin-ui, autorelease: pending, kind-dependencies

#1088 chore(main): release flex-linux-setup 1.0.14
  flex-linux-setup/CHANGELOG.md
  flex-linux-setup/flex_linux_setup/version.py
Labels: area-documentation, comp-flex-linux-setup, autorelease: pending, kind-dependencies

#1087 chore(main): release flex-cn-setup 1.0.14
  flex-cn-setup/CHANGELOG.md
  flex-cn-setup/pygluu/kubernetes/version.py
Labels: area-documentation, comp-flex-cn-setup, autorelease: pending, kind-dependencies

#1086 chore(main): release docker-admin-ui 1.0.14-1
  docker-admin-ui/CHANGELOG.md
  docker-admin-ui/version.txt
Labels: area-documentation, autorelease: pending, comp-docker-admin-ui, kind-dependencies

#1085 chore(main): release docker-casa 5.0.0-14
  docker-casa/CHANGELOG.md
  docker-casa/version.txt
Labels: area-documentation, autorelease: pending, kind-dependencies, comp-docker-casa

#1095 fix(docker-admin-ui): incompatible py3-grpcio version
  docker-admin-ui/Dockerfile
Labels: comp-docker-admin-ui, kind-bug

#1096 fix(admin-ui): data not loading in admin dashboard #1093
  admin-ui/package.json
Labels: comp-admin-ui, kind-bug

#1065 feat(admin-ui): add feature in admin-ui to request trial license #1037
  admin-ui/app/redux/api/LicenseApi.js
  admin-ui/app/redux/features/licenseSlice.js
  admin-ui/app/redux/sagas/LicenseSaga.js
  admin-ui/app/utils/LicenseScreens/ApiKey.js
  admin-ui/app/utils/LicenseScreens/GenerateLicenseCard.js
  admin-ui/app/utils/LicenseScreens/LicenseKeyCards.js
  admin-ui/app/utils/LicenseScreens/style.css
Labels: comp-admin-ui, kind-feature

#1100 fix(admin-ui): app crashes on visiting attribute view screen #1099
  admin-ui/plugins/schema/components/Person/AttributeViewPage.js
Labels: comp-admin-ui, kind-bug

#1101 fix: correct image tag
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/values.yaml
Labels: comp-flex-cn-setup, kind-bug

#1105 fix: rename admin-ui plugin
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#1050 fix: adjust opendj permissions, image tag and remove unneeded initContainer
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/opendj/templates/statefulset.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/opendj/values.yaml
Labels: comp-flex-cn-setup, kind-bug

#1113 fix(flex-linux-setup): read profile from existing jans setup
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#1118 fix(admin-ui): unable to add openid scope while creating AS client #1115
  admin-ui/plugins/auth-server/components/Clients/ClientAddPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientBasicPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientEditPage.js
  admin-ui/plugins/auth-server/redux/features/scopeSlice.js
Labels: comp-admin-ui, kind-bug

#1122 fix(docker-admin-ui): error activating license key due to outdated assets
  docker-admin-ui/Dockerfile
  docker-admin-ui/Makefile
Labels: comp-docker-admin-ui, kind-bug

#1070 docs (admin-ui): documentation of admin-ui #1063
  docs/admin/admin-ui/admin-menu.md
  docs/admin/admin-ui/auth-server-menu.md
  docs/admin/admin-ui/dashboard.md
  docs/admin/admin-ui/introduction.md
  docs/assets/admin-ui/access-token-graph.png
  docs/assets/admin-ui/auth-server-configuration.png
  docs/assets/admin-ui/client.png
  docs/assets/admin-ui/custom-scripts.png
  docs/assets/admin-ui/dashboard.png
  docs/assets/admin-ui/dynamic-scope.png
  docs/assets/admin-ui/install-ssa.png
  docs/assets/admin-ui/jwks.png
  docs/assets/admin-ui/license-key-submit.png
  docs/assets/admin-ui/localization.png
  docs/assets/admin-ui/login-page.png
  docs/assets/admin-ui/mau.png
  docs/assets/admin-ui/openid-scope.png
  docs/assets/admin-ui/permission.png
  docs/assets/admin-ui/role-permission.png
  docs/assets/admin-ui/role.png
  docs/assets/admin-ui/sessions.png
  docs/assets/admin-ui/theme-selection.png
Labels: area-documentation, comp-admin-ui

#1128 fix: remove unneeded configuration snippet
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/templates/ingress.yaml
Labels: comp-flex-cn-setup, kind-bug

#1126 fix(flex-linux-setup): remove duo script
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#1138 fix(admin-ui): agama deployment page is inaccessible #1136
  admin-ui/plugins/auth-server/components/Agama/AgamaListPage.js
  admin-ui/plugins/auth-server/redux/features/agamaSlice.js
  admin-ui/plugins/auth-server/redux/sagas/AgamaSaga.js
Labels: comp-admin-ui, kind-bug

#1131 updated firewall and other instructions
  docs/install/vm-install/suse.md
  docs/install/vm-install/vm-requirements.md
Labels: area-documentation

#1134 Update ubuntu.md for flex changes
  docs/install/vm-install/ubuntu.md
Labels: area-documentation

#1135 Update vm doc rhel.md
  docs/install/vm-install/rhel.md
Labels: area-documentation

#1142 fix: use url base64 encoding in casa for enrollment
  casa/app/src/main/java/org/gluu/casa/plugins/authnmethod/rs/OTPEnrollingWS.java
  casa/app/src/main/java/org/gluu/casa/plugins/authnmethod/service/otp/HOTPAlgorithmService.java
  casa/app/src/main/java/org/gluu/casa/plugins/authnmethod/service/otp/TOTPAlgorithmService.java
  casa/app/src/main/java/org/gluu/casa/ui/vm/user/OTPViewModel.java
Labels: comp-casa, kind-bug

#1150 feat(flex-linux-setup): passwurd api keystore tweaks
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-feature

#1144 docs: fix RHEL VM instructions
  docs/install/vm-install/rhel.md
Labels: area-documentation

#1152 fix(admin-ui): sequential license api calls #1151
  admin-ui/app/utils/AppAuthProvider.js
Labels: comp-admin-ui, kind-bug

#1155 fix(flec-linux-setup): opHost changes
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.json
Labels: bug, comp-flex-linux-setup, kind-bug

#1139 docs(admin-ui): adding left navigation menu items#1137
  docs/admin/admin-ui/admin-menu.md
  docs/admin/admin-ui/auth-server-menu.md
  docs/admin/admin-ui/fido-menu.md
  docs/admin/admin-ui/left-nav-menu.md
  docs/admin/admin-ui/schema-menu.md
  docs/admin/admin-ui/services-menu.md
  docs/admin/admin-ui/smtp-menu.md
  docs/admin/admin-ui/userMgmt-menu.md
  docs/assets/admin-ui/authn.png
  docs/assets/admin-ui/person.png
  docs/assets/admin-ui/user-mgmt.png
Labels: area-documentation, comp-admin-ui

#1055 feat(admin-ui): plugin for Cache Refresh #1003
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuAppSidebar.js
  admin-ui/app/routes/Apps/Gluu/GluuProperties.js
  admin-ui/app/routes/Apps/Gluu/GluuPropertyItem.js
  admin-ui/app/routes/Apps/Gluu/GluuSelectRow.js
  admin-ui/app/utils/PermChecker.js
  admin-ui/openapi-merge.json
  admin-ui/package.json
  admin-ui/plugins.config.json
  admin-ui/plugins/cache-refresh/components/CacheRefresh/BindPasswordModal.js
  admin-ui/plugins/cache-refresh/components/CacheRefresh/CacheRefreshManagement.js
  admin-ui/plugins/cache-refresh/components/CacheRefresh/CacheRefreshManagement.test.js
  admin-ui/plugins/cache-refresh/components/Tabs/CacheRefreshTab.js
  admin-ui/plugins/cache-refresh/components/Tabs/CustomerBackendKeyTab.js
  admin-ui/plugins/cache-refresh/components/Tabs/InumDBServerTab.js
  admin-ui/plugins/cache-refresh/components/Tabs/SourceBackendServersTab.js
  admin-ui/plugins/cache-refresh/plugin-metadata.js
  admin-ui/plugins/cache-refresh/redux/api/CacheRefreshApi.js
  admin-ui/plugins/cache-refresh/redux/features/CacheRefreshSlice.js
  admin-ui/plugins/cache-refresh/redux/sagas/CacheRefreshSaga.js
Labels: comp-admin-ui, kind-feature

#1153 feat(admin-ui): ssa management using admin-ui #1140
  admin-ui/.env
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuLabel.js
  admin-ui/app/routes/Apps/Gluu/GluuTypeAhead.js
  admin-ui/app/utils/ApiResources.js
  admin-ui/app/utils/PermChecker.js
  admin-ui/plugins/auth-server/components/Clients/ClientAdvancedPanel.js
  admin-ui/plugins/auth-server/components/Ssa/SsaAddPage.js
  admin-ui/plugins/auth-server/components/Ssa/SsaDetailPage.js
  admin-ui/plugins/auth-server/components/Ssa/SsaListPage.js
  admin-ui/plugins/auth-server/plugin-metadata.js
  admin-ui/plugins/auth-server/redux/api/SsaApi.js
  admin-ui/plugins/auth-server/redux/features/SsaSlice.js
  admin-ui/plugins/auth-server/redux/sagas/SsaSaga.js
Labels: comp-admin-ui, kind-feature
