Repository GluuFederation/flex, pull requests merged in 2023-02, with the labels that each got.

#742 fix: error on getting API response from jans-config-api server #732
  admin-ui/openapi-merge.json
Labels: comp-admin-ui, kind-bug

#744 chore(docker): sync manifests from upstream
  docker-admin-ui/Dockerfile
  docker-admin-ui/templates/auiConfiguration.json
  docker-casa/Dockerfile
  docker-flex-monolith/Dockerfile
Labels: comp-docker-admin-ui, kind-dependencies, comp-docker-casa

#750 bug(casa): automatic script reload not working
  casa/app/src/main/java/org/gluu/casa/timer/AuthnScriptsReloader.java
Labels: comp-casa

#751 fix: pf4j annotation processing
  casa/config/pom.xml
  casa/pom.xml
Labels: comp-casa, kind-bug

#753 bug(casa): fix compilation issues
  casa/config/pom.xml
  casa/plugins/cert-authn/pom.xml
  casa/plugins/custom-branding/pom.xml
  casa/plugins/strong-authn-settings/pom.xml
  casa/pom.xml
Labels: comp-casa

#747 fix(docker-casa): adjust permission to allow creating administrable lock file
  docker-casa/Dockerfile
Labels: kind-bug, comp-docker-casa

#756 bug(casa): automatic script reload not working
  casa/app/src/main/java/org/gluu/casa/timer/AuthnScriptsReloader.java
Labels: comp-casa

#755 chore(flex-linux-setup): adjust jans version, bump to 1.0.7
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-dependencies

#761 fix: flex-linux-setup remove Casa.py
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: bug, comp-flex-linux-setup, kind-bug

#763 chore(docker-casa): update dependencies to reduce vulnerabilities
  docker-casa/Dockerfile
Labels: kind-dependencies, comp-docker-casa

#767 docs: updated package location address
  docs/install/vm-install/ubuntu.md
Labels: area-documentation

#770 docs: initial VM installation package instructions
  docs/install/vm-install/rhel.md
  docs/install/vm-install/suse.md
  docs/install/vm-install/ubuntu.md
Labels: area-documentation

#779 chore(main): release admin-ui 1.0.7
  admin-ui/CHANGELOG.md
  admin-ui/package.json
Labels: area-documentation, comp-admin-ui, autorelease: pending, kind-dependencies

#778 chore(main): release flex-linux-setup 1.0.7
  flex-linux-setup/CHANGELOG.md
  flex-linux-setup/flex_linux_setup/version.py
Labels: area-documentation, comp-flex-linux-setup, autorelease: pending, kind-dependencies

#777 chore(main): release flex-cn-setup 1.0.7
  flex-cn-setup/CHANGELOG.md
  flex-cn-setup/pygluu/kubernetes/version.py
Labels: area-documentation, comp-flex-cn-setup, autorelease: pending, kind-dependencies

#776 chore(main): release docker-admin-ui 1.0.7-1
  docker-admin-ui/CHANGELOG.md
  docker-admin-ui/version.txt
Labels: area-documentation, autorelease: pending, comp-docker-admin-ui, kind-dependencies

#775 chore(main): release docker-casa 5.0.0-7
  docker-casa/CHANGELOG.md
  docker-casa/version.txt
Labels: area-documentation, autorelease: pending, kind-dependencies, comp-docker-casa

#774 chore(main): release docs 5.0.0-7
  docs/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#780 chore(main): release 5.0.0-7
  CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#781 chore(main): release casa 5.0.0-7
  casa/CHANGELOG.md
  casa/app/pom.xml
  casa/config/pom.xml
  casa/plugins/bioid/pom.xml
  casa/plugins/cert-authn/pom.xml
  casa/plugins/client-authorizations/pom.xml
  casa/plugins/custom-branding/pom.xml
  casa/plugins/inwebo/pom.xml
  casa/plugins/samples/authentication-script-properties/pom.xml
  casa/plugins/samples/clients-management/pom.xml
  casa/plugins/samples/helloworld/pom.xml
  casa/plugins/samples/sample-cred-plugin/pom.xml
  casa/plugins/strong-authn-settings/pom.xml
  casa/plugins/stytch/pom.xml
  casa/pom.xml
  casa/shared/pom.xml
Labels: autorelease: pending

#783 fix(flex-linux-setup) download exit
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#771 feat: Admin UI License Registration
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.json
Labels: comp-flex-linux-setup, kind-feature

#764 fix(casa): errors in casa script
  casa/app/src/main/java/org/gluu/casa/core/model/Fido2RegistrationEntry.java
  casa/app/src/main/java/org/gluu/casa/core/pojo/SuperGluuDevice.java
  casa/app/src/main/java/org/gluu/casa/misc/CustomClassLoader.java
  casa/app/src/main/java/org/gluu/casa/plugins/authnmethod/SecurityKey2Extension.java
  casa/app/src/main/java/org/gluu/casa/plugins/authnmethod/rs/SuperGluuEnrollingWS.java
  casa/app/src/main/java/org/gluu/casa/plugins/authnmethod/service/Fido2Service.java
  casa/app/src/main/java/org/gluu/casa/plugins/authnmethod/service/FidoService.java
  casa/app/src/main/java/org/gluu/casa/plugins/authnmethod/service/SGService.java
  casa/app/src/main/java/org/gluu/casa/ui/vm/user/SecurityKey2ViewModel.java
  casa/app/src/main/java/org/gluu/casa/ui/vm/user/SuperGluuViewModel.java
  casa/extras/Casa.py
  casa/extras/casa-external_fido2.py
  casa/extras/casa-external_super_gluu.py
  casa/shared/src/main/java/org/gluu/casa/misc/WebUtils.java
Labels: comp-casa, kind-bug

#789 docs: added version keywords
  docs/install/vm-install/rhel.md
  docs/install/vm-install/suse.md
  docs/install/vm-install/ubuntu.md
Labels: area-documentation
