Repository GluuFederation/flex, pull requests merged in 2023-03, with the labels that each got.

#794 chore(docker): update image dependencies
  docker-admin-ui/Dockerfile
  docker-admin-ui/requirements.txt
  docker-casa/Dockerfile
  docker-casa/requirements.txt
  docker-flex-monolith/Dockerfile
Labels: comp-docker-admin-ui, kind-dependencies, comp-docker-casa, comp-docker-flex-monolith

#797 docs: installation landing page, ubuntu 22 updates
  docs/install/README.md
  docs/install/vm-install/README.md
  docs/install/vm-install/ubuntu.md
  mkdocs.yml
Labels: area-documentation

#782 chore(main): release casa 5.0.0-SNAPSHOT
  casa/app/pom.xml
  casa/config/pom.xml
  casa/plugins/bioid/pom.xml
  casa/plugins/cert-authn/pom.xml
  casa/plugins/client-authorizations/pom.xml
  casa/plugins/custom-branding/pom.xml
  casa/plugins/inwebo/pom.xml
  casa/plugins/samples/authentication-script-properties/pom.xml
  casa/plugins/samples/clients-management/pom.xml
  casa/plugins/samples/helloworld/pom.xml
  casa/plugins/samples/sample-cred-plugin/pom.xml
  casa/plugins/strong-authn-settings/pom.xml
  casa/plugins/stytch/pom.xml
  casa/pom.xml
  casa/shared/pom.xml
Labels: comp-casa, kind-dependencies, autorelease: snapshot

#799 chore(main): release docs 5.0.0-8
  docs/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#800 chore(main): release docker-casa 5.0.0-8
  docker-casa/CHANGELOG.md
  docker-casa/version.txt
Labels: area-documentation, autorelease: pending, kind-dependencies, comp-docker-casa

#801 chore(main): release docker-admin-ui 1.0.8-1
  docker-admin-ui/CHANGELOG.md
  docker-admin-ui/version.txt
Labels: area-documentation, autorelease: pending, comp-docker-admin-ui, kind-dependencies

#802 chore(main): release flex-cn-setup 1.0.8
  flex-cn-setup/CHANGELOG.md
  flex-cn-setup/pygluu/kubernetes/version.py
Labels: area-documentation, comp-flex-cn-setup, autorelease: pending, kind-dependencies

#804 chore(main): release admin-ui 1.0.8
  admin-ui/CHANGELOG.md
  admin-ui/package.json
Labels: area-documentation, comp-admin-ui, autorelease: pending, kind-dependencies

#805 chore(main): release 5.0.0-8
  CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#809 fix(admin-ui): fix edit and view pages issue
  admin-ui/plugins/admin/components/CustomScripts/ScriptListPage.js
  admin-ui/plugins/admin/plugin-metadata.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.js
  admin-ui/plugins/auth-server/plugin-metadata.js
  admin-ui/plugins/schema/components/Person/AttributeListPage.js
  admin-ui/plugins/schema/plugin-metadata.js
  admin-ui/plugins/services/Components/Configuration/LdapListPage.js
  admin-ui/plugins/services/Components/Configuration/SqlListPage.js
  admin-ui/plugins/services/plugin-metadata.js
  admin-ui/plugins/user-management/components/UserManagement/UserList.js
  admin-ui/plugins/user-management/plugin-metadata.js
Labels: comp-admin-ui, kind-bug

#810 fix: redirect_uris is mandatory if grant_types is not selected #807
  admin-ui/plugins/auth-server/components/Clients/ClientWizardForm.js
Labels: comp-admin-ui, kind-bug

#811 fix(docs): autogenerate docs
  docs/reference/kubernetes/helm-chart.md
Labels: area-documentation, kind-bug

#784 feat(flex-linux-setup): Admin UI License Registration
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.json
Labels: comp-flex-linux-setup, kind-feature

#818 fix(flex-linux-setup): decoding ssa jwt
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#820 fix(docs): ubuntu install download location
  docs/install/vm-install/ubuntu.md
Labels: area-documentation, kind-bug

#817 feat: admin ui license registration #497
  admin-ui/app/redux/actions/LicenseActions.js
  admin-ui/app/redux/actions/types.js
  admin-ui/app/redux/api/LicenseApi.js
  admin-ui/app/redux/reducers/LicenseReducer.js
  admin-ui/app/redux/sagas/LicenseSaga.js
  admin-ui/app/utils/LicenseScreens/ApiKey.js
Labels: comp-admin-ui, kind-feature

#825 feat: change error message#497
  admin-ui/app/utils/ApiKeyRedirect.js
  admin-ui/app/utils/ViewRedirect.js
Labels: comp-admin-ui, kind-feature

#824 fix(flex-linux-setup) grab oidc client registration url from ssa
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.json
Labels: comp-flex-linux-setup, kind-bug

#821 docs: updated install scripts with SSA and download location corrections
  docs/install/vm-install/rhel.md
  docs/install/vm-install/suse.md
  docs/install/vm-install/ubuntu.md
Labels: area-documentation

#827 fix(flex-linux-setup): set flex version 1.0.9
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: bug, comp-flex-linux-setup, kind-bug

#829 fix(flex-linux-setup): no download for deb/rpm packages
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#839 chore(main): release casa 5.0.0-9
  casa/CHANGELOG.md
Labels: area-documentation, comp-casa, autorelease: pending, kind-dependencies

#837 chore(main): release 5.0.0-9
  CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#836 chore(main): release admin-ui 1.0.9
  admin-ui/CHANGELOG.md
  admin-ui/package.json
Labels: area-documentation, comp-admin-ui, autorelease: pending, kind-dependencies

#835 chore(main): release flex-linux-setup 1.0.9
  flex-linux-setup/CHANGELOG.md
  flex-linux-setup/flex_linux_setup/version.py
Labels: area-documentation, comp-flex-linux-setup, autorelease: pending, kind-dependencies

#834 chore(main): release flex-cn-setup 1.0.9
  flex-cn-setup/CHANGELOG.md
  flex-cn-setup/pygluu/kubernetes/version.py
Labels: area-documentation, comp-flex-cn-setup, autorelease: pending, kind-dependencies

#833 chore(main): release docker-admin-ui 1.0.9-1
  docker-admin-ui/CHANGELOG.md
  docker-admin-ui/version.txt
Labels: area-documentation, autorelease: pending, comp-docker-admin-ui, kind-dependencies

#832 chore(main): release docker-casa 5.0.0-9
  docker-casa/CHANGELOG.md
  docker-casa/version.txt
Labels: area-documentation, autorelease: pending, kind-dependencies, comp-docker-casa

#841 fix(admin-ui): Tab skip tooltip and make middle name not required field
  admin-ui/app/routes/Apps/Gluu/GluuLabel.js
  admin-ui/plugins/user-management/components/UserManagement/UserForm.js
Labels: comp-admin-ui, kind-bug

#846 fix(flex-linux-setup): enforce SSA
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#844 feat(docker-admin-ui): admin-ui license registration
  docker-admin-ui/Dockerfile
  docker-admin-ui/README.md
  docker-admin-ui/requirements.txt
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/ssa.py
  docker-admin-ui/scripts/wait.py
  docker-admin-ui/templates/auiConfiguration.json
Labels: area-documentation, comp-docker-admin-ui, kind-feature

#847 feat(admin-ui): Change design for backend error
  admin-ui/app/routes/Apps/Gluu/GluuErrorModal.js
  admin-ui/app/utils/ApiKeyRedirect.js
  admin-ui/app/utils/ViewRedirect.js
Labels: comp-admin-ui, kind-feature

#842 Update README.md
  flex-linux-setup/README.md
Labels: area-documentation, comp-flex-linux-setup

#840 docs: aligned links with new package names
  docs/install/vm-install/ubuntu.md
Labels: area-documentation

#838 fix(docs): autogenerate docs
  docs/reference/kubernetes/helm-chart.md
Labels: area-documentation, kind-bug

#849 fix(admin-ui): fix properties page blank issues
  admin-ui/app/components/OuterClick/OuterClick.js
  admin-ui/plugins/auth-server/components/Configuration/JsonPropertyBuilder.js
Labels: comp-admin-ui, kind-bug

#852 fix(admin-ui): fix default authentication method.
  admin-ui/plugins/auth-server/components/Configuration/DefaultAcrInput.js
Labels: comp-admin-ui, kind-bug

#850 Update README.md
  flex-linux-setup/README.md
Labels: area-documentation, comp-flex-linux-setup

#857 chore(main): release casa 5.0.1-9-SNAPSHOT
  casa/app/pom.xml
  casa/config/pom.xml
  casa/plugins/bioid/pom.xml
  casa/plugins/cert-authn/pom.xml
  casa/plugins/client-authorizations/pom.xml
  casa/plugins/custom-branding/pom.xml
  casa/plugins/inwebo/pom.xml
  casa/plugins/samples/authentication-script-properties/pom.xml
  casa/plugins/samples/clients-management/pom.xml
  casa/plugins/samples/helloworld/pom.xml
  casa/plugins/samples/sample-cred-plugin/pom.xml
  casa/plugins/strong-authn-settings/pom.xml
  casa/plugins/stytch/pom.xml
  casa/pom.xml
  casa/shared/pom.xml
Labels: comp-casa, kind-dependencies, autorelease: snapshot

#864 chore(main): release 5.0.0-10
  CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#862 chore(main): release flex-linux-setup 1.0.10
  flex-linux-setup/CHANGELOG.md
  flex-linux-setup/flex_linux_setup/version.py
Labels: area-documentation, comp-flex-linux-setup, autorelease: pending, kind-dependencies

#861 chore(main): release flex-cn-setup 1.0.10
  flex-cn-setup/CHANGELOG.md
  flex-cn-setup/pygluu/kubernetes/version.py
Labels: area-documentation, comp-flex-cn-setup, autorelease: pending, kind-dependencies

#859 chore(main): release docker-casa 5.0.0-10
  docker-casa/CHANGELOG.md
  docker-casa/version.txt
Labels: area-documentation, autorelease: pending, kind-dependencies, comp-docker-casa

#858 chore(main): release docs 5.0.0-10
  docs/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#869 fix(docker-casa): image build failed due to mismatched version
  docker-casa/Dockerfile
Labels: kind-bug, comp-docker-casa

#871 chore(docker): update image labels to reflect ghcr migration
  .github/workflows/docker_build_image.yml
  automation/auto_update_image_pr.py
  docker-admin-ui/Dockerfile
  docker-admin-ui/Makefile
  docker-casa/Dockerfile
  docker-casa/Makefile
  docker-flex-monolith/Dockerfile
  docker-flex-monolith/Makefile
Labels: area-CI, comp-docker-admin-ui, kind-dependencies, comp-docker-casa, comp-docker-flex-monolith

#876 fix: newly added scope is not showing #812
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.js
Labels: comp-admin-ui, kind-bug

#875 fix: labels are not appearing in admin ui profile in dark mode #855
  admin-ui/app/components/UncontrolledTabs/UncontrolledTabsNavLink.js
  admin-ui/app/routes/Apps/Profile/ProfilePage.js
  admin-ui/app/routes/components/HeaderMain.js
  admin-ui/app/routes/components/Profile.js
Labels: comp-admin-ui, kind-bug

#878 fix(flex-linux-setup): don't assk ssa when provided in args
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#729 feat(admin-ui): Implement search on properties page
  admin-ui/plugins/auth-server/components/Configuration/ConfigPage.js
Labels: comp-admin-ui, kind-feature

#883 feat(admin-ui): Create Agama Tab in Admin UI
  admin-ui/app/locales/en/translation.json
  admin-ui/app/utils/PermChecker.js
  admin-ui/package.json
  admin-ui/plugins/auth-server/components/Agama/AgamaListPage.js
  admin-ui/plugins/auth-server/plugin-metadata.js
  admin-ui/plugins/auth-server/redux/actions/AgamaActions.js
  admin-ui/plugins/auth-server/redux/actions/types.js
  admin-ui/plugins/auth-server/redux/api/AgamaApi.js
  admin-ui/plugins/auth-server/redux/reducers/AgamaReducer.js
  admin-ui/plugins/auth-server/redux/sagas/AgamaSaga.js
Labels: comp-admin-ui, kind-feature

#880 fix: Can't load all scopes #790
  admin-ui/app/routes/Apps/Gluu/GluuTypeAheadForDn.js
  admin-ui/app/utils/Util.js
  admin-ui/plugins/auth-server/common/Constants.js
  admin-ui/plugins/auth-server/components/Clients/ClientAddPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientBasicPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientEditPage.js
  admin-ui/plugins/auth-server/redux/actions/ScopeActions.js
  admin-ui/plugins/auth-server/redux/actions/types.js
  admin-ui/plugins/auth-server/redux/reducers/ScopeReducer.js
  admin-ui/plugins/auth-server/redux/sagas/OAuthScopeSaga.js
Labels: comp-admin-ui, kind-bug

#887 feat(admin-ui): add feature to upload .jwt file
  admin-ui/app/redux/actions/LicenseActions.js
  admin-ui/app/redux/actions/types.js
  admin-ui/app/redux/api/LicenseApi.js
  admin-ui/app/redux/reducers/LicenseReducer.js
  admin-ui/app/redux/sagas/LicenseSaga.js
  admin-ui/app/utils/ApiKeyRedirect.js
  admin-ui/app/utils/AppAuthProvider.js
  admin-ui/app/utils/UploadSSA.js
Labels: comp-admin-ui, kind-feature

#881 docs: updated SUSE install link
  docs/install/vm-install/suse.md
Labels: area-documentation
