Repository GluuFederation/flex, pull requests merged in 2023-07, with the labels that each got.

#1159 fix(admin-ui): page goes blank on random users search #1158
  admin-ui/plugins/schema/presentation/pages/AttributeListPage.tsx
  admin-ui/plugins/user-management/components/UserManagement/UserList.js
Labels: comp-admin-ui, kind-bug

#1160 docs: add package removal commands and other minor updates
  docs/install/vm-install/rhel.md
  docs/install/vm-install/suse.md
  docs/install/vm-install/ubuntu.md
Labels: area-documentation

#1166 chore(flex-cn-setup): remove duo script from flex
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/templates/configmaps.yaml
Labels: comp-flex-cn-setup, kind-dependencies

#1162 chore(docker-admin-ui): change opHost value
  docker-admin-ui/Dockerfile
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/templates/auiConfiguration.json
Labels: comp-docker-admin-ui, kind-dependencies

#1164 fix(admin-ui): show an error screen on license api timeout #1163
  admin-ui/app/redux/api/base.js
  admin-ui/app/redux/features/initSlice.js
  admin-ui/app/redux/features/licenseSlice.js
  admin-ui/app/redux/sagas/LicenseSaga.js
  admin-ui/app/redux/store/index.ts
  admin-ui/app/routes/Apps/Gluu/GluuTimeoutModal.js
  admin-ui/app/utils/ApiKeyRedirect.js
  admin-ui/app/utils/ApiUtils.js
  admin-ui/app/utils/AppAuthProvider.js
  admin-ui/build/webpack.config.client.dev.js
  admin-ui/build/webpack.config.client.prod.js
  admin-ui/plugins/fido/domain/use-cases/dynamicConfigUseCases.ts
  admin-ui/plugins/fido/domain/use-cases/fidoUseCases.ts
  admin-ui/plugins/fido/domain/use-cases/staticConfigUseCases.ts
Labels: comp-admin-ui, kind-bug

#1170 ci(docker): incorrect image build version
  docker-admin-ui/Makefile
  docker-casa/Dockerfile
  docker-casa/Makefile
Labels: area-CI, comp-docker-admin-ui, comp-docker-casa

#1173 docs(super gluu): updates to align with Flex
  docs/assets/supergluu/admin-guide/Flex_Super_Gluu_2.png
  docs/assets/supergluu/admin-guide/Flex_UI_SuperGluu_script.png
  docs/supergluu/admin-guide/index.md
  docs/supergluu/developer-guide/index.md
  docs/supergluu/index.md
  docs/supergluu/user-guide/index.md
  mkdocs.yml
Labels: area-documentation

#1177 fix(admin-ui): api timeout popup modification #1175
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/redux/features/initSlice.js
  admin-ui/app/routes/Apps/Gluu/GluuErrorModal.js
  admin-ui/app/routes/Apps/Gluu/GluuTimeoutModal.js
  admin-ui/app/utils/AppAuthProvider.js
Labels: comp-admin-ui, kind-bug

#1181 fix(admin-ui): issues in admin-ui #1165
  admin-ui/app/components/Notifications/index.js
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuAppSidebar.js
  admin-ui/app/routes/Apps/Gluu/GluuTypeAhead.js
  admin-ui/app/routes/Dashboards/Chart/DashboardChart.js
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/utils/ApiResources.js
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
  admin-ui/plugins/admin/components/Permissions/UiPermDetailPage.js
  admin-ui/plugins/admin/components/Permissions/UiPermListPage.js
  admin-ui/plugins/admin/components/Roles/UiRoleDetailPage.js
  admin-ui/plugins/admin/redux/features/apiPermissionSlice.js
  admin-ui/plugins/admin/redux/features/mappingSlice.js
  admin-ui/plugins/admin/redux/sagas/ApiPermissionSaga.js
  admin-ui/plugins/auth-server/components/AuthN/AuthNDetailPage.js
  admin-ui/plugins/auth-server/components/Ssa/SsaDetailPage.js
  admin-ui/plugins/cache-refresh/components/CacheRefresh/CacheRefreshManagement.js
  admin-ui/plugins/cache-refresh/components/Tabs/SourceBackendServersTab.js
  admin-ui/plugins/cache-refresh/plugin-metadata.js
  admin-ui/plugins/schema/presentation/pages/AttributeListPage.tsx
Labels: comp-admin-ui, kind-bug

#1183 fix(admin-ui): remove agama developer studio #1182
  admin-ui/plugins/auth-server/redux/api/AgamaApi.js
Labels: comp-admin-ui, kind-bug

#1184 feat: retry license requests if there is timeout #1176
  admin-ui/app/redux/api/LicenseApi.js
  admin-ui/app/redux/api/LicenseDetailsApi.js
  admin-ui/app/utils/ApiUtils.js
Labels: comp-admin-ui, kind-feature

#1187 [Snyk] Fix for 1 vulnerabilities
  casa/pom.xml
Labels: comp-casa, kind-dependencies

#1186 fix(admin-ui): rename cache-refresh to jans-link #1185
  admin-ui/app/utils/PermChecker.js
  admin-ui/openapi-merge.json
  admin-ui/plugins.config.json
  admin-ui/plugins/cache-refresh/plugin-metadata.js
  admin-ui/plugins/jans-link/components/CacheRefresh/BindPasswordModal.js
  admin-ui/plugins/jans-link/components/CacheRefresh/JansLinkPage.js
  admin-ui/plugins/jans-link/components/CacheRefresh/JansLinkPage.test.js
  admin-ui/plugins/jans-link/components/Tabs/CacheRefreshTab.js
  admin-ui/plugins/jans-link/components/Tabs/CustomerBackendKeyTab.js
  admin-ui/plugins/jans-link/components/Tabs/InumDBServerTab.js
  admin-ui/plugins/jans-link/components/Tabs/SourceBackendServersTab.js
  admin-ui/plugins/jans-link/plugin-metadata.js
  admin-ui/plugins/jans-link/redux/api/CacheRefreshApi.js
  admin-ui/plugins/jans-link/redux/features/CacheRefreshSlice.js
  admin-ui/plugins/jans-link/redux/sagas/CacheRefreshSaga.js
Labels: comp-admin-ui, kind-bug

#1189 docs(casa): remove references to Gluu Flex and dev guide
  docs/admin/casa/README.md
  docs/admin/casa/template.md
  docs/casa/administration/2fa-basics.md
  docs/casa/administration/admin-console.md
  docs/casa/administration/change-context-path.md
  docs/casa/administration/credentials-stored.md
  docs/casa/administration/custom-branding.md
  docs/casa/administration/faq.md
  docs/casa/administration/installation.md
  docs/casa/administration/localization.md
  docs/casa/index.md
  docs/casa/plugins/2fa-settings.md
  docs/casa/plugins/bioid.md
  docs/casa/plugins/consent-management.md
  docs/casa/plugins/custom-branding.md
  docs/casa/quick-start.md
  docs/casa/user-guide.md
  mkdocs.yml
Labels: area-documentation, comp-casa

#1192 feat(flex-linux-setup): option --no-restart-services
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-feature

#1197 fix(flex-linux-setup): strip inputs
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: bug, comp-flex-linux-setup, kind-bug

#1208 fix(docs): autogenerate docs
  docs/reference/kubernetes/helm-chart.md
Labels: area-documentation, kind-bug

#1207 chore(main): release 5.0.0-15
  CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1206 chore(main): release admin-ui 1.0.15
  admin-ui/CHANGELOG.md
Labels: area-documentation, comp-admin-ui, autorelease: pending, kind-dependencies

#1203 chore(main): release docker-admin-ui 1.0.15-1
  docker-admin-ui/CHANGELOG.md
  docker-admin-ui/version.txt
Labels: area-documentation, autorelease: pending, comp-docker-admin-ui, kind-dependencies

#1202 chore(main): release docker-casa 5.0.0-15
  docker-casa/CHANGELOG.md
  docker-casa/version.txt
Labels: area-documentation, autorelease: pending, kind-dependencies, comp-docker-casa

#1201 chore(main): release docs 5.0.0-15
  docs/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1198 fix(admin-ui): remove unnecessary HTTP requests from UI #1190
  admin-ui/app/redux/features/authSlice.js
  admin-ui/app/redux/sagas/AuthSaga.js
  admin-ui/app/redux/sagas/LicenseSaga.js
  admin-ui/app/redux/store/index.ts
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/utils/AppAuthProvider.js
  admin-ui/plugins/user-management/components/UserManagement/UserList.js
Labels: comp-admin-ui, kind-bug

#1212 fix(admin-ui): jans-link save in admin-ui not working due changes in api #1194
  admin-ui/plugins/jans-link/components/CacheRefresh/JansLinkPage.test.js
  admin-ui/plugins/jans-link/components/Tabs/CacheRefreshTab.js
  admin-ui/plugins/jans-link/components/Tabs/InumDBServerTab.js
Labels: comp-admin-ui, kind-bug

#1211 fix(admin-ui): tooltips missing in SSA Management form #1199
  admin-ui/plugins/auth-server/components/Ssa/SsaAddPage.js
Labels: comp-admin-ui, kind-bug

#1215 fix(admin-ui): smtp configuration test is failing #1209
  admin-ui/plugins/smtp-management/redux/sagas/SmtpSaga.js
Labels: comp-admin-ui, kind-bug

#1216 fix(admin-ui): change bind password not working #1214
  admin-ui/plugins/jans-link/components/Tabs/InumDBServerTab.js
  admin-ui/plugins/jans-link/components/Tabs/SourceBackendServersTab.js
Labels: comp-admin-ui, kind-bug

#1218 fix(admin-ui): jans-link not opening in admin-ui after running job #1217
  admin-ui/plugins/jans-link/components/Tabs/CacheRefreshTab.js
Labels: comp-admin-ui, kind-bug

#1180 Update suse.md for enable package
  docs/install/vm-install/suse.md
Labels: area-documentation

#1224 feat(admin-ui): replace all checkboxes with switch buttons #1219
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuScriptErrorModal.js
  admin-ui/app/routes/Apps/Gluu/GluuToogle.js
  admin-ui/app/routes/Apps/Gluu/GluuToogleRow.js
  admin-ui/app/routes/components/Gallery/GalleryCard.js
  admin-ui/app/routes/components/Tasks/TasksCardGrid.js
  admin-ui/app/routes/components/Users/UsersCardGrid.js
  admin-ui/app/routes/components/Users/UsersLeftNav.js
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptAddPage.js
  admin-ui/plugins/admin/components/Roles/RoleAddDialogForm.js
  admin-ui/plugins/auth-server/components/Configuration/Defaults/LoggingPage.js
  admin-ui/plugins/jans-link/components/Tabs/CacheRefreshTab.js
  admin-ui/plugins/jans-link/components/Tabs/InumDBServerTab.js
  admin-ui/plugins/jans-link/components/Tabs/SourceBackendServersTab.js
  admin-ui/plugins/services/Components/Configuration/LdapForm.js
  admin-ui/plugins/services/Components/Configuration/LdapListPage.js
Labels: comp-admin-ui, kind-feature

#1227 fix(admin-ui): custom script with location type file is not saving #1226
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptEditPage.js
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptForm.js
Labels: comp-admin-ui, kind-bug

#1231 feat: adding PKCE in admin-ui authentication #1221
  admin-ui/app/redux/api/backend-api.js
  admin-ui/app/redux/features/authSlice.js
  admin-ui/app/redux/sagas/AuthSaga.js
  admin-ui/app/utils/AppAuthProvider.js
  admin-ui/app/utils/RandomHashGenerator.js
Labels: comp-admin-ui, kind-feature

#1232 feat(flex-linux-setup): update admin-ui config-api plugin
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-feature

#1234 fix(flex-linux-setup): admin-ui plugin path after upgrade
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#1236 fix(flex-linux-setup): do not remove duo script after upgrade
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: bug, comp-flex-linux-setup, kind-bug

#1238 fix(flex-linux-setup): don't backup jar file in upgrade
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: bug, comp-flex-linux-setup, kind-bug

#1228 fix: remove ingress.class annotation and add spec.ingressClassName
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/templates/admin-ui-ingress.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/templates/auth-server-protected-ingress.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/templates/ingress.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/values.yaml
Labels: comp-flex-cn-setup, kind-bug

#1145 docs: minor beautification of SUSE VM install doc
  docs/install/vm-install/suse.md
Labels: area-documentation

#1097 docs: update vm resources requirements
  flex-linux-setup/README.md
Labels: area-documentation, comp-flex-linux-setup

#1230 fix(admin-ui): bugs in admin-ui #1225
  admin-ui/plugins/admin/components/Roles/UiRoleListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientBasicPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientCibaParUmaPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientWizardForm.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeForm.js
  admin-ui/plugins/jans-link/components/CacheRefresh/JansLinkPage.js
  admin-ui/plugins/jans-link/components/Tabs/ConfigurationTab.js
  admin-ui/plugins/user-management/components/UserManagement/UserEditPage.js
Labels: comp-admin-ui, kind-bug
