Repository GluuFederation/flex, pull requests merged in 2023-05, with the labels that each got.

#970 chore(docker-casa): add casa scopes and nimbusds remote jwks size limit
  docker-casa/Dockerfile
  docker-casa/README.md
  docker-casa/scripts/bootstrap.py
  docker-casa/scripts/entrypoint.sh
  docker-casa/scripts/upgrade.py
Labels: area-documentation, kind-dependencies, comp-docker-casa

#975 fix(flex-linux-setup): set redirect_uris to iss
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#977 feat(admin-ui): profile details is distorted when multiple roles assigned to the user
  admin-ui/app/routes/Apps/Profile/ProfilePage.js
Labels: comp-admin-ui, kind-feature

#979 fix(admin-ui): changed input & button layout
  admin-ui/app/routes/Apps/Gluu/GluuTypeAheadWithAdd.js
Labels: comp-admin-ui, kind-bug

#973 chore(docker-jans): upgrade jetty to mitigate vulnerabilities
  docker-casa/Dockerfile
Labels: kind-dependencies, comp-docker-casa

#983 fix: ensure google libs support all possible credentials
  docker-admin-ui/Dockerfile
  docker-admin-ui/README.md
  docker-casa/Dockerfile
  docker-casa/README.md
Labels: area-documentation, comp-docker-admin-ui, kind-bug, comp-docker-casa

#985 feat(admin-ui): create smtp management page
  admin-ui/app/components/SVG/menu/Smtp.js
  admin-ui/app/locales/en/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuAppSidebar.js
  admin-ui/app/routes/Apps/Gluu/GluuInfo.js
  admin-ui/plugins.config.json
  admin-ui/plugins/smtp-management/components/SmtpManagement/SmtpForm.js
  admin-ui/plugins/smtp-management/components/SmtpManagement/StmpEditPage.js
  admin-ui/plugins/smtp-management/plugin-metadata.js
  admin-ui/plugins/smtp-management/redux/actions/SmtpActions.js
  admin-ui/plugins/smtp-management/redux/actions/types.js
  admin-ui/plugins/smtp-management/redux/api/SmtpApi.js
  admin-ui/plugins/smtp-management/redux/reducers/SmtpReducer.js
  admin-ui/plugins/smtp-management/redux/sagas/SmtpSaga.js
Labels: comp-admin-ui, kind-feature

#989 fix(docker): incorrect version, docs, and upstream source in the images
  docker-admin-ui/README.md
  docker-casa/Dockerfile
  docker-flex-monolith/Dockerfile
Labels: area-documentation, comp-docker-admin-ui, kind-bug, comp-docker-casa, comp-docker-flex-monolith

#991 [Snyk] Upgrade com.fasterxml.jackson.core:jackson-databind from 2.14.1 to 2.14.2
  casa/pom.xml
Labels: comp-casa, kind-dependencies

#993 fix(docker-flex-monolith): unable to run processes due to offline systemd
  automation/startflexmonolithdemo.sh
  docker-flex-monolith/.gitignore
  docker-flex-monolith/Dockerfile
  docker-flex-monolith/flex-ldap-compose.yml
  docker-flex-monolith/flex-mysql-compose.yml
  docker-flex-monolith/flex-postgres-compose.yml
  docker-flex-monolith/scripts/entrypoint.sh
Labels: area-CI, kind-bug, comp-docker-flex-monolith

#995 feat(flex-linux-setup): upgrade admin-ui
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-feature

#1000 feat: email_2fa_core: improvements of code have been added;
  casa/plugins/email_2fa_core/README.md
  casa/plugins/email_2fa_core/src/main/java/org/gluu/casa/plugins/emailotp/model/EmailPerson.java
  casa/plugins/email_2fa_core/src/main/java/org/gluu/casa/plugins/emailotp/model/SmtpConfiguration.java
  casa/plugins/email_2fa_core/src/main/java/org/gluu/casa/plugins/emailotp/model/VerifiedEmail.java
Labels: area-documentation, comp-casa, kind-feature

#1007 fix: casa: in email_2fa_core localization fix;
  casa/plugins/email_2fa_core/extras/README.md
  casa/plugins/email_2fa_core/extras/jans-auth.properties
Labels: area-documentation, comp-casa, kind-bug

#1006 feat (admin-ui): develop screens to view fido-configurations
  admin-ui/app/components/SVG/menu/Fido.js
  admin-ui/app/locales/en/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuAppSidebar.js
  admin-ui/app/routes/Apps/Gluu/GluuProperties.js
  admin-ui/app/routes/Apps/Gluu/GluuPropertyItem.js
  admin-ui/app/routes/Apps/Gluu/GluuTabs.js
  admin-ui/openapi-merge.json
  admin-ui/plugins.config.json
  admin-ui/plugins/fido/components/FidoManagement/DynamicConfiguration.js
  admin-ui/plugins/fido/components/FidoManagement/Fido.js
  admin-ui/plugins/fido/components/FidoManagement/StaticConfiguration.js
  admin-ui/plugins/fido/plugin-metadata.js
  admin-ui/plugins/fido/redux/actions/FidoActions.js
  admin-ui/plugins/fido/redux/actions/types.js
  admin-ui/plugins/fido/redux/api/FidoApi.js
  admin-ui/plugins/fido/redux/reducers/Figo.js
  admin-ui/plugins/fido/redux/sagas/FidoSaga.js
Labels: comp-admin-ui, kind-feature

#1009 chore(main): release casa 5.0.0-13-SNAPSHOT
  casa/app-fips/pom.xml
  casa/app/pom.xml
  casa/config/pom.xml
  casa/plugins/bioid/pom.xml
  casa/plugins/cert-authn/pom.xml
  casa/plugins/client-authorizations/pom.xml
  casa/plugins/custom-branding/pom.xml
  casa/plugins/email_2fa_core/pom.xml
  casa/plugins/inwebo/pom.xml
  casa/plugins/samples/authentication-script-properties/pom.xml
  casa/plugins/samples/clients-management/pom.xml
  casa/plugins/samples/helloworld/pom.xml
  casa/plugins/samples/sample-cred-plugin/pom.xml
  casa/plugins/strong-authn-settings/pom.xml
  casa/plugins/stytch/pom.xml
  casa/pom.xml
  casa/shared/pom.xml
Labels: comp-casa, kind-dependencies, autorelease: snapshot

#1017 fix(docs): autogenerate docs
  docs/reference/kubernetes/helm-chart.md
Labels: area-documentation, kind-bug

#1018 chore(main): release casa 5.0.0-13
  casa/CHANGELOG.md
  casa/app-fips/pom.xml
  casa/app/pom.xml
  casa/config/pom.xml
  casa/plugins/bioid/pom.xml
  casa/plugins/cert-authn/pom.xml
  casa/plugins/client-authorizations/pom.xml
  casa/plugins/custom-branding/pom.xml
  casa/plugins/email_2fa_core/pom.xml
  casa/plugins/inwebo/pom.xml
  casa/plugins/samples/authentication-script-properties/pom.xml
  casa/plugins/samples/clients-management/pom.xml
  casa/plugins/samples/helloworld/pom.xml
  casa/plugins/samples/sample-cred-plugin/pom.xml
  casa/plugins/strong-authn-settings/pom.xml
  casa/plugins/stytch/pom.xml
  casa/pom.xml
  casa/shared/pom.xml
Labels: area-documentation, comp-casa, autorelease: pending, kind-dependencies

#1015 chore(main): release admin-ui 1.0.13
  admin-ui/CHANGELOG.md
  admin-ui/package.json
Labels: area-documentation, comp-admin-ui, autorelease: pending, kind-dependencies

#1010 chore(main): release docs 5.0.0-13
  docs/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1001 fix(admin-ui): resolve webpack performance warnings
  admin-ui/app/images/gif/loader.gif
  admin-ui/app/images/logos/logo192.png
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/routes/License/LicenseDetailsForm.js
  admin-ui/app/routes/License/LicenseDetailsForm.test.js
  admin-ui/app/routes/components/Dropdowns/DropdownProfile.js
  admin-ui/app/routes/components/Financial/StackedAreaChart.js
  admin-ui/app/styles/plugins/_react-datepicker.scss
  admin-ui/app/styles/plugins/plugins.css
  admin-ui/app/styles/plugins/plugins.scss
  admin-ui/build/webpack.config.client.prod.js
  admin-ui/package.json
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptEditPage.test.js
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptForm.test.js
  admin-ui/plugins/admin/components/CustomScripts/script.test.js
  admin-ui/plugins/admin/components/MAU/MauGraph.js
  admin-ui/plugins/auth-server/components/Clients/ClientAdvancedPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientBasicPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientDetailPage.test.js
  admin-ui/plugins/auth-server/components/Clients/ClientEditPage.test.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.test.js
  admin-ui/plugins/auth-server/components/Clients/clients.test.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeAddPage.test.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeDetailPage.test.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeEditPage.test.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.test.js
  admin-ui/plugins/auth-server/components/Scopes/scopes.test.js
Labels: comp-admin-ui, kind-bug

#1021 fix (admin-ui): two contradictory pop up
  admin-ui/app/routes/Apps/Gluu/GluuInputRow.js
  admin-ui/app/routes/Apps/Gluu/GluuSelectRow.js
  admin-ui/plugins/smtp-management/components/SmtpManagement/SmtpForm.js
  admin-ui/plugins/smtp-management/redux/actions/SmtpActions.js
  admin-ui/plugins/smtp-management/redux/actions/types.js
  admin-ui/plugins/smtp-management/redux/reducers/SmtpReducer.js
  admin-ui/plugins/smtp-management/redux/sagas/SmtpSaga.js
Labels: comp-admin-ui, kind-bug

#1027 chore: changes in SMTP form #1026
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuSelectRow.js
  admin-ui/plugins/smtp-management/components/SmtpManagement/SmtpForm.js
Labels: comp-admin-ui, kind-dependencies

#1029 feat: email_2fa_core: improvements of code have been added (2);
  casa/app/src/main/java/org/gluu/casa/plugins/authnmethod/service/Fido2Service.java
  casa/app/src/main/java/org/gluu/casa/ui/vm/user/SecurityKey2ViewModel.java
  casa/plugins/email_2fa_core/extras/README.md
  casa/plugins/email_2fa_core/src/main/java/org/gluu/casa/plugins/credentials/extensions/EmailOtpAuthnMethod.java
  casa/plugins/email_2fa_core/src/main/java/org/gluu/casa/plugins/emailotp/EmailOtpInitiator.java
  casa/plugins/email_2fa_core/src/main/java/org/gluu/casa/plugins/emailotp/EmailOtpPlugin.java
  casa/plugins/email_2fa_core/src/main/java/org/gluu/casa/plugins/emailotp/EmailOtpService.java
  casa/plugins/email_2fa_core/src/main/java/org/gluu/casa/plugins/emailotp/EmailOtpVM.java
  casa/plugins/email_2fa_core/src/main/java/org/gluu/casa/plugins/emailotp/model/EmailPerson.java
  casa/plugins/email_2fa_core/src/main/java/org/gluu/casa/plugins/emailotp/model/JansConfiguration.java
Labels: area-documentation, comp-casa, kind-feature

#1031 feat(flex-linux-setup): paste SSA when prompted
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-feature

#1034 fix(flex-linux-setup): typo
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#1051 fix(flex-linux-setup): strip ssa after read from file
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#1053 fix(flex-linux-setup): set licenseHardwareKey to org_id from ssa
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#1054 fix(admin-ui): used redux-toolkit to improve the redux code
  admin-ui/app/redux/store/index.js
  admin-ui/app/routes/Apps/Gluu/Tests/GluuAppSiderbar.test.js
  admin-ui/app/routes/License/LicenseDetailsPage.test.js
  admin-ui/package.json
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptAddPage.test.js
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptEditPage.test.js
  admin-ui/plugins/admin/components/Roles/UiRoleListPage.test.js
  admin-ui/plugins/auth-server/components/Clients/ClientAddPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientAddPage.test.js
  admin-ui/plugins/auth-server/components/Clients/ClientBasicPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientCibaParUmaPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientEditPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientEditPage.test.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.test.js
  admin-ui/plugins/auth-server/components/Configuration/ConfigPage.test.js
  admin-ui/plugins/auth-server/components/Configuration/Defaults/LoggingPage.test.js
  admin-ui/plugins/auth-server/components/Configuration/Keys/Jwks/JwksPage.test.js
  admin-ui/plugins/auth-server/components/Configuration/Keys/KeysPage.test.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeAddPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeAddPage.test.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeEditPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeEditPage.test.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeForm.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.test.js
  admin-ui/plugins/auth-server/components/Sessions/SessionListPage.js
  admin-ui/plugins/auth-server/plugin-metadata.js
  admin-ui/plugins/auth-server/redux/actions/ScopeActions.js
  admin-ui/plugins/auth-server/redux/actions/SessionActions.js
  admin-ui/plugins/auth-server/redux/features/scopeSlice.js
  admin-ui/plugins/auth-server/redux/features/sessionSlice.js
  admin-ui/plugins/auth-server/redux/reducers/ScopeReducer.js
  admin-ui/plugins/auth-server/redux/reducers/SessionReducer.js
  admin-ui/plugins/auth-server/redux/sagas/OAuthScopeSaga.js
  admin-ui/plugins/auth-server/redux/sagas/SessionSaga.js
  admin-ui/plugins/schema/components/Person/AttributeAddPage.test.js
  admin-ui/plugins/schema/components/Person/AttributeEditPage.test.js
  admin-ui/plugins/schema/components/Person/AttributeListPage.test.js
Labels: comp-admin-ui, kind-bug

#1057 feat(admin-ui): check or warn if Agama engine is enabled before project uploading #1036
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/auth-server/components/Agama/AgamaListPage.js
Labels: comp-admin-ui, kind-feature

#1059 chore(admin-ui): misc adjustments in Agama screens #1035
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/auth-server/components/Agama/AgamaListPage.js
  admin-ui/plugins/auth-server/components/Agama/AgamaProjectConfigModal.js
Labels: comp-admin-ui, kind-dependencies
