Repository GluuFederation/flex, pull requests merged in 2023-01, with the labels that each got.

#691 chore(docker-casa): exclude optional prometheus exporter from images
  docker-casa/Dockerfile
  docker-casa/scripts/entrypoint.sh
Labels: comp-docker-casa

#696 feat(docker-casa): enable prefix and group for stdout logs
  docker-casa/Dockerfile
  docker-casa/README.md
  docker-casa/jetty/log4j2.xml
  docker-casa/scripts/bootstrap.py
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/templates/configmaps.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/values.yaml
Labels: kind-enhancement, comp-docker-casa

#700 fix: flex-linux-setup Dump Admin UI Client and Secret to screen and setup.properties
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: bug, comp-flex-linux-setup

#704 flex: flex-linux-setup enable basic auth script
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: bug, comp-flex-linux-setup

#712 fix(admin-ui): fix type ahead new entry issue and fix modal to show items correctly
  admin-ui/app/routes/Apps/Gluu/GluuCommitDialog.js
  admin-ui/app/routes/Apps/Gluu/GluuInlineInput.js
Labels: comp-admin-ui, kind-bug

#716 fix(admin-ui): boolean and string shows undefined fixed
  admin-ui/app/routes/Apps/Gluu/GluuInlineInput.js
Labels: comp-admin-ui, kind-bug

#714 docs: added admin subfolder and docker references to nav
  docs/admin/README.md
  docs/admin/admin-ui/README.md
  docs/admin/admin-ui/properties.md
  docs/admin/casa/README.md
  docs/admin/casa/template.md
  docs/admin/saml/README.md
  docs/admin/saml/idp.md
  docs/admin/saml/proxy.md
  mkdocs.yml
Labels: area-documentation, comp-admin-ui, comp-casa

#719 ci: add changes for property and feature flag doc generation
  automation/docs/generate-property-docs.sh
  casa/app/pom.xml
  casa/config/pom.xml
  casa/pom.xml
  casa/shared/pom.xml
  mkdocs.yml
Labels: comp-casa, area-CI

#722 Docs: added landing page content
  docs/README.md
  docs/admin/README.md
  docs/install/vm-install/dynamic-download.md
  docs/install/vm-install/setup.md
  docs/reference/README.md
  mkdocs.yml
Labels: area-documentation

#725 docs: added placeholder files for reference pages
  docs/reference/json-config/README.md
  docs/reference/json-config/properties/README.md
  docs/reference/json-config/properties/casa-properties.md
  docs/reference/json-config/properties/casaconfig-properties.md
  mkdocs.yml
Labels: area-documentation

#728 Flex linux setup adminui auth mode
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.json
Labels: bug, comp-flex-cn-setup, comp-flex-linux-setup

#731 chore(docker): sync schema, templates, and config from upstream
  docker-admin-ui/Dockerfile
  docker-admin-ui/requirements.txt
  docker-casa/Dockerfile
  docker-casa/requirements.txt
Labels: comp-docker-admin-ui, kind-dependencies, comp-docker-casa

#736 fix: flex-linux-setup check twilio and fido2 client before deploy
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: bug, comp-flex-linux-setup, kind-bug

#739 fix(terraform-gluu-flex-eks-fargate): update terraform module
  demos/terraform-gluu-flex-eks-fargate/README.md
Labels: area-documentation, kind-bug
