Repository GluuFederation/flex, pull requests merged in 2023-11, with the labels that each got.

#1408 feat(docker-flex-all-in-one): create assets for Flex all-in-one image
  .github/workflows/docker_build_image.yml
  .github/workflows/docker_imagescan.yml
  .github/workflows/release.yml
  docker-flex-all-in-one/.dockerignore
  docker-flex-all-in-one/.gitignore
  docker-flex-all-in-one/.hadolint.yaml
  docker-flex-all-in-one/Dockerfile
  docker-flex-all-in-one/LICENSE
  docker-flex-all-in-one/Makefile
  docker-flex-all-in-one/app/bin/flex-entrypoint.sh
  docker-flex-all-in-one/app/conf/supervisord.conf.d/admin-ui.conf
  docker-flex-all-in-one/app/flex_aio/plugins.py
  docker-flex-all-in-one/app/templates/nginx/admin-index.html
  docker-flex-all-in-one/app/templates/nginx/admin-ui-location.conf
Labels: kind-feature

#1420 chore(admin-ui): add the missing TUI features in admin UI #1414
  admin-ui/app/components/SVG/menu/Scim.js
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Activity/ActivityPage.js
  admin-ui/app/routes/Apps/Gluu/GluuAppSidebar.js
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/utils/PermChecker.js
  admin-ui/openapi-merge.json
  admin-ui/plugins.config.json
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptForm.js
  admin-ui/plugins/admin/components/Permissions/PermissionAddDialogForm.js
  admin-ui/plugins/fido/redux/api/FidoApi.js
  admin-ui/plugins/jans-link/components/SourceBackendServers/SourceBackendServerForm.js
  admin-ui/plugins/jans-link/components/Tabs/InumDBServerTab.js
  admin-ui/plugins/scim/components/ScimConfiguration.js
  admin-ui/plugins/scim/components/ScimPage.js
  admin-ui/plugins/scim/plugin-metadata.js
  admin-ui/plugins/scim/redux/api/ScimApi.js
  admin-ui/plugins/scim/redux/features/ScimSlice.js
  admin-ui/plugins/scim/redux/sagas/ScimSaga.js
  admin-ui/plugins/user-management/components/UserManagement/UserDetailViewPage.js
Labels: comp-admin-ui, kind-dependencies

#1422 fix(admin-ui): getting blank page for user management #1421
  admin-ui/app/redux/features/attributesSlice.js
  admin-ui/app/redux/sagas/AttributesSaga.js
  admin-ui/app/utils/PermChecker.js
  admin-ui/plugins/auth-server/redux/sagas/OAuthScopeSaga.js
  admin-ui/plugins/user-management/components/UserManagement/UserDetailViewPage.js
Labels: comp-admin-ui, kind-bug

#1418 docs: fix local flex deployment and create a script
  automation/startflexdemo.sh
  docs/install/helm-install/local.md
Labels: area-documentation, area-CI

#1424 fix(admin-ui): remove subjectType field
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/auth-server/components/Clients/ClientAdvancedPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientTokensPanel.js
Labels: comp-admin-ui, kind-bug

#1428 Docs flex docker
  docs/install/docker-install/compose.md
  docs/install/docker-install/quick-start.md
  docs/install/helm-install/local.md
  mkdocs.yml
Labels: area-documentation

#1426 feat(comp-charts-flex): add lock support to prevent race condition
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/README.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/admin-ui/templates/deployment.yml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/auth-server-key-rotation/templates/cronjobs.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/auth-server/templates/deployment.yml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/casa/templates/deployment.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config-api/templates/deployment.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/README.md
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/templates/configmaps.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/templates/load-init-config.yml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/templates/secrets.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/config/values.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/fido2/templates/deployment.yml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/templates/casa-ingress.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/nginx-ingress/templates/ingress.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/opendj/templates/cronjobs.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/opendj/templates/statefulset.yaml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/persistence/templates/jobs.yml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/charts/scim/templates/deployment.yml
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/values.schema.json
  flex-cn-setup/pygluu/kubernetes/templates/helm/gluu/values.yaml
Labels: area-documentation, comp-admin-ui, comp-flex-cn-setup, comp-casa, kind-feature

#1417 docs: add link to creation of user claims docs in Admin UI's User doc #1416
  docs/admin/admin-ui/userMgmt-menu.md
Labels: area-documentation, comp-admin-ui

#1438 fix(admin-ui): show error message on api failure
  admin-ui/plugins/admin/redux/sagas/ApiPermissionSaga.js
Labels: comp-admin-ui, kind-bug

#1439 fix(admin-ui): remove input label
  admin-ui/app/routes/Apps/Gluu/GluuSingleValueCompleter.js
  admin-ui/plugins/admin/components/Mapping/MappingAddDialogForm.js
Labels: comp-admin-ui, kind-bug

#1441 fix(admin-ui) : accepting character in number type fields #1437
  admin-ui/app/routes/Apps/Gluu/GluuAdvancedSearch.js
  admin-ui/app/routes/Apps/Gluu/GluuInputRow.js
Labels: comp-admin-ui, kind-bug

#1442 fix(admin-ui): search Pattern field #1435
  admin-ui/app/components/SVG/menu/Smtp.js
  admin-ui/app/components/SVG/menu/Users.js
  admin-ui/plugins/admin/components/CustomScripts/ScriptListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
  admin-ui/plugins/schema/components/Person/AttributeListPage.js
  admin-ui/plugins/user-management/components/UserManagement/UserList.js
Labels: comp-admin-ui, kind-bug

#1443 feat: encode licenseSsa
  automation/startflexdemo.sh
  automation/startflexmonolithdemo.sh
Labels: area-CI, kind-feature

#1440 fix(docs): update casa base URI
  docs/admin/recipes/getting-started-rancher.md
  docs/install/helm-install/local.md
Labels: area-documentation, kind-bug

#1445 feat(admin-ui): config api tag column #1444
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/admin/components/Permissions/PermissionAddDialogForm.js
  admin-ui/plugins/admin/components/Permissions/UiPermDetailPage.js
  admin-ui/plugins/admin/components/Permissions/UiPermListPage.js
Labels: comp-admin-ui, kind-feature

#1455 chore(admin-ui): env for temp server
  admin-ui/.env.adminuitest
  admin-ui/.env.goldencrane
  admin-ui/.env.jans-ui
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies

#1462 chore(main): release admin-ui 1.0.20
  admin-ui/CHANGELOG.md
Labels: area-documentation, comp-admin-ui, autorelease: pending, kind-dependencies

#1461 chore(main): release flex-linux-setup 1.0.20
  flex-linux-setup/CHANGELOG.md
  flex-linux-setup/flex_linux_setup/version.py
Labels: area-documentation, comp-flex-linux-setup, autorelease: pending, kind-dependencies

#1460 chore(main): release docker-flex-all-in-one 1.0.20-1
  docker-flex-all-in-one/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1459 chore(main): release docker-admin-ui 1.0.20-1
  docker-admin-ui/CHANGELOG.md
  docker-admin-ui/version.txt
Labels: area-documentation, autorelease: pending, comp-docker-admin-ui, kind-dependencies

#1458 chore(main): release docs 5.0.0-20
  docs/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1465 feat(flex-linux-setup): replace jwt token with reference token to access config-api
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.json
Labels: comp-flex-linux-setup, kind-feature

#1466 chore(flex-linux-setup): jans app versio 1.0.21-SNAPSHOT
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-dependencies

#1454 docs: add k8s ops to flex
  docs/admin/kubernetes-ops/README.md
  mkdocs.yml
Labels: area-documentation

#1467 docs: flex update vm-requirements.md
  docs/install/vm-install/vm-requirements.md
Labels: area-documentation

#1468 docs: fix postgres host
  docs/install/helm-install/amazon-eks.md
  docs/install/helm-install/google-gke.md
  docs/install/helm-install/microsoft-azure.md
Labels: area-documentation

#1471 feat(admin-ui): the algorithm to secure the JWT for a particular introspection response #1409
  admin-ui/.env.adminuitest
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/package.json
  admin-ui/plugins/auth-server/components/Clients/ClientEncryptionSigningPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientWizardForm.js
Labels: comp-admin-ui, kind-feature

#1474 fix(admin-ui): need to change the font color for Enabled header in the scripts grid #1472
  admin-ui/app/routes/Dashboards/Chart/styles.css
Labels: comp-admin-ui, kind-bug

#1476 fix(admin-ui): use yaml configs for auth server properties configuration #1475
  admin-ui/app/routes/Apps/Gluu/GluuInlineInput.js
  admin-ui/build/webpack.config.client.dev.js
  admin-ui/build/webpack.config.client.prod.js
  admin-ui/package.json
  admin-ui/plugins/auth-server/components/Configuration/ConfigPage.js
  admin-ui/plugins/auth-server/components/Configuration/JsonPropertyBuilder.js
Labels: comp-admin-ui, kind-bug

#1469 docs: update screenshots
  docs/assets/agama-lab/agama-home.png
  docs/assets/agama-lab/ssa-details.png
  docs/install/software-statements/ssa.md
Labels: area-documentation

#1478 fix(admin-ui): remove generation of specific access_token #1477
  admin-ui/app/redux/features/attributesSlice.js
  admin-ui/app/redux/sagas/AttributesSaga.js
  admin-ui/plugins/auth-server/redux/features/scopeSlice.js
  admin-ui/plugins/auth-server/redux/sagas/OAuthScopeSaga.js
Labels: comp-admin-ui, kind-bug

#1470 feat(docker-admin-ui): replace jwt token with reference token to access config-api
  docker-admin-ui/Dockerfile
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/entrypoint.sh
  docker-admin-ui/scripts/ssa.py
  docker-admin-ui/scripts/upgrade.py
  docker-admin-ui/templates/admin-ui/auiConfiguration.json
  docker-admin-ui/templates/admin-ui/clients.ldif
Labels: comp-admin-ui, comp-docker-admin-ui, kind-feature

#1482 chore(admin-ui): displaying license details #1481
  admin-ui/app/redux/features/licenseDetailsSlice.js
  admin-ui/app/redux/sagas/LicenseDetailsSaga.js
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/routes/Dashboards/styles.js
  admin-ui/app/routes/License/LicenseDetailsPage.js
  admin-ui/app/utils/Util.js
Labels: comp-admin-ui, kind-dependencies

#1479 docs: add details to Flex readme
  README.md
  docs/assets/admin-ui/left-nav-bar.png
Labels: area-documentation, comp-admin-ui
