Repository GluuFederation/flex, pull requests merged in 2023-09, with the labels that each got.

#1308 refactor(docker-casa): unify path to JVM cacert file
  docker-casa/Dockerfile
  docker-casa/scripts/bootstrap.py
Labels: kind-enhancement, comp-docker-casa

#1311 fix(admin-ui): display upload ssa UI if configs are not valid #1310
  admin-ui/app/redux/sagas/LicenseSaga.js
Labels: comp-admin-ui, kind-bug

#1300 feat(admin-ui): task related to localization and tooltips #1289
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuLabel.js
  admin-ui/app/routes/Apps/Gluu/GluuSecretDetail.js
  admin-ui/app/routes/Apps/Gluu/GluuTooltip.js
  admin-ui/build/webpack.config.client.dev.js
  admin-ui/plugins/admin/components/Mapping/MappingAddDialogForm.js
  admin-ui/plugins/admin/components/Roles/RoleAddDialogForm.js
  admin-ui/plugins/auth-server/components/Clients/ClientBasicPanel.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeDetailPage.js
  admin-ui/plugins/auth-server/components/Ssa/SsaAddPage.js
  admin-ui/plugins/jans-link/components/Tabs/InumDBServerTab.js
Labels: comp-admin-ui, kind-feature

#1319 fix(docs): fix syntax error in nav structure
  mkdocs.yml
Labels: area-documentation, kind-bug

#1317 fix(admin-ui): show message based on error code in Admin UI #1316
  admin-ui/app/images/backend-down.png
  admin-ui/app/redux/api/LicenseApi.js
  admin-ui/app/redux/api/backend-api.js
  admin-ui/app/redux/features/authSlice.js
  admin-ui/app/redux/sagas/AuthSaga.js
  admin-ui/app/redux/sagas/LicenseSaga.js
  admin-ui/app/routes/Apps/Gluu/GluuServiceDownModal.js
  admin-ui/app/utils/ApiKeyRedirect.js
  admin-ui/app/utils/ApiUtils.js
  admin-ui/app/utils/AppAuthProvider.js
  admin-ui/app/utils/ViewRedirect.js
Labels: comp-admin-ui, kind-bug

#1323 feat(flex-linux-setup): add adminu ui token client
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.json
Labels: comp-flex-linux-setup, kind-enhancement, kind-feature

#1312 feat(admin-ui): implement auth code flow using javascript library #1303
  admin-ui/app/redux/api/backend-api.js
  admin-ui/app/redux/features/authSlice.js
  admin-ui/app/redux/sagas/AuthSaga.js
  admin-ui/app/utils/AppAuthProvider.js
  admin-ui/app/utils/RandomHashGenerator.js
  admin-ui/app/utils/TokenController.js
  admin-ui/package.json
Labels: comp-admin-ui, kind-feature

#1322 docs: add documentation on the gluu specific services required for Admin UI and FAQ #1315
  docs/admin/admin-ui/configuration.md
  docs/admin/admin-ui/faq.md
  docs/admin/admin-ui/introduction.md
  docs/admin/admin-ui/logs.md
  docs/assets/admin-ui/license-error-payment-required.png
  docs/assets/admin-ui/trial-license.png
  docs/assets/admin-ui/upload-ssa.png
  docs/install/vm-install/rhel.md
  docs/install/vm-install/suse.md
  docs/install/vm-install/ubuntu.md
  mkdocs.yml
Labels: area-documentation, comp-admin-ui

#1327 docs: adding command to uninstall and update admin-ui #1326
  docs/admin/admin-ui/faq.md
  docs/install/vm-install/rhel.md
  docs/install/vm-install/suse.md
  docs/install/vm-install/ubuntu.md
Labels: area-documentation, comp-admin-ui

#1330 docs: adding Design & Implementation #1329
  docs/admin/admin-ui/auth-server-interaction.md
  docs/admin/admin-ui/introduction.md
  docs/assets/admin-ui/design-auth-server-interaction.png
  docs/assets/admin-ui/license-key-submit.png
  mkdocs.yml
Labels: area-documentation, comp-admin-ui

#1321 fix(docker-casa): update jetty to v11.0.16
  docker-casa/Dockerfile
Labels: kind-bug, comp-docker-casa

#1334 feat(admin-ui): implement navigation path for tab view in a page #1333
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/auth-server/redux/features/scopeSlice.js
  admin-ui/plugins/fido/components/Fido.js
  admin-ui/plugins/fido/plugin-metadata.js
Labels: comp-admin-ui, kind-feature

#1324 fix(docker-admin-ui): update admin-ui clients for auth using js lib
  docker-admin-ui/Dockerfile
  docker-admin-ui/templates/admin-ui/clients.ldif
Labels: comp-admin-ui, comp-docker-admin-ui, kind-bug

#1336 fix(docker-casa): unable to download spanner/couchbase orm libs
  docker-casa/Dockerfile
Labels: kind-bug, comp-docker-casa

#1340 docs: add note for single node deployment and update links to latest
  docs/install/helm-install/rancher.md
Labels: area-documentation

#1337 docs: add oxtrust instructions
  docs/assets/supergluu/admin-guide/create_ssa.png
  docs/supergluu/admin-guide/index.md
Labels: area-documentation

#1342 chore(main): release casa 5.0.0-SNAPSHOT
  casa/app-fips/pom.xml
  casa/app/pom.xml
  casa/config/pom.xml
  casa/plugins/bioid/pom.xml
  casa/plugins/client-authorizations/pom.xml
  casa/plugins/custom-branding/pom.xml
  casa/plugins/email_2fa_core/pom.xml
  casa/plugins/samples/authentication-script-properties/pom.xml
  casa/plugins/samples/clients-management/pom.xml
  casa/plugins/samples/helloworld/pom.xml
  casa/plugins/samples/sample-cred-plugin/pom.xml
  casa/plugins/strong-authn-settings/pom.xml
  casa/pom.xml
  casa/shared/pom.xml
Labels: comp-casa, kind-dependencies, autorelease: snapshot

#1350 chore(main): release casa 5.0.0-18
  casa/CHANGELOG.md
Labels: area-documentation, comp-casa, autorelease: pending, kind-dependencies

#1348 chore(main): release admin-ui 1.0.18
  admin-ui/CHANGELOG.md
  admin-ui/package.json
Labels: area-documentation, comp-admin-ui, autorelease: pending, kind-dependencies

#1347 chore(main): release flex-linux-setup 1.0.18
  flex-linux-setup/CHANGELOG.md
  flex-linux-setup/flex_linux_setup/version.py
Labels: area-documentation, comp-flex-linux-setup, autorelease: pending, kind-dependencies

#1346 chore(main): release flex-cn-setup 1.0.18
  flex-cn-setup/CHANGELOG.md
  flex-cn-setup/pygluu/kubernetes/version.py
Labels: area-documentation, comp-flex-cn-setup, autorelease: pending, kind-dependencies

#1345 chore(main): release docker-admin-ui 1.0.18-1
  docker-admin-ui/CHANGELOG.md
  docker-admin-ui/version.txt
Labels: area-documentation, autorelease: pending, comp-docker-admin-ui, kind-dependencies

#1344 chore(main): release docker-casa 5.0.0-18
  docker-casa/CHANGELOG.md
  docker-casa/version.txt
Labels: area-documentation, autorelease: pending, kind-dependencies, comp-docker-casa

#1343 chore(main): release docs 5.0.0-18
  docs/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1349 chore(main): release 5.0.0-18
  CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1352 feat(admin-ui): logging level in jans-link #1351
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuSelectRow.js
  admin-ui/plugins/fido/components/DynamicConfiguration.js
  admin-ui/plugins/jans-link/components/Tabs/ConfigurationTab.js
Labels: comp-admin-ui, kind-feature

#1355 docs: add postgres and tui instructions
  docs/install/helm-install/amazon-eks.md
  docs/install/helm-install/google-gke.md
  docs/install/helm-install/microsoft-azure.md
Labels: area-documentation
