Repository GluuFederation/flex, pull requests merged in 2023-12, with the labels that each got.

#1488 fix: command to External/LB IP
  automation/startflexdemo.sh
  automation/startflexmonolithdemo.sh
Labels: area-CI, kind-bug

#1489 fix: cn script duplicate input number removal
  automation/startflexdemo.sh
Labels: area-CI, kind-bug

#1485 fix(docs): add clarity about SSA and license
  README.md
Labels: area-documentation, effort-1, kind-bug

#1495 fix(admin-ui): unable to launch admin-ui #1493
  .gitignore
  admin-ui/configApiSpecs.yaml
Labels: comp-admin-ui, kind-bug

#1499 chore(admin-ui): resolve vulnerabilities in security report #1496
  admin-ui/build/cli-tools.js
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies

#1502 fix(flex-linux-setup): stop jans-auth and config-api before building admin-ui
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#1505 fix(admin-ui): unable to generate functioning jans-config-api client models #1504
  admin-ui/package.json
Labels: comp-admin-ui, kind-bug

#1500 docs: add migration instructions
  docs/supergluu/admin-guide/index.md
Labels: area-documentation

#1507 fix(admin-ui): auth server properties page crashes on visit #1506
  admin-ui/plugins/auth-server/components/Configuration/JsonPropertyBuilder.js
Labels: comp-admin-ui, kind-bug

#1515 chore(main): release docker-flex-all-in-one 1.0.21-1
  docker-flex-all-in-one/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1513 chore(main): release 5.0.0-21
  CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1512 chore(main): release admin-ui 1.0.21
  admin-ui/CHANGELOG.md
  admin-ui/package.json
Labels: area-documentation, comp-admin-ui, autorelease: pending, kind-dependencies

#1511 chore(main): release flex-linux-setup 1.0.21
  flex-linux-setup/CHANGELOG.md
Labels: area-documentation, comp-flex-linux-setup, autorelease: pending, kind-dependencies

#1510 chore(main): release docker-admin-ui 1.0.21-1
  docker-admin-ui/CHANGELOG.md
  docker-admin-ui/version.txt
Labels: area-documentation, autorelease: pending, comp-docker-admin-ui, kind-dependencies

#1514 chore(main): release docs 5.0.0-21
  docs/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#1519 fix(admin-ui): save & update operations gets rejected with 400 errors
  admin-ui/plugins/auth-server/components/AuthN/AuthNEditPage.js
  admin-ui/plugins/auth-server/components/AuthN/AuthNListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientAddPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientAdvancedPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientBasicPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientCibaParUmaPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientEditPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientEncryptionSigningPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientLogoutPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientScriptPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientTokensPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientWizardForm.js
  admin-ui/plugins/auth-server/components/Ssa/SsaListPage.js
  admin-ui/plugins/auth-server/redux/sagas/SsaSaga.js
  admin-ui/plugins/user-management/components/UserManagement/UserForm.js
Labels: comp-admin-ui, kind-bug

#1525 fix(admin-ui): change page header name to properties #1521
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
Labels: comp-admin-ui, kind-bug

#1526 feat(flex-linux-setup): ssa scope for admin-ui client
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/scopes.ldif
Labels: comp-flex-linux-setup, kind-feature
