Repository GluuFederation/flex, pull requests merged in 2023-04, with the labels that each got.

#897 feat(docker-admin-ui): changes in admin-ui configuration
  docker-admin-ui/Dockerfile
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/ssa.py
  docker-admin-ui/templates/auiConfiguration.json
Labels: comp-docker-admin-ui, kind-feature

#893 fix: implement pagination api to fetch scopes
  admin-ui/plugins/auth-server/components/Clients/ClientBasicPanel.js
Labels: comp-admin-ui, kind-bug

#898 feat: feature to show error on custom scripts
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuScriptErrorModal.js
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptAddPage.js
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptForm.js
  admin-ui/plugins/admin/components/CustomScripts/ScriptListPage.js
  admin-ui/plugins/admin/redux/sagas/CustomScriptSaga.js
  admin-ui/plugins/auth-server/components/Clients/ClientShowScopes.js
Labels: comp-admin-ui, kind-feature

#900 feat(admin-ui): add test connection functionality and change some titles on create LDAP screen
  admin-ui/app/locales/en/translation.json
  admin-ui/plugins/services/Components/Configuration/LdapForm.js
  admin-ui/plugins/services/redux/api/LdapApi.js
Labels: comp-admin-ui, kind-feature

#911 fix(docs): autogenerate docs
  docs/reference/kubernetes/helm-chart.md
Labels: area-documentation, kind-bug

#912 chore(main): release casa 5.0.0-11
  casa/CHANGELOG.md
Labels: area-documentation, comp-casa, autorelease: pending, kind-dependencies

#910 chore(main): release 5.0.0-11
  CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#909 chore(main): release admin-ui 1.0.11
  admin-ui/CHANGELOG.md
  admin-ui/package.json
Labels: area-documentation, comp-admin-ui, autorelease: pending, kind-dependencies

#905 chore(main): release docker-casa 5.0.0-11
  docker-casa/CHANGELOG.md
  docker-casa/version.txt
Labels: area-documentation, autorelease: pending, kind-dependencies, comp-docker-casa

#904 chore(main): release docs 5.0.0-11
  docs/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#915 build(docker): incorrect label syntax prevent image builds
  docker-admin-ui/Dockerfile
  docker-admin-ui/Makefile
  docker-casa/Dockerfile
  docker-flex-monolith/Dockerfile
Labels: comp-docker-admin-ui, kind-dependencies, comp-docker-casa, comp-docker-flex-monolith

#917 feat(flex-linux-setup): casa client scopes
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/casa_scopes.json
Labels: comp-flex-linux-setup, kind-feature

#936 fix(docs): autogenerate docs
  docs/reference/kubernetes/helm-chart.md
Labels: area-documentation, kind-bug

#935 chore(main): release 5.0.0-12
  CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#934 chore(main): release admin-ui 1.0.12
  admin-ui/CHANGELOG.md
Labels: area-documentation, comp-admin-ui, autorelease: pending, kind-dependencies

#931 chore(main): release docker-admin-ui 1.0.12-1
  docker-admin-ui/CHANGELOG.md
  docker-admin-ui/version.txt
Labels: area-documentation, autorelease: pending, comp-docker-admin-ui, kind-dependencies

#930 chore(main): release docker-casa 5.0.0-12
  docker-casa/CHANGELOG.md
  docker-casa/version.txt
Labels: area-documentation, autorelease: pending, kind-dependencies, comp-docker-casa

#929 chore(main): release docs 5.0.0-12
  docs/CHANGELOG.md
Labels: area-documentation, autorelease: pending, kind-dependencies

#939 feat (admin-ui): replicate agama deployment feature on tui
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/auth-server/components/Agama/AgamaListPage.js
  admin-ui/plugins/auth-server/components/Agama/AgamaProjectConfigModal.js
Labels: comp-admin-ui, kind-feature

#942 fix: casa: bc-fips build has been added;
  casa/app-fips/pom.xml
  casa/pom.xml
Labels: comp-casa, kind-bug

#944 fix: flex_setup: stopping casa before uninstalling has been added;
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#946 feat(flex-linux-setup): add org_id to client display name
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-feature

#959 fix: ldap update not working #957
  admin-ui/plugins/services/Components/Configuration/LdapAddPage.js
  admin-ui/plugins/services/Components/Configuration/LdapEditPage.js
  admin-ui/plugins/services/Components/Configuration/LdapForm.js
Labels: comp-admin-ui, kind-bug

#927 feat(admin-ui): create authn option under Auth Server menu.
  admin-ui/app/locales/en/translation.json
  admin-ui/app/redux/actions/LicenseActions.js
  admin-ui/app/redux/actions/types.js
  admin-ui/app/redux/api/LicenseApi.js
  admin-ui/app/redux/sagas/LicenseSaga.js
  admin-ui/app/routes/Apps/Gluu/GluuCommitDialog.js
  admin-ui/app/routes/Apps/Gluu/GluuCommitFooter.js
  admin-ui/app/routes/Apps/Gluu/GluuErrorModal.js
  admin-ui/app/routes/Apps/Gluu/GluuInlineInput.js
  admin-ui/app/routes/Apps/Gluu/GluuScriptErrorModal.js
  admin-ui/app/utils/ApiKeyRedirect.js
  admin-ui/app/utils/ApiResources.js
  admin-ui/app/utils/LicenseScreens/ApiKey.js
  admin-ui/app/utils/UploadSSA.js
  admin-ui/plugins/auth-server/components/AuthN/AuthNDetailPage.js
  admin-ui/plugins/auth-server/components/AuthN/AuthNEditPage.js
  admin-ui/plugins/auth-server/components/AuthN/AuthNForm.js
  admin-ui/plugins/auth-server/components/AuthN/AuthNListPage.js
  admin-ui/plugins/auth-server/components/AuthN/styles.js
  admin-ui/plugins/auth-server/components/Configuration/ConfigPage.js
  admin-ui/plugins/auth-server/plugin-metadata.js
  admin-ui/plugins/auth-server/redux/actions/AuthnActions.js
  admin-ui/plugins/auth-server/redux/actions/types.js
  admin-ui/plugins/auth-server/redux/reducers/AcrReducer.js
  admin-ui/plugins/auth-server/redux/reducers/AuthNReducer.js
  admin-ui/plugins/auth-server/redux/sagas/AuthnSaga.js
Labels: comp-admin-ui, kind-feature

#951 feat(flex-linux-setup): node version 18.16.0
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-feature

#963 fix: removed material-ui imports in project
  admin-ui/app/components/Notifications/styles.js
  admin-ui/plugins/auth-server/components/AuthN/AuthNListPage.js
  admin-ui/plugins/auth-server/components/AuthN/styles.js
Labels: comp-admin-ui, kind-bug

#966 fix(flex-linux-setup): set redirect_uris as AS for client registration
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug, kind-feature

#967 chore(docker-admin-ui): sync assets and env for admin-ui image
  docker-admin-ui/Dockerfile
  docker-admin-ui/Makefile
  docker-admin-ui/requirements.txt
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/ssa.py
  docker-admin-ui/templates/auiConfiguration.json
Labels: comp-docker-admin-ui, kind-dependencies
