Repository GluuFederation/flex, pull requests merged in 2024-03, with the labels that each got.

#1606 fix(charts): add missing jans-fido2 ingress
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/templates/nginx-ingress.yaml
  charts/gluu-all-in-one/values.yaml
  charts/gluu/README.md
  charts/gluu/charts/fido2/templates/fido2-virtual-services.yaml
  charts/gluu/charts/nginx-ingress/README.md
  charts/gluu/charts/nginx-ingress/templates/ingress.yaml
  charts/gluu/charts/nginx-ingress/values.yaml
  charts/gluu/values.yaml
Labels: area-documentation, kind-bug, comp-charts-flex

#1603 feat(docker): add configurable additional parameters in admin-ui configuration
  docker-admin-ui/Dockerfile
  docker-admin-ui/README.md
  docker-admin-ui/requirements.txt
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/templates/admin-ui/auiConfiguration.json
  docker-flex-all-in-one/Dockerfile
  docker-flex-all-in-one/app/requirements.flex.txt
  docker-flex-monolith/Dockerfile
  docs/reference/kubernetes/docker-admin-ui.md
Labels: comp-admin-ui, comp-docker-admin-ui, kind-feature, comp-docker-flex-monolith

#1587 fix(admin-ui): saml TR changes #1584
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/saml/components/TrustRelationForm.js
Labels: comp-admin-ui, kind-bug

#1604 fix(admin-ui): saml UI changes #1596
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuInputRow.js
  admin-ui/app/routes/Apps/Gluu/GluuUploadFile.js
  admin-ui/plugins/saml/components/SamlConfigurationForm.js
  admin-ui/plugins/saml/components/SamlIdpForm.js
Labels: comp-admin-ui, kind-bug

#1610 fix(docker-admin-ui): add missing uiConfig on fresh install
  docker-admin-ui/Dockerfile
  docker-admin-ui/templates/admin-ui/auiConfiguration.json
Labels: comp-admin-ui, comp-docker-admin-ui, kind-bug

#1613 feat: enable dialog for password which is not following rule #1593
  admin-ui/plugins/user-management/redux/sagas/UserSaga.js
Labels: comp-admin-ui, kind-feature

#1611 feat(admin-ui): add samlMetadata in TR #1584
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/saml/components/SamlConfigurationForm.js
  admin-ui/plugins/saml/components/SamlIdpForm.js
  admin-ui/plugins/saml/components/TrustRelationForm.js
  admin-ui/plugins/saml/helper/index.js
  admin-ui/plugins/saml/redux/api/SamlApi.js
  admin-ui/plugins/saml/redux/sagas/SamlSaga.js
Labels: comp-admin-ui, kind-feature

#1615 fix(charts): incorrect image for key-rotation job
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/templates/cronjobs.yaml
  charts/gluu-all-in-one/templates/deployment.yml
  charts/gluu-all-in-one/values.yaml
  docker-admin-ui/Dockerfile
  docker-admin-ui/requirements.txt
Labels: area-documentation, comp-docker-admin-ui, kind-bug, comp-charts-flex

#1616 fix(admin-ui): show file name in edit saml page
  admin-ui/app/routes/Apps/Gluu/GluuUploadFile.js
  admin-ui/plugins/saml/components/SamlIdpForm.js
  admin-ui/plugins/saml/components/TrustRelationForm.js
  admin-ui/plugins/saml/redux/api/SamlApi.js
Labels: comp-admin-ui, kind-bug

#1378 [Snyk] Upgrade sass from 1.64.2 to 1.67.0
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies

#1618 fix(admin-ui): bugs in webhooks #1617
  admin-ui/app/utils/hooks/useWebhookDialogAction.js
  admin-ui/plugins/admin/components/Webhook/ShortcodePopover.js
  admin-ui/plugins/admin/components/Webhook/WebhookForm.js
  admin-ui/plugins/admin/components/Webhook/WebhookListPage.js
  admin-ui/plugins/admin/helper/utils.js
  admin-ui/plugins/admin/redux/sagas/WebhookSaga.js
Labels: comp-admin-ui, kind-bug

#1620 fix(admin-ui): remove unused project dependency & upgrade i18next #1619
  admin-ui/package.json
Labels: comp-admin-ui, kind-bug

#1539 docs: webhooks in admin-ui #1538
  docs/admin/admin-ui/admin-menu.md
  docs/admin/admin-ui/webhooks.md
  docs/assets/admin-ui/shortcodes.png
  docs/assets/admin-ui/webhook-create.png
  docs/assets/admin-ui/webhook-view.png
  docs/assets/admin-ui/webhooks-trigger.png
Labels: area-documentation, comp-admin-ui

#1627 chore(deps): update pycloudlib version
  docker-admin-ui/requirements.txt
Labels: comp-docker-admin-ui, kind-dependencies

#1623 chore(release): release 5.1.0
  admin-ui/package.json
  automation/rancher-partner-charts/questions.yaml
  charts/gluu-all-in-one/Chart.yaml
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/values.yaml
  charts/gluu/Chart.yaml
  charts/gluu/README.md
  charts/gluu/charts/admin-ui/Chart.yaml
  charts/gluu/charts/admin-ui/README.md
  charts/gluu/charts/admin-ui/values.yaml
  charts/gluu/charts/auth-server-key-rotation/Chart.yaml
  charts/gluu/charts/auth-server-key-rotation/README.md
  charts/gluu/charts/auth-server-key-rotation/values.yaml
  charts/gluu/charts/auth-server/Chart.yaml
  charts/gluu/charts/auth-server/README.md
  charts/gluu/charts/auth-server/values.yaml
  charts/gluu/charts/casa/Chart.yaml
  charts/gluu/charts/casa/README.md
  charts/gluu/charts/casa/values.yaml
  charts/gluu/charts/cn-istio-ingress/Chart.yaml
  charts/gluu/charts/cn-istio-ingress/README.md
  charts/gluu/charts/config-api/Chart.yaml
  charts/gluu/charts/config-api/README.md
  charts/gluu/charts/config-api/values.yaml
  charts/gluu/charts/config/Chart.yaml
  charts/gluu/charts/config/README.md
  charts/gluu/charts/config/values.yaml
  charts/gluu/charts/fido2/Chart.yaml
  charts/gluu/charts/fido2/README.md
  charts/gluu/charts/fido2/values.yaml
  charts/gluu/charts/link/Chart.yaml
  charts/gluu/charts/link/README.md
  charts/gluu/charts/link/values.yaml
  charts/gluu/charts/nginx-ingress/Chart.yaml
  charts/gluu/charts/nginx-ingress/README.md
  charts/gluu/charts/opendj/Chart.yaml
  charts/gluu/charts/opendj/README.md
  charts/gluu/charts/persistence/Chart.yaml
  charts/gluu/charts/persistence/README.md
  charts/gluu/charts/persistence/values.yaml
  charts/gluu/charts/saml/Chart.yaml
  charts/gluu/charts/saml/README.md
  charts/gluu/charts/saml/values.yaml
  charts/gluu/charts/scim/Chart.yaml
  charts/gluu/charts/scim/README.md
  charts/gluu/charts/scim/values.yaml
  charts/gluu/openbanking-values.yaml
  charts/gluu/values.yaml
  docker-admin-ui/Dockerfile
  docker-admin-ui/requirements.txt
  docker-admin-ui/version.txt
  docker-flex-all-in-one/Dockerfile
  docker-flex-monolith/Dockerfile
  docker-flex-monolith/version.txt
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/version.py
Labels: area-documentation, comp-admin-ui, comp-casa, comp-flex-linux-setup, area-CI, comp-docker-admin-ui, kind-dependencies, comp-charts-flex, comp-docker-flex-monolith

#1625 fix: improvements required in webhook shortcode #1624
  admin-ui/app/routes/Apps/Gluu/GluuInputEditor.js
  admin-ui/plugins/admin/components/Webhook/WebhookForm.js
  admin-ui/plugins/admin/helper/shortCodes.json
Labels: comp-admin-ui, kind-bug

#1629 feat(admin-ui): implement UI for Jans Keycloak Link configuration #1608
  admin-ui/app/components/SVG/menu/JansKcLinkIcon.js
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuAppSidebar.js
  admin-ui/app/utils/PermChecker.js
  admin-ui/openapi-merge.json
  admin-ui/plugins.config.json
  admin-ui/plugins/jans-kc-link/components/ConfigurationForm.js
  admin-ui/plugins/jans-kc-link/components/JansKcLinkPage.js
  admin-ui/plugins/jans-kc-link/components/JansKcSourceForm.js
  admin-ui/plugins/jans-kc-link/components/SharedFooter.js
  admin-ui/plugins/jans-kc-link/components/Tabs/BasicConfiguration.js
  admin-ui/plugins/jans-kc-link/components/Tabs/InumConfiguration.js
  admin-ui/plugins/jans-kc-link/components/Tabs/KeycloackConfiguration.js
  admin-ui/plugins/jans-kc-link/components/Tabs/Sources.js
  admin-ui/plugins/jans-kc-link/components/Tabs/TargetConfiguration.js
  admin-ui/plugins/jans-kc-link/helper/index.js
  admin-ui/plugins/jans-kc-link/plugin-metadata.js
  admin-ui/plugins/jans-kc-link/redux/api/JansKcLinkApi.js
  admin-ui/plugins/jans-kc-link/redux/features/JansKcLinkSlice.js
  admin-ui/plugins/jans-kc-link/redux/sagas/JansKcLinkSaga.js
  admin-ui/plugins/jans-link/components/SourceBackendServers/SourceBackendServerForm.js
Labels: comp-admin-ui, kind-feature

#1633 chore(admin-ui): missing new improvements docs for webhook #1632
  docs/admin/admin-ui/webhooks.md
  docs/assets/admin-ui/shortcodes.png
  docs/assets/admin-ui/webhook-create.png
Labels: area-documentation, comp-admin-ui, kind-dependencies

#1640 chore(deps): sync image assets and dependencies
  docker-admin-ui/Dockerfile
  docker-admin-ui/requirements.txt
Labels: comp-docker-admin-ui, kind-dependencies

#1641 chore(admin-ui): upgrade routing libraries to latest
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies

#1637 feat: add java memory arguments
  charts/gluu/charts/auth-server/templates/_helpers.tpl
  charts/gluu/charts/auth-server/templates/deployment.yml
  charts/gluu/charts/casa/templates/_helpers.tpl
  charts/gluu/charts/casa/templates/deployment.yaml
  charts/gluu/charts/config-api/templates/_helpers.tpl
  charts/gluu/charts/config-api/templates/deployment.yaml
  charts/gluu/charts/fido2/templates/_helpers.tpl
  charts/gluu/charts/fido2/templates/deployment.yml
  charts/gluu/charts/link/templates/_helpers.tpl
  charts/gluu/charts/link/templates/deployment.yaml
  charts/gluu/charts/saml/templates/_helpers.tpl
  charts/gluu/charts/saml/templates/deployment.yaml
  charts/gluu/charts/scim/templates/_helpers.tpl
  charts/gluu/charts/scim/templates/deployment.yml
  charts/gluu/values.yaml
Labels: comp-casa, kind-feature, comp-charts-flex

#1648 fix(admin-ui): pass udpated value of custom script editor #1646
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptForm.js
Labels: comp-admin-ui, kind-bug

#1644 [Snyk] Upgrade date-fns from 2.30.0 to 3.3.1
  admin-ui/app/routes/Dashboards/DateRange/index.js
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies

#1643 [Snyk] Upgrade @reduxjs/toolkit from 1.9.7 to 2.2.1
  admin-ui/app/redux/store/index.js
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies

#1649 feat(docker): remove SSA mount in favor of uploading via admin-ui
  automation/rancher-partner-charts/questions.yaml
  automation/startflexdemo.sh
  automation/startflexmonolithdemo.sh
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/templates/deployment.yml
  charts/gluu-all-in-one/templates/license-secrets.yaml
  charts/gluu-all-in-one/values.yaml
  charts/gluu/README.md
  charts/gluu/charts/admin-ui/templates/deployment.yml
  charts/gluu/charts/config/templates/license-secrets.yaml
  charts/gluu/values.schema.json
  charts/gluu/values.yaml
  docker-admin-ui/Dockerfile
  docker-admin-ui/requirements.txt
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/ssa.py
  docker-admin-ui/scripts/wait.py
  docker-flex-all-in-one/app/requirements.flex.txt
  docker-flex-monolith/Dockerfile
  docker-flex-monolith/README.md
  docker-flex-monolith/flex-ldap-compose.yml
  docker-flex-monolith/flex-mysql-compose.yml
  docker-flex-monolith/flex-postgres-compose.yml
  docker-flex-monolith/scripts/entrypoint.sh
  docs/install/helm-install/amazon-eks.md
  docs/install/helm-install/google-gke.md
  docs/install/helm-install/local.md
  docs/install/helm-install/microsoft-azure.md
  docs/install/helm-install/rancher.md
  docs/reference/kubernetes/helm-chart.md
Labels: comp-docker-admin-ui, kind-feature

#1642 docs(system-requirements): update values centrally
  docs/includes/cn-system-requirements.md
  docs/install/helm-install/amazon-eks.md
  docs/install/helm-install/google-gke.md
  docs/install/helm-install/local.md
  docs/install/helm-install/microsoft-azure.md
  mkdocs.yml
Labels: area-documentation

#1655 fix(monolith): update monolith version in compose files
  docker-flex-monolith/flex-ldap-compose.yml
  docker-flex-monolith/flex-mysql-compose.yml
  docker-flex-monolith/flex-postgres-compose.yml
Labels: kind-bug, comp-docker-flex-monolith

#1653 [Snyk] Upgrade react-toastify from 9.1.3 to 10.0.4
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies

#1652 [Snyk] Upgrade react-redux from 8.1.3 to 9.1.0
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies

#1657 fix(flex-aio): adjust config-api port and deploy kc
  charts/gluu-all-in-one/templates/_helpers.tpl
  charts/gluu-all-in-one/templates/nginx-ingress.yaml
Labels: kind-bug, comp-charts-flex

#1658 bug(admin-ui): unable to deactivate custom validation #1650
  admin-ui/plugins/schema/components/Person/AttributeForm.js
  admin-ui/plugins/schema/redux/sagas/AttributeSaga.js
Labels: comp-admin-ui
