Repository GluuFederation/flex, pull requests merged in 2024-07, with the labels that each got.

#1763 chore(cloud-native): sync assets for OCI images
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/templates/configmap.yaml
  charts/gluu-all-in-one/templates/nginx-ingress.yaml
  charts/gluu-all-in-one/values.yaml
  charts/gluu/README.md
  charts/gluu/charts/admin-ui/README.md
  charts/gluu/charts/auth-server-key-rotation/README.md
  charts/gluu/charts/auth-server/README.md
  charts/gluu/charts/casa/README.md
  charts/gluu/charts/cn-istio-ingress/README.md
  charts/gluu/charts/config-api/README.md
  charts/gluu/charts/config/README.md
  charts/gluu/charts/config/templates/configmaps.yaml
  charts/gluu/charts/config/values.yaml
  charts/gluu/charts/fido2/README.md
  charts/gluu/charts/kc-scheduler/README.md
  charts/gluu/charts/link/README.md
  charts/gluu/charts/nginx-ingress/README.md
  charts/gluu/charts/nginx-ingress/templates/ingress.yaml
  charts/gluu/charts/nginx-ingress/values.yaml
  charts/gluu/charts/opendj/README.md
  charts/gluu/charts/persistence/README.md
  charts/gluu/charts/saml/README.md
  charts/gluu/charts/scim/README.md
  charts/gluu/values.yaml
  docker-admin-ui/Dockerfile
  docker-flex-all-in-one/Dockerfile
  docs/reference/kubernetes/helm-chart.md
Labels: area-documentation, comp-docker-admin-ui, kind-dependencies, comp-charts-flex

#1689 feat(admin-ui): manage custom assets screens in admin ui
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuArrayCompleter.js
  admin-ui/app/utils/ApiResources.js
  admin-ui/app/utils/PermChecker.js
  admin-ui/plugins/admin/components/Assets/AssetForm.js
  admin-ui/plugins/admin/components/Assets/JansAssetAddPage.js
  admin-ui/plugins/admin/components/Assets/JansAssetEditPage.js
  admin-ui/plugins/admin/components/Assets/JansAssetListPage.js
  admin-ui/plugins/admin/plugin-metadata.js
  admin-ui/plugins/admin/redux/api/AssetApi.js
  admin-ui/plugins/admin/redux/features/AssetSlice.js
  admin-ui/plugins/admin/redux/sagas/AssetSaga.js
Labels: comp-admin-ui, kind-feature

#1759 feat(admin-ui): jans lock configuration screen #1758
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuAppSidebar.js
  admin-ui/app/utils/PermChecker.js
  admin-ui/openapi-merge.json
  admin-ui/plugins.config.json
  admin-ui/plugins/jans-lock/components/JansLock.js
  admin-ui/plugins/jans-lock/components/JansLockConfiguration.js
  admin-ui/plugins/jans-lock/plugin-metadata.js
  admin-ui/plugins/jans-lock/redux/api/JansLockApi.js
  admin-ui/plugins/jans-lock/redux/features/JansLockSlice.js
  admin-ui/plugins/jans-lock/redux/sagas/JansLockSaga.js
Labels: comp-admin-ui, kind-feature

#1769 fix(admin-ui): Enhancements and Bugfixes in SAML SP Management
  admin-ui/app/routes/Apps/Gluu/GluuTypeAheadForDn.js
  admin-ui/configApiSpecs.yaml
  admin-ui/plugins/saml/components/TrustRelationForm.js
Labels: comp-admin-ui, kind-bug

#1772 feat(cloud-native): modify images to conform to configuration schema
  charts/gluu-all-in-one/templates/_helpers.tpl
  charts/gluu-all-in-one/templates/deployment.yml
  charts/gluu-all-in-one/templates/secret.yaml
  charts/gluu/charts/config/templates/_helpers.tpl
  charts/gluu/charts/config/templates/load-init-config.yml
  charts/gluu/charts/config/templates/secrets.yaml
  docker-admin-ui/Dockerfile
  docker-flex-all-in-one/Dockerfile
Labels: comp-docker-admin-ui, kind-feature, comp-charts-flex

#1776 fix(charts): pass correct indentation
  charts/gluu/charts/auth-server/templates/deployment.yml
  charts/gluu/charts/casa/templates/deployment.yaml
  charts/gluu/charts/config-api/templates/deployment.yaml
  charts/gluu/charts/fido2/templates/deployment.yml
  charts/gluu/charts/link/templates/deployment.yaml
  charts/gluu/charts/saml/templates/deployment.yaml
  charts/gluu/charts/scim/templates/deployment.yml
Labels: comp-casa, kind-bug, comp-charts-flex

#1774 feat: implement a method to override the default connection params for the admin-ui
  docker-admin-ui/Dockerfile
  docker-admin-ui/README.md
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/templates/admin-ui/auiConfiguration.json
  docker-admin-ui/templates/admin-ui/env-config.js
Labels: area-documentation, comp-admin-ui, comp-docker-admin-ui, kind-feature

#1778 fix(charts): incorrect data type passed as optional_scopes input
  charts/gluu-all-in-one/templates/secret.yaml
Labels: kind-bug, comp-charts-flex
