Repository GluuFederation/flex, pull requests merged in 2024-04, with the labels that each got.

#1659 [Snyk] Upgrade query-string from 8.2.0 to 9.0.0
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies

#1665 fix(admin-ui): unable to update Cache Configuration #1664
  admin-ui/plugins/services/Components/Configuration/CacheInMemory.js
  admin-ui/plugins/services/Components/Configuration/CacheMemcached.js
  admin-ui/plugins/services/Components/Configuration/CacheNative.js
  admin-ui/plugins/services/Components/Configuration/CacheRedis.js
Labels: comp-admin-ui, kind-bug

#1668 chore(docker): sync assets and config
  docker-admin-ui/Dockerfile
Labels: comp-docker-admin-ui, kind-dependencies

#1675 fix(admin-ui): user status not showing active #1671
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Profile/ProfilePage.js
  admin-ui/plugins/admin/helper/shortCodes.json
  admin-ui/plugins/user-management/__tests__/api/Users.test.js
  admin-ui/plugins/user-management/components/UserManagement/UserAddPage.js
  admin-ui/plugins/user-management/components/UserManagement/UserEditPage.js
  admin-ui/plugins/user-management/components/UserManagement/UserForm.js
Labels: comp-admin-ui, kind-bug

#1678 feat(admin-ui): show agama config if present #1676
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuInputEditor.js
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptForm.js
  admin-ui/plugins/auth-server/components/Agama/AgamaListPage.js
  admin-ui/plugins/auth-server/components/Agama/AgamaProjectConfigModal.js
Labels: comp-admin-ui, kind-feature

#1680 fix: add cb-pass volume and update jans-pycloudlib
  charts/gluu-all-in-one/templates/deployment.yml
  charts/gluu/charts/config/templates/load-init-config.yml
  docker-admin-ui/requirements.txt
Labels: comp-docker-admin-ui, kind-bug, comp-charts-flex

#1685 feat(flex-linux-setup): no oidc client registration
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-feature
