Repository GluuFederation/flex, pull requests merged in 2024-10, with the labels that each got.

#1845 chore(cloud-native): sync assets and dependencies
  docker-admin-ui/Dockerfile
  docker-admin-ui/README.md
  docker-admin-ui/scripts/wait.py
  docker-flex-all-in-one/Dockerfile
  docker-flex-monolith/Dockerfile
  docs/reference/kubernetes/docker-admin-ui.md
Labels: area-documentation, comp-docker-admin-ui, kind-dependencies, comp-docker-flex-monolith

#1859 fix(admin-ui): getting error pop up on asset page
  admin-ui/app/routes/Apps/Gluu/GluuBlockUI.js
  admin-ui/app/routes/Apps/Gluu/GluuCheckBoxRow.js
  admin-ui/app/routes/Apps/Gluu/GluuFormDetailRow.js
  admin-ui/app/routes/Apps/Gluu/GluuInlineInput.js
  admin-ui/app/routes/Apps/Gluu/GluuInput.js
  admin-ui/app/routes/Apps/Gluu/GluuInputRow.js
  admin-ui/app/routes/Apps/Gluu/GluuInumInput.js
  admin-ui/app/routes/Apps/Gluu/GluuLabel.js
  admin-ui/app/routes/Apps/Gluu/GluuRemovableInputRow.js
  admin-ui/app/routes/Apps/Gluu/GluuRemovableSelectRow.js
  admin-ui/app/routes/Apps/Gluu/GluuRemovableTypeAhead.js
  admin-ui/app/routes/Apps/Gluu/GluuSelectRow.js
  admin-ui/app/routes/Apps/Gluu/GluuToogleRow.js
  admin-ui/app/routes/Apps/Gluu/GluuTypeAhead.js
  admin-ui/app/routes/Apps/Gluu/GluuTypeAheadWithAdd.js
  admin-ui/package.json
  admin-ui/plugins/admin/components/Assets/AssetForm.js
  admin-ui/plugins/admin/components/Assets/JansAssetEditPage.js
  admin-ui/plugins/admin/redux/api/AssetApi.js
Labels: comp-admin-ui, kind-bug, kind-enhancement

#1858 fix(admin-ui): Enhancement of Dashboard and Navbar UI.
  admin-ui/app/components/Notifications/index.js
  admin-ui/app/components/Notifications/styles.js
  admin-ui/app/components/ThemeSetting/ThemeSettings.js
  admin-ui/app/components/ThemeSetting/styles.js
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuAppSidebar.js
  admin-ui/app/routes/Apps/Gluu/GluuNavBar.js
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/routes/Dashboards/DateRange/index.js
  admin-ui/app/routes/Dashboards/styles.js
  admin-ui/app/styles/custom/navbar.scss
  admin-ui/app/styles/custom/sidebar.scss
  admin-ui/app/styles/main.scss
  admin-ui/configApiSpecs.yaml
Labels: comp-admin-ui, kind-bug

#1865 feat(admin-ui): changes in screen showing active sessions on auth server
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuAdvancedSearch.js
  admin-ui/app/styles/index.css
  admin-ui/app/styles/main.scss
  admin-ui/plugins/auth-server/components/Sessions/SessionDetailPage.js
  admin-ui/plugins/auth-server/components/Sessions/SessionListPage.js
  admin-ui/plugins/auth-server/redux/api/SessionApi.js
  admin-ui/plugins/auth-server/redux/features/sessionSlice.js
  admin-ui/plugins/auth-server/redux/sagas/SessionSaga.js
Labels: comp-admin-ui, kind-feature

#1854 feat(charts): add pod level annotations and customizable command
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/templates/cronjobs.yaml
  charts/gluu-all-in-one/templates/deployment.yml
  charts/gluu-all-in-one/values.yaml
  charts/gluu/README.md
  charts/gluu/charts/admin-ui/README.md
  charts/gluu/charts/admin-ui/templates/deployment.yml
  charts/gluu/charts/admin-ui/values.yaml
  charts/gluu/charts/auth-server-key-rotation/README.md
  charts/gluu/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/gluu/charts/auth-server-key-rotation/values.yaml
  charts/gluu/charts/auth-server/README.md
  charts/gluu/charts/auth-server/templates/deployment.yml
  charts/gluu/charts/auth-server/values.yaml
  charts/gluu/charts/casa/README.md
  charts/gluu/charts/casa/templates/deployment.yaml
  charts/gluu/charts/casa/values.yaml
  charts/gluu/charts/cn-istio-ingress/README.md
  charts/gluu/charts/config-api/README.md
  charts/gluu/charts/config-api/templates/deployment.yaml
  charts/gluu/charts/config-api/values.yaml
  charts/gluu/charts/config/README.md
  charts/gluu/charts/config/templates/load-init-config.yml
  charts/gluu/charts/config/values.yaml
  charts/gluu/charts/fido2/README.md
  charts/gluu/charts/fido2/templates/deployment.yml
  charts/gluu/charts/fido2/values.yaml
  charts/gluu/charts/kc-scheduler/README.md
  charts/gluu/charts/kc-scheduler/templates/cronjobs.yaml
  charts/gluu/charts/kc-scheduler/values.yaml
  charts/gluu/charts/link/README.md
  charts/gluu/charts/link/templates/deployment.yaml
  charts/gluu/charts/link/values.yaml
  charts/gluu/charts/nginx-ingress/README.md
  charts/gluu/charts/persistence/README.md
  charts/gluu/charts/persistence/templates/jobs.yml
  charts/gluu/charts/persistence/values.yaml
  charts/gluu/charts/saml/README.md
  charts/gluu/charts/saml/templates/deployment.yaml
  charts/gluu/charts/saml/values.yaml
  charts/gluu/charts/scim/README.md
  charts/gluu/charts/scim/templates/deployment.yml
  charts/gluu/charts/scim/values.yaml
  charts/gluu/values.yaml
Labels: comp-admin-ui, comp-casa, kind-feature, comp-charts-flex

#1869 fix(admin-ui): unable to update config-api-properties
  admin-ui/plugins/auth-server/components/Configuration/ConfigApiConfiguration/ApiConfigForm.js
Labels: comp-admin-ui, kind-bug

#1868 feat(charts): allow using custom configuration schema
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/templates/_helpers.tpl
  charts/gluu-all-in-one/templates/cronjobs.yaml
  charts/gluu-all-in-one/templates/deployment.yml
  charts/gluu-all-in-one/templates/secret.yaml
  charts/gluu-all-in-one/values.yaml
  charts/gluu/README.md
  charts/gluu/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/gluu/charts/auth-server/templates/deployment.yml
  charts/gluu/charts/casa/templates/deployment.yaml
  charts/gluu/charts/config-api/templates/deployment.yaml
  charts/gluu/charts/config/templates/load-init-config.yml
  charts/gluu/charts/config/templates/secrets.yaml
  charts/gluu/charts/fido2/templates/deployment.yml
  charts/gluu/charts/kc-scheduler/templates/cronjobs.yaml
  charts/gluu/charts/link/templates/deployment.yaml
  charts/gluu/charts/persistence/templates/jobs.yml
  charts/gluu/charts/saml/templates/deployment.yaml
  charts/gluu/charts/scim/templates/deployment.yml
  charts/gluu/templates/_helpers.tpl
  charts/gluu/values.yaml
Labels: area-documentation, comp-casa, kind-feature, comp-charts-flex
