Repository GluuFederation/flex, pull requests merged in 2024-09, with the labels that each got.

#1812 Admin UI issue 1809
  admin-ui/app/routes/Apps/Gluu/GluuTypeAheadForDn.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeForm.js
Labels: comp-admin-ui

#1811 feat(charts): reduce mounted password files for persistence
  charts/gluu-all-in-one/templates/cronjobs.yaml
  charts/gluu-all-in-one/templates/deployment.yml
  charts/gluu-all-in-one/templates/secret.yaml
  charts/gluu/charts/admin-ui/templates/deployment.yml
  charts/gluu/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/gluu/charts/auth-server/templates/deployment.yml
  charts/gluu/charts/casa/templates/deployment.yaml
  charts/gluu/charts/config-api/templates/deployment.yaml
  charts/gluu/charts/config/templates/load-init-config.yml
  charts/gluu/charts/config/templates/secrets.yaml
  charts/gluu/charts/fido2/templates/deployment.yml
  charts/gluu/charts/kc-scheduler/templates/cronjobs.yaml
  charts/gluu/charts/link/templates/deployment.yaml
  charts/gluu/charts/opendj/templates/cronjobs.yaml
  charts/gluu/charts/opendj/templates/statefulset.yaml
  charts/gluu/charts/persistence/templates/jobs.yml
  charts/gluu/charts/saml/templates/deployment.yaml
  charts/gluu/charts/scim/templates/deployment.yml
Labels: comp-admin-ui, comp-casa, kind-feature, comp-charts-flex

#1823 fix(admin-ui):Adding assets is getting 500 error
  admin-ui/package.json
  admin-ui/plugins/admin/components/Assets/AssetForm.js
  admin-ui/plugins/admin/components/Assets/JansAssetListPage.js
  admin-ui/plugins/admin/redux/api/AssetApi.js
Labels: comp-admin-ui, kind-bug

#1820 chore(cloud-native): sync assets to utilize pre-populated files
  docker-admin-ui/Dockerfile
  docker-admin-ui/scripts/bootstrap.py
  docker-flex-all-in-one/Dockerfile
Labels: comp-docker-admin-ui, kind-dependencies

#1829 fix(admin-ui): unable to add scope in client
  admin-ui/plugins/auth-server/components/Clients/ClientBasicPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientCibaParUmaPanel.js
  admin-ui/plugins/auth-server/components/Clients/ClientScriptPanel.js
Labels: comp-admin-ui, kind-bug

#1825 fix(monolith): resolve missing ruamel.yaml library inside monolith OCI image
  docker-flex-monolith/Dockerfile
Labels: kind-bug, comp-docker-flex-monolith

#1827 doc: Update hardware requirement
  docs/install/vm-install/vm-requirements.md
Labels: area-documentation

#1821 feat(charts): reduce mounted files for external configuration backends
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/templates/_helpers.tpl
  charts/gluu-all-in-one/templates/configmap.yaml
  charts/gluu-all-in-one/templates/cronjobs.yaml
  charts/gluu-all-in-one/templates/deployment.yml
  charts/gluu-all-in-one/templates/secret.yaml
  charts/gluu-all-in-one/values.yaml
  charts/gluu/README.md
  charts/gluu/charts/admin-ui/templates/deployment.yml
  charts/gluu/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/gluu/charts/auth-server/templates/deployment.yml
  charts/gluu/charts/casa/templates/deployment.yaml
  charts/gluu/charts/config-api/templates/deployment.yaml
  charts/gluu/charts/config/templates/_helpers.tpl
  charts/gluu/charts/config/templates/configmaps.yaml
  charts/gluu/charts/config/templates/load-init-config.yml
  charts/gluu/charts/config/templates/secrets.yaml
  charts/gluu/charts/fido2/templates/deployment.yml
  charts/gluu/charts/kc-scheduler/templates/cronjobs.yaml
  charts/gluu/charts/link/templates/deployment.yaml
  charts/gluu/charts/opendj/templates/cronjobs.yaml
  charts/gluu/charts/opendj/templates/statefulset.yaml
  charts/gluu/charts/persistence/templates/jobs.yml
  charts/gluu/charts/saml/templates/deployment.yaml
  charts/gluu/charts/scim/templates/deployment.yml
  charts/gluu/values.yaml
Labels: area-documentation, kind-feature, comp-charts-flex

#1837 fix: Remove jans-lock option from sidebar
  admin-ui/plugins/jans-lock/plugin-metadata.js
Labels: comp-admin-ui, kind-bug
