Repository GluuFederation/flex, pull requests merged in 2024-11, with the labels that each got.

#1874 feat: search records should work on entering query and pressing enter… #1871
  admin-ui/app/routes/Apps/Gluu/GluuAdvancedSearch.js
  admin-ui/app/routes/Apps/Gluu/GluuCustomScriptSearch.js
  admin-ui/plugins/admin/components/CustomScripts/ScriptListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.js
  admin-ui/plugins/schema/components/Person/AttributeListPage.js
  admin-ui/plugins/user-management/components/UserManagement/UserList.js
Labels: comp-admin-ui, kind-feature

#1832 feat(admin-ui): screen to manage 2FA creds for the users
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuViewDetailsModal.js
  admin-ui/configApiSpecs.yaml
  admin-ui/plugins/fido/redux/api/FidoApi.js
  admin-ui/plugins/fido/redux/features/fidoSlice.js
  admin-ui/plugins/fido/redux/sagas/FidoSaga.js
  admin-ui/plugins/user-management/components/UserManagement/UserDeviceDetailViewPage.js
  admin-ui/plugins/user-management/components/UserManagement/UserList.js
  admin-ui/plugins/user-management/redux/api/UserApi.js
  admin-ui/plugins/user-management/redux/features/userSlice.js
  admin-ui/plugins/user-management/redux/sagas/UserSaga.js
Labels: area-documentation, comp-admin-ui, kind-feature

#1873 feat(cloud-native): add support for legacy and simple JSON data
  docker-admin-ui/Dockerfile
  docker-admin-ui/scripts/upgrade.py
  docker-flex-all-in-one/Dockerfile
Labels: comp-docker-admin-ui, kind-feature

#1877 fix(kc-scheduler): add missing customCommand in gluu-aio
  charts/gluu-all-in-one/templates/cronjobs.yaml
  charts/gluu-all-in-one/values.yaml
Labels: kind-bug, comp-charts-flex

#1880 feat: adding ability to upload keystore in SMTP configuration form #1866
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/smtp-management/components/SmtpManagement/SmtpForm.js
  admin-ui/plugins/smtp-management/components/SmtpManagement/StmpEditPage.js
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.json
Labels: comp-admin-ui, comp-flex-linux-setup, kind-feature

#1876 fix(admin-ui): unable to add asset without adding description
  admin-ui/plugins/admin/components/Assets/AssetForm.js
Labels: comp-admin-ui, kind-bug

#1881 chore(cloud-native)!: remove spanner support from OCI images
  docker-admin-ui/Dockerfile
  docker-admin-ui/README.md
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/upgrade.py
  docker-flex-all-in-one/Dockerfile
  docker-flex-monolith/Dockerfile
Labels: area-documentation, comp-docker-admin-ui, kind-dependencies, comp-docker-flex-monolith

#1882 chore(charts)!: remove spanner support from Helm charts
  automation/rancher-partner-charts/questions.yaml
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/templates/configmap.yaml
  charts/gluu-all-in-one/templates/cronjobs.yaml
  charts/gluu-all-in-one/templates/secret.yaml
  charts/gluu-all-in-one/values.yaml
  charts/gluu/README.md
  charts/gluu/charts/config-api/templates/deployment.yaml
  charts/gluu/charts/config/README.md
  charts/gluu/charts/config/templates/configmaps.yaml
  charts/gluu/charts/config/templates/secrets.yaml
  charts/gluu/charts/config/values.yaml
  charts/gluu/openbanking-values.yaml
  charts/gluu/values.schema.json
  charts/gluu/values.yaml
Labels: area-documentation, area-CI, kind-dependencies, comp-charts-flex

#1886 chore(charts)!: remove couchbase support from Helm charts
  automation/rancher-partner-charts/questions.yaml
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/templates/_helpers.tpl
  charts/gluu-all-in-one/templates/configmap.yaml
  charts/gluu-all-in-one/templates/secret.yaml
  charts/gluu-all-in-one/values.yaml
  charts/gluu/README.md
  charts/gluu/charts/admin-ui/README.md
  charts/gluu/charts/auth-server-key-rotation/README.md
  charts/gluu/charts/auth-server/README.md
  charts/gluu/charts/casa/README.md
  charts/gluu/charts/cn-istio-ingress/README.md
  charts/gluu/charts/config-api/README.md
  charts/gluu/charts/config/README.md
  charts/gluu/charts/config/templates/_helpers.tpl
  charts/gluu/charts/config/templates/configmaps.yaml
  charts/gluu/charts/config/templates/secrets.yaml
  charts/gluu/charts/config/values.yaml
  charts/gluu/charts/fido2/README.md
  charts/gluu/charts/kc-scheduler/README.md
  charts/gluu/charts/link/README.md
  charts/gluu/charts/nginx-ingress/README.md
  charts/gluu/charts/persistence/README.md
  charts/gluu/charts/saml/README.md
  charts/gluu/charts/scim/README.md
  charts/gluu/openbanking-values.yaml
  charts/gluu/values.schema.json
  charts/gluu/values.yaml
  docs/install/helm-install/amazon-eks.md
  docs/install/helm-install/google-gke.md
  docs/install/helm-install/microsoft-azure.md
Labels: area-documentation, comp-admin-ui, comp-casa, kind-dependencies, comp-charts-flex

#1885 chore(cloud-native)!: remove couchbase support from OCI images
  docker-admin-ui/Dockerfile
  docker-admin-ui/README.md
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/upgrade.py
  docker-flex-all-in-one/Dockerfile
Labels: area-documentation, comp-docker-admin-ui, kind-dependencies

#1893 fix: lic details page showing error 'The License API is not enabled for this application.' #1892
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/License/LicenseDetailsPage.js
Labels: comp-admin-ui, kind-bug

#1897 fix(docker-admin-ui): remove non-existent function calls
  docker-admin-ui/Dockerfile
  docker-admin-ui/scripts/upgrade.py
Labels: comp-docker-admin-ui, kind-bug

#1903 fix(admin-ui): unable to select search scope
  admin-ui/plugins/auth-server/components/Clients/ClientBasicPanel.js
Labels: comp-admin-ui, kind-bug

#1898 feat(admin-ui): display status of Auth Server, Config API, FIDO, Casa, Keycloak, SCIM on Dashboard.
  admin-ui/app/images/svg/check.svg
  admin-ui/app/images/svg/cross.svg
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/redux/api/HealthCheckApi.js
  admin-ui/app/redux/features/healthSlice.js
  admin-ui/app/redux/sagas/HealthSaga.js
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/routes/Dashboards/styles.js
  admin-ui/configApiSpecs.yaml
Labels: comp-admin-ui, kind-feature

#1909 docs: update README with the latest dashboard UI screenshot
  docs/assets/admin-ui/dashboard.png
  docs/assets/admin-ui/left-nav-bar.png
  docs/assets/admin-ui/mau.png
Labels: area-documentation, comp-admin-ui

#1910 chore(release): prepare for 5.1.6
  .github/workflows/docker_build_image.yml
  automation/rancher-partner-charts/questions.yaml
  charts/gluu-all-in-one/Chart.yaml
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/values.yaml
  charts/gluu/Chart.yaml
  charts/gluu/README.md
  charts/gluu/charts/admin-ui/Chart.yaml
  charts/gluu/charts/admin-ui/README.md
  charts/gluu/charts/admin-ui/values.yaml
  charts/gluu/charts/auth-server-key-rotation/Chart.yaml
  charts/gluu/charts/auth-server-key-rotation/README.md
  charts/gluu/charts/auth-server-key-rotation/values.yaml
  charts/gluu/charts/auth-server/Chart.yaml
  charts/gluu/charts/auth-server/README.md
  charts/gluu/charts/auth-server/values.yaml
  charts/gluu/charts/casa/Chart.yaml
  charts/gluu/charts/casa/README.md
  charts/gluu/charts/casa/values.yaml
  charts/gluu/charts/cn-istio-ingress/Chart.yaml
  charts/gluu/charts/cn-istio-ingress/README.md
  charts/gluu/charts/config-api/Chart.yaml
  charts/gluu/charts/config-api/README.md
  charts/gluu/charts/config-api/values.yaml
  charts/gluu/charts/config/Chart.yaml
  charts/gluu/charts/config/README.md
  charts/gluu/charts/config/values.yaml
  charts/gluu/charts/fido2/Chart.yaml
  charts/gluu/charts/fido2/README.md
  charts/gluu/charts/fido2/values.yaml
  charts/gluu/charts/kc-scheduler/Chart.yaml
  charts/gluu/charts/kc-scheduler/README.md
  charts/gluu/charts/kc-scheduler/values.yaml
  charts/gluu/charts/link/Chart.yaml
  charts/gluu/charts/link/README.md
  charts/gluu/charts/link/values.yaml
  charts/gluu/charts/nginx-ingress/Chart.yaml
  charts/gluu/charts/nginx-ingress/README.md
  charts/gluu/charts/persistence/Chart.yaml
  charts/gluu/charts/persistence/README.md
  charts/gluu/charts/persistence/values.yaml
  charts/gluu/charts/saml/Chart.yaml
  charts/gluu/charts/saml/README.md
  charts/gluu/charts/saml/values.yaml
  charts/gluu/charts/scim/Chart.yaml
  charts/gluu/charts/scim/README.md
  charts/gluu/charts/scim/values.yaml
  charts/gluu/openbanking-values.yaml
  charts/gluu/values.yaml
  docker-admin-ui/Dockerfile
  docker-flex-all-in-one/Dockerfile
  docker-flex-monolith/Dockerfile
  docker-flex-monolith/clean.sh
  docker-flex-monolith/down.sh
  docker-flex-monolith/flex-mysql-compose.yml
  docker-flex-monolith/flex-postgres-compose.yml
  docker-flex-monolith/up.sh
  docker-flex-monolith/version.txt
  docs/reference/kubernetes/helm-chart.md
  flex-linux-setup/flex_linux_setup/version.py
Labels: area-documentation, comp-admin-ui, comp-casa, comp-flex-linux-setup, area-CI, kind-dependencies, comp-charts-flex, comp-docker-flex-monolith
