Repository GluuFederation/flex, pull requests merged in 2024-12, with the labels that each got.

#1913 feat(admin-ui): display status of Auth Server, Config API, FIDO, Casa, Keycloak, SCIM on Dashboard.
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/routes/Dashboards/styles.js
Labels: comp-admin-ui, kind-feature

#1918 fix(flex-linux-setup): removal of jans setup files
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: bug, comp-flex-linux-setup, kind-bug

#1916 fix(openbanking): update the script to use the latest values.yaml
  automation/startopenabankingdemo.sh
  docs/install/helm-install/local.md
  docs/openbanking/install-cn.md
Labels: area-documentation, area-CI, kind-bug

#1888 feat (admin-ui): show tokens in Client View
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/styles/applicationstyle.js
  admin-ui/plugins/auth-server/components/Clients/ClientActiveTokenDetailPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientActiveTokens.js
  admin-ui/plugins/auth-server/components/Clients/ClientEditPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientWizardForm.js
  admin-ui/plugins/auth-server/redux/api/TokenApi.js
  admin-ui/plugins/auth-server/redux/features/oidcSlice.js
  admin-ui/plugins/auth-server/redux/sagas/OIDCSaga.js
Labels: comp-admin-ui, kind-feature
