Repository GluuFederation/flex, pull requests merged in 2024-01, with the labels that each got.

#1527 fix(flex-linux-setup): use scope ssa.admin of jans
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/scopes.ldif
Labels: bug, comp-flex-linux-setup, kind-bug

#1529 fix(docs): fix bullet points format
  docs/supergluu/index.md
Labels: area-documentation, kind-bug

#1528 chore(docker-admin-ui): add ssa.admin scope to Admin UI backend client
  docker-admin-ui/Dockerfile
  docker-admin-ui/scripts/upgrade.py
  docker-admin-ui/templates/admin-ui/clients.ldif
Labels: comp-admin-ui, comp-docker-admin-ui, kind-dependencies

#1516 feat(admin-ui): need screens to setup a SAML website (SP) and SAML IDP #1413
  admin-ui/app/components/SVG/menu/Saml.js
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuAppSidebar.js
  admin-ui/app/utils/PermChecker.js
  admin-ui/openapi-merge.json
  admin-ui/plugins.config.json
  admin-ui/plugins/saml/components/IdpConfigTab.js
  admin-ui/plugins/saml/components/SamlConfigurationForm.js
  admin-ui/plugins/saml/components/SamlIdentityList.js
  admin-ui/plugins/saml/components/SamlIdpAddPage.js
  admin-ui/plugins/saml/components/SamlIdpEditPage.js
  admin-ui/plugins/saml/components/SamlIdpForm.js
  admin-ui/plugins/saml/components/SamlPage.js
  admin-ui/plugins/saml/plugin-metadata.js
  admin-ui/plugins/saml/redux/api/SamlApi.js
  admin-ui/plugins/saml/redux/features/SamlSlice.js
  admin-ui/plugins/saml/redux/sagas/SamlSaga.js
  admin-ui/plugins/user-management/plugin-metadata.js
Labels: comp-admin-ui, kind-feature

#1531 fix(admin-ui): make realm field mandatory #1413
  admin-ui/plugins/saml/components/SamlIdpForm.js
Labels: comp-admin-ui, kind-bug

#1534 docs: admin-ui log location changed #1533
  docs/admin/admin-ui/logs.md
Labels: area-documentation, comp-admin-ui

#1540 feat(flex-linux-setup): admin-ui webhook changes
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/aui_webhook.ldif
Labels: comp-flex-linux-setup, kind-feature

#1541 docs: add note on dev and staging env and where we support production
  docs/install/vm-install/vm-requirements.md
Labels: area-documentation

#1543 fix(admin-ui): get feature mapped webhooks on read permission
  admin-ui/app/routes/Apps/Gluu/GluuCommitDialog.js
  admin-ui/app/routes/Apps/Gluu/GluuDialog.js
  admin-ui/app/utils/hooks/useWebhookDialogAction.js
Labels: comp-admin-ui, kind-bug

#1545 fix(admin-ui): render switch for dataType boolean in user form #1544
  admin-ui/app/routes/Apps/Gluu/GluuRemovableInputRow.js
  admin-ui/plugins/user-management/components/UserManagement/UserClaimEntry.js
  admin-ui/plugins/user-management/components/UserManagement/UserEditPage.js
  admin-ui/plugins/user-management/components/UserManagement/UserForm.js
Labels: comp-admin-ui, kind-bug

#1546 fix(admin-ui): remove custom attribute on deletion #1544
  admin-ui/plugins/user-management/components/UserManagement/UserEditPage.js
Labels: comp-admin-ui, kind-bug

#1532 Update ubuntu.md
  docs/install/vm-install/ubuntu.md
Labels: area-documentation

#1520 feat(admin-ui): message configuration feature in admin-ui #1518
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/utils/PermChecker.js
  admin-ui/plugins/auth-server/components/Message/LockPage.js
  admin-ui/plugins/auth-server/components/Message/MessageForm.js
  admin-ui/plugins/auth-server/plugin-metadata.js
  admin-ui/plugins/auth-server/redux/api/MessageApi.js
  admin-ui/plugins/auth-server/redux/features/MessageSlice.js
  admin-ui/plugins/auth-server/redux/sagas/MessageSaga.js
Labels: comp-admin-ui, kind-feature

#1549 fix(admin-ui): trust relationship is not available in SAML #1548
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuToggleRow.js
  admin-ui/app/utils/PermChecker.js
  admin-ui/plugins/saml/components/SamlIdentityList.js
  admin-ui/plugins/saml/components/SamlIdpForm.js
  admin-ui/plugins/saml/components/SamlPage.js
  admin-ui/plugins/saml/components/TrustRelationForm.js
  admin-ui/plugins/saml/components/TrustRelationshipAddPage.js
  admin-ui/plugins/saml/components/TrustRelationshipEditPage.js
  admin-ui/plugins/saml/components/TrustRelationshipList.js
  admin-ui/plugins/saml/plugin-metadata.js
  admin-ui/plugins/saml/redux/api/SamlApi.js
  admin-ui/plugins/saml/redux/features/SamlSlice.js
  admin-ui/plugins/saml/redux/sagas/SamlSaga.js
Labels: comp-admin-ui, kind-bug

#1555 chore(admin-ui): use same tab names as the TUI in SAML #1554
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/saml/components/SamlIdentityList.js
  admin-ui/plugins/saml/components/SamlIdpForm.js
  admin-ui/plugins/saml/components/SamlPage.js
  admin-ui/plugins/saml/components/TrustRelationForm.js
  admin-ui/plugins/saml/components/TrustRelationshipList.js
  admin-ui/plugins/saml/plugin-metadata.js
Labels: comp-admin-ui, kind-dependencies

#1556 feat(admin-ui): export client summary in json format #1547
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/auth-server/components/Clients/ClientWizardForm.js
Labels: comp-admin-ui, kind-feature

#1480 [Snyk] Upgrade jwt-decode from 3.1.2 to 4.0.0
  admin-ui/app/utils/AppAuthProvider.js
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies
