Repository GluuFederation/flex, pull requests merged in 2024-05, with the labels that each got.

#1688 fix(admin-ui): set react to fixed v18.2.0 #1687
  admin-ui/package.json
Labels: comp-admin-ui, kind-bug

#1697 fix(admin-ui): fix issues on Webhooks table and console warning
  admin-ui/app/routes/Apps/Gluu/GluuInputEditor.js
  admin-ui/app/routes/Apps/Gluu/GluuPropertyItem.js
  admin-ui/app/routes/Apps/Gluu/GluuTypeAhead.js
  admin-ui/plugins/admin/components/Webhook/WebhookForm.js
  admin-ui/plugins/admin/components/Webhook/WebhookListPage.js
Labels: comp-admin-ui, kind-bug

#1699 fix(admin-ui):performance issues on API roles pages, API permissions pages
  admin-ui/app/routes/Apps/Gluu/GluuCommitDialog.js
  admin-ui/app/routes/Apps/Gluu/GluuSelectRow.js
  admin-ui/app/routes/Apps/Gluu/GluuToogle.js
  admin-ui/app/routes/Apps/Gluu/GluuToogleRow.js
  admin-ui/plugins/admin/components/CustomScripts/ScriptListPage.js
  admin-ui/plugins/admin/components/Permissions/UiPermDetailPage.js
  admin-ui/plugins/admin/components/Permissions/UiPermListPage.js
  admin-ui/plugins/admin/components/Roles/UiRoleListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.js
  admin-ui/plugins/auth-server/components/Sessions/SessionListPage.js
  admin-ui/plugins/jans-link/components/Tabs/ConfigurationTab.js
Labels: comp-admin-ui, kind-bug

#1701 fix(admin-ui): Fix error on the below pages
  admin-ui/plugins/auth-server/components/Agama/AgamaListPage.js
  admin-ui/plugins/auth-server/components/AuthN/AuthNListPage.js
  admin-ui/plugins/schema/components/Person/AttributeListPage.js
  admin-ui/plugins/services/Components/Configuration/CacheNative.js
  admin-ui/plugins/user-management/components/UserManagement/UserList.js
Labels: comp-admin-ui, kind-bug

#1673 [Snyk] Upgrade react-responsive from 9.0.2 to 10.0.0
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies

#1703 fix(admin-ui): getting blank page for identity broker page
  admin-ui/app/redux/features/initSlice.js
  admin-ui/plugins/admin/redux/features/WebhookSlice.js
  admin-ui/plugins/admin/redux/features/customScriptSlice.js
  admin-ui/plugins/saml/components/SamlIdentityList.js
  admin-ui/plugins/saml/redux/features/SamlSlice.js
  admin-ui/plugins/schema/redux/features/attributeSlice.js
Labels: comp-admin-ui, kind-bug

#1684 docs: add note on memory limit to avoid java args break and other doc fixes
  charts/gluu-all-in-one/templates/deployment.yml
  charts/gluu/README.md
  charts/gluu/charts/admin-ui/templates/deployment.yml
  charts/gluu/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/gluu/charts/auth-server/templates/deployment.yml
  charts/gluu/charts/casa/templates/deployment.yaml
  charts/gluu/charts/config-api/templates/deployment.yaml
  charts/gluu/charts/config/templates/load-init-config.yml
  charts/gluu/charts/fido2/templates/deployment.yml
  charts/gluu/charts/link/templates/deployment.yaml
  charts/gluu/charts/saml/templates/deployment.yaml
  charts/gluu/charts/scim/templates/deployment.yml
  charts/gluu/values.yaml
  docs/admin/recipes/getting-started-rancher.md
  docs/install/docker-install/compose.md
  docs/install/docker-install/quick-start.md
  docs/install/helm-install/rancher.md
  mkdocs.yml
Labels: area-documentation, comp-admin-ui, comp-casa, comp-charts-flex

#1705 feat(admin-ui): Implement security measures for webhook
  admin-ui/plugins/admin/components/Webhook/WebhookForm.js
  admin-ui/plugins/admin/components/Webhook/WebhookURLChecker.js
Labels: comp-admin-ui, comp-docker-admin-ui, kind-feature

#1693 feat(charts): add support for keycloak scheduler
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/templates/cronjobs.yaml
  charts/gluu-all-in-one/values.yaml
  charts/gluu/Chart.yaml
  charts/gluu/README.md
  charts/gluu/charts/kc-scheduler/.helmignore
  charts/gluu/charts/kc-scheduler/Chart.yaml
  charts/gluu/charts/kc-scheduler/README.md
  charts/gluu/charts/kc-scheduler/templates/_helpers.tpl
  charts/gluu/charts/kc-scheduler/templates/cronjobs.yaml
  charts/gluu/charts/kc-scheduler/templates/service.yaml
  charts/gluu/charts/kc-scheduler/templates/user-custom-secret-envs.yaml
  charts/gluu/charts/kc-scheduler/values.yaml
  charts/gluu/values.schema.json
  charts/gluu/values.yaml
Labels: area-documentation, kind-feature, comp-charts-flex

#1722 refactor(cloud-native): revisit Python libs installation method
  docker-admin-ui/Dockerfile
  docker-flex-all-in-one/Dockerfile
  docker-flex-all-in-one/app/requirements.flex.txt
Labels: comp-docker-admin-ui, kind-enhancement

#1714 feat(admin-ui): principalAttribute and principalType for SAML TR #1713
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/saml/components/SamlIdpForm.js
Labels: comp-admin-ui, kind-feature

#1729 fix(cloud-native): resolve failure on sync assets using git
  docker-admin-ui/Dockerfile
  docker-admin-ui/requirements.txt
  docker-flex-all-in-one/Dockerfile
Labels: comp-docker-admin-ui, kind-bug

#1730 feat: injecting env properties dynamically in admin-ui built #1720
  admin-ui/app/index.html
  admin-ui/app/redux/api/axios.js
  admin-ui/app/redux/api/base.js
  admin-ui/app/redux/api/index.js
  admin-ui/env-config.js
  admin-ui/plugins/admin/components/Settings/SettingsPage.js
  admin-ui/plugins/services/redux/api/index.js
Labels: comp-admin-ui, kind-feature

#1731 feat: injecting env properties dynamically in admin-ui built #1720
  admin-ui/.env
Labels: comp-admin-ui, kind-feature

#1734 feat: injecting env properties dynamically in admin-ui built #1720
  admin-ui/.env
  admin-ui/.env.goldencrane
  admin-ui/.env.local
  admin-ui/.env.test
  admin-ui/.env.tmp
  admin-ui/build/webpack.config.client.dev.js
  admin-ui/env-config.js
  admin-ui/package.json
Labels: comp-admin-ui, kind-feature

#1721 chore(charts): reformat values.schema.json for readability
  charts/gluu/values.schema.json
Labels: kind-dependencies, comp-charts-flex

#1708 fix: allow version pass to avoid latest install always
  automation/startflexdemo.sh
Labels: area-CI, kind-bug

#1732 chore(cloud-native): reuse pre-built admin-ui app
  docker-admin-ui/Dockerfile
  docker-admin-ui/README.md
  docker-admin-ui/requirements.txt
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/builder.py
  docker-admin-ui/templates/admin-ui/env
  docker-admin-ui/templates/admin-ui/env-config.js
  docker-admin-ui/templates/admin-ui/nginx-default.conf
  docker-flex-all-in-one/Dockerfile
  docker-flex-all-in-one/app/requirements.flex.txt
  docs/reference/kubernetes/docker-admin-ui.md
Labels: area-documentation, comp-admin-ui, comp-docker-admin-ui, kind-dependencies

#1736 fix: charts java memory options passed
  charts/gluu/charts/auth-server/templates/_helpers.tpl
  charts/gluu/charts/casa/templates/_helpers.tpl
  charts/gluu/charts/config-api/templates/_helpers.tpl
  charts/gluu/charts/fido2/templates/_helpers.tpl
  charts/gluu/charts/link/templates/_helpers.tpl
  charts/gluu/charts/saml/templates/_helpers.tpl
  charts/gluu/charts/scim/templates/_helpers.tpl
  charts/gluu/values.yaml
Labels: comp-casa, kind-bug, comp-charts-flex

#1733 feat(flex-linux-setup): use built archive for setup
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/env-config.js
Labels: comp-flex-linux-setup, kind-feature
