Repository GluuFederation/flex, pull requests merged in 2024-02, with the labels that each got.

#1430 [Snyk] Upgrade react-router-dom from 6.16.0 to 6.17.0
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies

#1557 feat(flex): add support for passing custom istio gateways
  charts/gluu-all-in-one/templates/istio-gateway.yaml
  charts/gluu/charts/cn-istio-ingress/templates/gateway.yaml
Labels: kind-feature, comp-charts-flex

#1568 docs: update instructions for agama lab
  docs/install/agama/prerequisites.md
  docs/supergluu/admin-guide/index.md
  mkdocs.yml
Labels: area-documentation

#1571 chore: set dev and snapshot
  .github/workflows/docker_build_image.yml
  .github/workflows/release.yml
  admin-ui/package.json
  automation/rancher-partner-charts/questions.yaml
  charts/gluu-all-in-one/Chart.yaml
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/values.yaml
  charts/gluu/Chart.yaml
  charts/gluu/README.md
  charts/gluu/charts/admin-ui/Chart.yaml
  charts/gluu/charts/admin-ui/README.md
  charts/gluu/charts/admin-ui/values.yaml
  charts/gluu/charts/auth-server-key-rotation/Chart.yaml
  charts/gluu/charts/auth-server-key-rotation/README.md
  charts/gluu/charts/auth-server-key-rotation/values.yaml
  charts/gluu/charts/auth-server/Chart.yaml
  charts/gluu/charts/auth-server/README.md
  charts/gluu/charts/auth-server/values.yaml
  charts/gluu/charts/casa/Chart.yaml
  charts/gluu/charts/casa/README.md
  charts/gluu/charts/casa/values.yaml
  charts/gluu/charts/cn-istio-ingress/Chart.yaml
  charts/gluu/charts/cn-istio-ingress/README.md
  charts/gluu/charts/config-api/Chart.yaml
  charts/gluu/charts/config-api/README.md
  charts/gluu/charts/config-api/values.yaml
  charts/gluu/charts/config/Chart.yaml
  charts/gluu/charts/config/README.md
  charts/gluu/charts/config/values.yaml
  charts/gluu/charts/fido2/Chart.yaml
  charts/gluu/charts/fido2/README.md
  charts/gluu/charts/fido2/values.yaml
  charts/gluu/charts/link/Chart.yaml
  charts/gluu/charts/link/README.md
  charts/gluu/charts/link/values.yaml
  charts/gluu/charts/nginx-ingress/Chart.yaml
  charts/gluu/charts/nginx-ingress/README.md
  charts/gluu/charts/opendj/Chart.yaml
  charts/gluu/charts/opendj/README.md
  charts/gluu/charts/opendj/values.yaml
  charts/gluu/charts/persistence/Chart.yaml
  charts/gluu/charts/persistence/README.md
  charts/gluu/charts/persistence/values.yaml
  charts/gluu/charts/saml/Chart.yaml
  charts/gluu/charts/saml/README.md
  charts/gluu/charts/saml/values.yaml
  charts/gluu/charts/scim/Chart.yaml
  charts/gluu/charts/scim/README.md
  charts/gluu/charts/scim/values.yaml
  charts/gluu/values.yaml
  docker-admin-ui/Dockerfile
  docker-admin-ui/version.txt
  docker-flex-all-in-one/Dockerfile
  docker-flex-monolith/Dockerfile
  docker-flex-monolith/version.txt
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/version.py
Labels: area-documentation, comp-admin-ui, comp-casa, comp-flex-linux-setup, area-CI, comp-docker-admin-ui, kind-dependencies, comp-charts-flex, comp-docker-flex-monolith

#1572 flex_ubuntu_doc_update
  docs/install/vm-install/ubuntu.md
Labels: area-documentation

#1579 feat(admin-ui): fetch sessionTimeout from config response #1575
  admin-ui/.env
  admin-ui/.env.adminuitest
  admin-ui/.env.goldencrane
  admin-ui/.env.test
  admin-ui/.env.tmp
  admin-ui/app/routes/Apps/Gluu/GluuSessionTimeout.js
  admin-ui/build/webpack.config.client.dev.js
  admin-ui/build/webpack.config.client.prod.js
Labels: comp-admin-ui, kind-feature

#1580 feat(admin-ui): screen to update session timeout #1575
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/redux/api/backend-api.js
  admin-ui/app/redux/features/authSlice.js
  admin-ui/app/redux/features/initSlice.js
  admin-ui/app/redux/sagas/AuthSaga.js
  admin-ui/plugins/admin/components/Permissions/PermissionAddDialogForm.js
  admin-ui/plugins/admin/components/Roles/RoleAddDialogForm.js
  admin-ui/plugins/admin/components/Settings/SettingsPage.js
Labels: comp-admin-ui, kind-feature

#1583 docs: add documentation for admin-ui screen supporting editable UI configurations. #1582
  docs/admin/admin-ui/admin-menu.md
  docs/admin/admin-ui/configuration.md
Labels: area-documentation, comp-admin-ui

#1585 feat(admin-ui): impl short codes in webhooks to pass dynamic data #1542
  admin-ui/app/components/App/AuthenticatedRouteSelector.js
  admin-ui/app/components/SVG/menu/ShortCodesIcon.js
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuInputEditor.js
  admin-ui/app/routes/Apps/Gluu/GluuInputRow.js
  admin-ui/app/routes/Apps/Gluu/GluuTypeAhead.js
  admin-ui/app/routes/Apps/Gluu/GluuWebhookErrorDialog.js
  admin-ui/app/routes/Apps/Gluu/styles/applicationstyle.js
  admin-ui/app/utils/hooks/useWebhookDialogAction.js
  admin-ui/plugins/admin/components/Webhook/ShortcodePopover.js
  admin-ui/plugins/admin/components/Webhook/WebhookForm.js
  admin-ui/plugins/admin/components/Webhook/WebhookListPage.js
  admin-ui/plugins/admin/helper/shortCodes.json
  admin-ui/plugins/admin/helper/utils.js
  admin-ui/plugins/admin/redux/api/WebhookApi.js
  admin-ui/plugins/admin/redux/features/WebhookSlice.js
  admin-ui/plugins/admin/redux/sagas/CustomScriptSaga.js
  admin-ui/plugins/admin/redux/sagas/WebhookSaga.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
  admin-ui/plugins/auth-server/components/Scopes/ScopeListPage.js
  admin-ui/plugins/auth-server/redux/audit/Resources.js
  admin-ui/plugins/auth-server/redux/sagas/OAuthScopeSaga.js
  admin-ui/plugins/auth-server/redux/sagas/OIDCSaga.js
  admin-ui/plugins/fido/components/Fido.js
  admin-ui/plugins/fido/redux/sagas/FidoSaga.js
  admin-ui/plugins/jans-link/components/Tabs/ConfigurationTab.js
  admin-ui/plugins/jans-link/components/Tabs/InumDBServerTab.js
  admin-ui/plugins/jans-link/redux/sagas/CacheRefreshSaga.js
  admin-ui/plugins/saml/components/SamlConfigurationForm.js
  admin-ui/plugins/saml/components/SamlIdentityList.js
  admin-ui/plugins/saml/components/SamlIdpForm.js
  admin-ui/plugins/saml/redux/sagas/SamlSaga.js
  admin-ui/plugins/schema/components/Person/AttributeForm.js
  admin-ui/plugins/schema/components/Person/AttributeListPage.js
  admin-ui/plugins/schema/redux/sagas/AttributeSaga.js
  admin-ui/plugins/scim/redux/sagas/ScimSaga.js
  admin-ui/plugins/smtp-management/redux/sagas/SmtpSaga.js
  admin-ui/plugins/user-management/components/UserManagement/UserList.js
  admin-ui/plugins/user-management/redux/sagas/UserSaga.js
  flex-linux-setup/flex_linux_setup/templates/aui_webhook.ldif
Labels: comp-admin-ui, comp-flex-linux-setup, kind-feature

#1588 feat: add sessionTimeoutInMins in admin-ui configuration
  docker-admin-ui/Dockerfile
  docker-admin-ui/requirements.txt
  docker-admin-ui/scripts/bootstrap.py
Labels: comp-docker-admin-ui, kind-feature

#1592 fix(admin-ui): pass access token in /logging api #1581
  admin-ui/app/redux/api/backend-api.js
  admin-ui/app/redux/sagas/SagaUtils.js
Labels: comp-admin-ui, kind-bug

#1595 feat: add configurable additional parameters in admin-ui configuration #1594
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.json
Labels: comp-flex-linux-setup, kind-feature

#1589 fix: add vault support to flex and flex-aio
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/templates/configmap.yaml
  charts/gluu-all-in-one/templates/cronjobs.yaml
  charts/gluu-all-in-one/templates/deployment.yml
  charts/gluu-all-in-one/templates/secret.yaml
  charts/gluu-all-in-one/values.yaml
  charts/gluu/README.md
  charts/gluu/charts/admin-ui/README.md
  charts/gluu/charts/admin-ui/templates/deployment.yml
  charts/gluu/charts/auth-server-key-rotation/README.md
  charts/gluu/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/gluu/charts/auth-server/README.md
  charts/gluu/charts/auth-server/templates/deployment.yml
  charts/gluu/charts/casa/README.md
  charts/gluu/charts/casa/templates/deployment.yaml
  charts/gluu/charts/cn-istio-ingress/README.md
  charts/gluu/charts/config-api/README.md
  charts/gluu/charts/config-api/templates/deployment.yaml
  charts/gluu/charts/config/README.md
  charts/gluu/charts/config/templates/configmaps.yaml
  charts/gluu/charts/config/templates/load-init-config.yml
  charts/gluu/charts/config/templates/secrets.yaml
  charts/gluu/charts/config/values.yaml
  charts/gluu/charts/fido2/README.md
  charts/gluu/charts/fido2/templates/deployment.yml
  charts/gluu/charts/link/README.md
  charts/gluu/charts/link/templates/deployment.yaml
  charts/gluu/charts/nginx-ingress/README.md
  charts/gluu/charts/opendj/README.md
  charts/gluu/charts/opendj/templates/cronjobs.yaml
  charts/gluu/charts/persistence/README.md
  charts/gluu/charts/persistence/templates/jobs.yml
  charts/gluu/charts/saml/README.md
  charts/gluu/charts/saml/templates/deployment.yaml
  charts/gluu/charts/scim/README.md
  charts/gluu/charts/scim/templates/deployment.yml
  charts/gluu/values.schema.json
  charts/gluu/values.yaml
  docker-admin-ui/Dockerfile
  docker-admin-ui/README.md
  docs/admin/admin-ui/introduction.md
Labels: area-documentation, comp-admin-ui, comp-casa, kind-bug, comp-charts-flex

#1599 feat(admin-ui): add additional parameters in admin-ui config #1591
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/redux/sagas/AuthSaga.js
  admin-ui/app/routes/Apps/Gluu/GluuProperties.js
  admin-ui/app/utils/AppAuthProvider.js
  admin-ui/plugins/admin/components/Settings/SettingsPage.js
Labels: comp-admin-ui, kind-feature

#1600 chore(admin-ui): update font size of properties component
  admin-ui/app/routes/Apps/Gluu/GluuProperties.js
Labels: comp-admin-ui, kind-dependencies
