Repository GluuFederation/flex, pull requests merged in 2024-06, with the labels that each got.

#1746 fix(admin-ui): user details table in user management #1745
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptDetailPage.js
  admin-ui/plugins/user-management/components/UserManagement/UserDetailViewPage.js
Labels: comp-admin-ui, kind-bug

#1739 feat(admin-ui): add config-api configuration sceen #1621
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/redux/sagas/LicenseSaga.js
  admin-ui/app/routes/Apps/Gluu/GluuInlineInput.js
  admin-ui/app/utils/PermChecker.js
  admin-ui/plugins/admin/components/Configuration/ConfigPage.js
  admin-ui/plugins/admin/plugin-metadata.js
  admin-ui/plugins/auth-server/components/Configuration/ConfigApiConfiguration/ApiConfigForm.js
  admin-ui/plugins/auth-server/components/Configuration/ConfigApiConfiguration/ConfigApiPage.js
  admin-ui/plugins/auth-server/components/Configuration/ConfigApiConfiguration/JsonPropertyBuilderConfigApi.js
  admin-ui/plugins/auth-server/components/Configuration/JsonPropertyBuilder.js
  admin-ui/plugins/auth-server/plugin-metadata.js
  admin-ui/plugins/auth-server/redux/api/ConfigurationApi.js
  admin-ui/plugins/auth-server/redux/features/configApiSlice.js
  admin-ui/plugins/auth-server/redux/sagas/configApiSaga.js
Labels: comp-admin-ui, kind-feature

#1726 fix(admin-ui): display duplicate error on adding user #1723
  admin-ui/plugins/user-management/redux/sagas/UserSaga.js
Labels: comp-admin-ui, kind-bug

#1672 [Snyk] Upgrade @mui/x-date-pickers from 6.19.9 to 7.0.0
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies

#1756 chore(admin-ui): upgrade react, react-dom #1754
  admin-ui/package.json
Labels: comp-admin-ui, kind-dependencies
