Repository GluuFederation/flex, pull requests merged in 2024-08, with the labels that each got.

#1782 docs: add private admin-ui to k8s ops
  docs/admin/kubernetes-ops/README.md
  docs/admin/kubernetes-ops/admin-ui-private.md
  mkdocs.yml
Labels: area-documentation

#1785 feat(cloud-native): upgrade Alpine OS to v3.20
  docker-admin-ui/Dockerfile
  docker-admin-ui/Makefile
  docker-admin-ui/requirements.txt
  docker-flex-all-in-one/Dockerfile
  docker-flex-all-in-one/Makefile
Labels: comp-docker-admin-ui, kind-feature

#1790 feat(jans-lock): add jans-lock ingress
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/templates/nginx-ingress.yaml
  charts/gluu-all-in-one/values.yaml
  charts/gluu/README.md
  charts/gluu/charts/nginx-ingress/templates/ingress.yaml
  charts/gluu/values.yaml
  docker-admin-ui/Dockerfile
  docker-flex-all-in-one/Dockerfile
Labels: area-documentation, kind-feature, comp-charts-flex

#1803 feat(admin-ui):Input tool tooltip in SAML Configuration Management form.
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuToggleRow.js
  admin-ui/plugins/saml/components/SamlConfigurationForm.js
  admin-ui/plugins/saml/components/SamlIdpForm.js
  admin-ui/plugins/saml/components/TrustRelationForm.js
Labels: comp-admin-ui, kind-feature

#1806 feat(admin-ui): Display current flex version in admin's setting page.
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/admin/components/Settings/SettingsPage.js
Labels: comp-admin-ui, kind-feature

#1805 feat(cloud-native): add support reading configuration from file
  docker-admin-ui/Dockerfile
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/scripts/wait.py
  docker-flex-all-in-one/Dockerfile
Labels: comp-docker-admin-ui, kind-feature

#1800 feat(admin-ui): Add 'Agama Flows' and 'Alias' tabs in authN.
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/auth-server/components/Agama/AgamaAliasListPage.js
  admin-ui/plugins/auth-server/components/Agama/AgamaListPage.js
  admin-ui/plugins/auth-server/components/AuthN/AuthNListPage.js
  admin-ui/plugins/auth-server/components/AuthN/index.js
  admin-ui/plugins/auth-server/components/Configuration/ConfigPage.js
  admin-ui/plugins/auth-server/plugin-metadata.js
  admin-ui/plugins/auth-server/redux/features/jsonConfigSlice.js
  admin-ui/plugins/auth-server/redux/sagas/JsonConfigSaga.js
Labels: comp-admin-ui, kind-feature

#1661 docs: add `include-markdown` plugin to enable reuse of text content
  mkdocs.yml
Labels: area-documentation
