Repository GluuFederation/flex, pull requests merged in 2025-05, with the labels that each got.

#2056 fix(charts): missing feature of jans-keycloak-link
  charts/gluu-all-in-one/README.md
  charts/gluu-all-in-one/templates/_helpers.tpl
  charts/gluu-all-in-one/templates/configmap.yaml
  charts/gluu-all-in-one/templates/nginx-ingress.yaml
  charts/gluu-all-in-one/values.yaml
  charts/gluu/Chart.yaml
  charts/gluu/README.md
  charts/gluu/charts/config/templates/configmaps.yaml
  charts/gluu/charts/keycloak-link/Chart.yaml
  charts/gluu/charts/keycloak-link/README.md
  charts/gluu/charts/keycloak-link/templates/_helpers.tpl
  charts/gluu/charts/keycloak-link/templates/deployment.yaml
  charts/gluu/charts/keycloak-link/templates/hpa.yaml
  charts/gluu/charts/keycloak-link/templates/keycloak-link-destination-rules.yaml
  charts/gluu/charts/keycloak-link/templates/keycloak-link-pdb.yaml
  charts/gluu/charts/keycloak-link/templates/keycloak-link-virtual-services.yaml
  charts/gluu/charts/keycloak-link/templates/service.yaml
  charts/gluu/charts/keycloak-link/values.yaml
  charts/gluu/charts/nginx-ingress/templates/ingress.yaml
  charts/gluu/values.schema.json
  charts/gluu/values.yaml
  docker-admin-ui/Dockerfile
  docker-flex-all-in-one/Dockerfile
Labels: area-documentation, comp-docker-admin-ui, kind-bug, comp-charts-flex

#2060 fix(docs): add how to document for adding claims to token
  docs/admin/recipes/add-claims-to-token.md
  docs/assets/flex-add-claims.png
  docs/assets/flex-attributes.png
  docs/assets/flex-custom-attribute.png
  docs/assets/flex-jans-tarp.png
  docs/assets/flex-new-user.png
  mkdocs.yml
Labels: area-documentation, kind-bug

#2068 feat(admin-ui): add download/view feature in SSA page of Admin UI
  admin-ui/app/routes/Apps/Gluu/GluuFormActionRow.js
  admin-ui/package.json
  admin-ui/plugins/auth-server/components/JsonViewer/JsonViewer.css
  admin-ui/plugins/auth-server/components/JsonViewer/JsonViewer.js
  admin-ui/plugins/auth-server/components/JsonViewer/JsonViewerDialog.js
  admin-ui/plugins/auth-server/components/Ssa/SsaDetailPage.js
  admin-ui/plugins/auth-server/components/Ssa/SsaListPage.js
Labels: comp-admin-ui, kind-feature

#2072 fix(charts): invalid template function calls when using AWS secrets manager
  charts/gluu-all-in-one/templates/_helpers.tpl
Labels: kind-bug, comp-charts-flex

#2070 chore(main): release 5.7.0
  CHANGELOG.md
Labels: area-documentation, kind-dependencies, autorelease: pending

#2075 feat(admin-ui): rename schema and update user-claims visuals
  admin-ui/app/components/SVG/menu/UserClaims.js
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuAppSidebar.js
  admin-ui/plugins/schema/plugin-metadata.js
Labels: comp-admin-ui, kind-feature

#2078 Refactor/admin UI/remove jans kc and jans link
  admin-ui/app/routes/Dashboards/DashboardPage.js
  admin-ui/app/utils/PermChecker.js
  admin-ui/plugins.config.json
  admin-ui/plugins/jans-kc-link/components/ConfigurationForm.js
  admin-ui/plugins/jans-kc-link/components/JansKcLinkPage.js
  admin-ui/plugins/jans-kc-link/components/JansKcSourceForm.js
  admin-ui/plugins/jans-kc-link/components/SharedFooter.js
  admin-ui/plugins/jans-kc-link/components/Tabs/BasicConfiguration.js
  admin-ui/plugins/jans-kc-link/components/Tabs/InumConfiguration.js
  admin-ui/plugins/jans-kc-link/components/Tabs/KeycloackConfiguration.js
  admin-ui/plugins/jans-kc-link/components/Tabs/Sources.js
  admin-ui/plugins/jans-kc-link/components/Tabs/TargetConfiguration.js
  admin-ui/plugins/jans-kc-link/helper/index.js
  admin-ui/plugins/jans-kc-link/plugin-metadata.js
  admin-ui/plugins/jans-kc-link/redux/api/JansKcLinkApi.js
  admin-ui/plugins/jans-kc-link/redux/features/JansKcLinkSlice.js
  admin-ui/plugins/jans-kc-link/redux/sagas/JansKcLinkSaga.js
  admin-ui/plugins/jans-link/__tests__/api/JansLink.test.js
  admin-ui/plugins/jans-link/__tests__/api/setup.test.js
  admin-ui/plugins/jans-link/components/CacheRefresh/BindPasswordModal.js
  admin-ui/plugins/jans-link/components/CacheRefresh/JansLinkPage.js
  admin-ui/plugins/jans-link/components/CacheRefresh/JansLinkPage.test.js
  admin-ui/plugins/jans-link/components/SourceBackendServers/SourceBackendServerForm.js
  admin-ui/plugins/jans-link/components/Tabs/ConfigurationTab.js
  admin-ui/plugins/jans-link/components/Tabs/CustomerBackendKeyTab.js
  admin-ui/plugins/jans-link/components/Tabs/InumDBServerTab.js
  admin-ui/plugins/jans-link/components/Tabs/SourceBackendServersTab.js
  admin-ui/plugins/jans-link/plugin-metadata.js
  admin-ui/plugins/jans-link/redux/api/CacheRefreshApi.js
  admin-ui/plugins/jans-link/redux/features/CacheRefreshSlice.js
  admin-ui/plugins/jans-link/redux/sagas/CacheRefreshSaga.js
Labels: comp-admin-ui

#2080 feat(admin-ui): Downloaded SSA should be in a jwt file
  admin-ui/plugins/auth-server/components/JsonViewer/JsonViewerDialog.js
  admin-ui/plugins/auth-server/components/Ssa/SsaListPage.js
  admin-ui/plugins/auth-server/redux/api/SsaApi.js
  admin-ui/plugins/auth-server/redux/features/SsaSlice.js
  admin-ui/plugins/auth-server/redux/sagas/SsaSaga.js
Labels: comp-admin-ui, comp-docker-admin-ui, kind-feature

#2091 feat(admin-ui): hide optional components from sidebar if not installed
  admin-ui/app/routes/Apps/Gluu/GluuAppSidebar.js
  admin-ui/app/routes/Apps/Gluu/styles/GluuAppSidebar.style.js
Labels: comp-admin-ui, kind-feature

#2094 fix(admin-ui): White screen on AuthN page load #2093
  admin-ui/plugins/auth-server/components/AuthN/index.js
Labels: comp-admin-ui, kind-bug
