Repository GluuFederation/flex, pull requests merged in 2025-06, with the labels that each got.

#2101 feat(admin-ui): enforce consistent code formatting with Prettier and Husky
  admin-ui/.eslintrc
  admin-ui/.eslintrc.js
  admin-ui/.gitignore
  admin-ui/.husky/_/husky.sh
  admin-ui/.husky/pre-commit
  admin-ui/.prettierrc
  admin-ui/README.md
  admin-ui/package.json
Labels: comp-admin-ui, kind-feature

#2110 feat(admin-ui): show persistence details on Admin UI (#2099)
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuAppSidebar.js
  admin-ui/app/routes/Apps/Gluu/styles/applicationstyle.js
  admin-ui/app/utils/PermChecker.js
  admin-ui/plugins/services/Components/Configuration/PersistenceDetail.js
  admin-ui/plugins/services/plugin-metadata.js
  admin-ui/plugins/services/redux/api/PersistenceConfigApi.js
  admin-ui/plugins/services/redux/features/persistenceTypeSlice.js
  admin-ui/plugins/services/redux/sagas/PersistenceTypeSaga.js
Labels: comp-admin-ui, kind-feature

#2112 feat: add cronjob schedule override
  charts/gluu-all-in-one/templates/cronjobs.yaml
  charts/gluu-all-in-one/values.yaml
  charts/gluu/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/gluu/values.yaml
Labels: kind-feature, comp-charts-flex

#2142 feat: admin ui web OIDC client should be set to generate the access_token in JWT format by default
  docker-admin-ui/templates/admin-ui/clients.ldif
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-feature

#2144 chore(main): release 5.8.0
  CHANGELOG.md
Labels: area-documentation, kind-dependencies, autorelease: pending
