Repository GluuFederation/flex, pull requests merged in 2025-10, with the labels that each got.

#2300 feat(admin-ui): Add Orval Support for Progressive Migration from OpenAPI Generator
  admin-ui/api-client.ts
  admin-ui/app/index.tsx
  admin-ui/fix-orval-enums.js
  admin-ui/orval.config.ts
  admin-ui/package.json
  admin-ui/tsconfig.json
Labels: comp-admin-ui, comp-docker-admin-ui, kind-feature

#2302 fix(docs): update installation checksum info
  docs/install/vm-install/rhel.md
  docs/install/vm-install/suse.md
  docs/install/vm-install/ubuntu.md
Labels: area-documentation, kind-bug

#2301 fix(docs): update admin UI auth server documentation
  docs/admin/admin-ui/auth-server-menu.md
  docs/assets/admin-ui/admin-ui-logging.png
  docs/assets/admin-ui/admin-ui-scope.png
  docs/assets/admin-ui/admin-ui-ssa.png
Labels: area-documentation, comp-admin-ui, kind-bug

#2290 fix(docs): update documentation for admin UI custom scripts
  docs/admin/admin-ui/scripts.md
  docs/assets/admin-ui/admin-ui-custom-script-1.png
  docs/assets/admin-ui/admin-ui-custom-script-2.png
  docs/assets/admin-ui/admin-ui-custom-script.png
Labels: area-documentation, comp-admin-ui, kind-bug

#2274 fix(admin-ui): resolve permission denied popup during login
  admin-ui/app/redux/features/authSlice.ts
  admin-ui/app/redux/features/types/authTypes.ts
  admin-ui/app/routes/Dashboards/DashboardPage.tsx
  admin-ui/app/utils/AppAuthProvider.tsx
  admin-ui/plugins/admin/components/MAU/MauGraph.js
Labels: comp-admin-ui, kind-bug

#2311 fix(admin-ui): Migrate FIDO plugin to TypeScript with React Query
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/es/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuProperties.tsx
  admin-ui/config/webpack.config.client.dev.ts
  admin-ui/config/webpack.config.client.prod.ts
  admin-ui/plugins/admin/helper/shortCodes.json
  admin-ui/plugins/fido/__tests__/api/Fido.test.js
  admin-ui/plugins/fido/__tests__/api/setup.test.js
  admin-ui/plugins/fido/__tests__/components/FidoPage.test.js
  admin-ui/plugins/fido/components/DynamicConfiguration.tsx
  admin-ui/plugins/fido/components/Fido.js
  admin-ui/plugins/fido/components/Fido.tsx
  admin-ui/plugins/fido/components/StaticConfiguration.js
  admin-ui/plugins/fido/components/StaticConfiguration.tsx
  admin-ui/plugins/fido/helper/constants.ts
  admin-ui/plugins/fido/helper/utils.ts
  admin-ui/plugins/fido/helper/validations.ts
  admin-ui/plugins/fido/plugin-metadata.ts
  admin-ui/plugins/fido/redux/api/FidoApi.js
  admin-ui/plugins/fido/redux/features/fidoSlice.js
  admin-ui/plugins/fido/redux/sagas/FidoSaga.js
  admin-ui/plugins/fido/types/fido-types.ts
  admin-ui/plugins/fido/types/index.ts
  admin-ui/plugins/fido/types/types.ts
  admin-ui/plugins/user-management/components/UserList.tsx
Labels: comp-admin-ui, comp-docker-admin-ui, kind-bug

#2320 fix(admin-ui): admin UI experiences a loading delay due to the large bundle size of a chunk in the production build
  admin-ui/app/routes/Apps/Gluu/GluuAppSidebar.tsx
  admin-ui/app/routes/index.tsx
  admin-ui/app/utils/RouteLoader.tsx
  admin-ui/config/bundle-analyzer.config.js
  admin-ui/config/webpack.config.client.dev.ts
  admin-ui/config/webpack.config.client.prod.ts
  admin-ui/docs/CODE_SPLITTING.md
  admin-ui/package.json
  admin-ui/plugins/PluginMenuResolver.js
Labels: area-documentation, comp-admin-ui, kind-bug
