Repository GluuFederation/flex, pull requests merged in 2025-09, with the labels that each got.

#2256 feat(admin-ui): add audit log entries for Logging page of Admin UI
  admin-ui/app/helpers/index.js
  admin-ui/app/helpers/utility.js
  admin-ui/plugins/auth-server/components/Configuration/Defaults/LoggingPage.js
  admin-ui/plugins/auth-server/redux/sagas/LoggingSaga.js
  admin-ui/plugins/user-management/redux/audit/Resources.ts
Labels: comp-admin-ui, kind-feature

#2258 feat: admin ui traductions to spanish
  admin-ui/app/locales/es/translation.json
Labels: comp-admin-ui, kind-feature

#2261 fix(admin-ui): add null check validation in Auth Server Configuration page
  admin-ui/app/routes/Apps/Gluu/GluuInlineInput.tsx
Labels: comp-admin-ui, comp-docker-admin-ui, kind-bug

#2273 fix(docs): add documentation for SCIM screen on Admin-UI
  docs/admin/admin-ui/scim-menu.md
  docs/assets/admin-ui/admin-ui-scim.png
Labels: area-documentation, comp-admin-ui, kind-bug
