Repository GluuFederation/flex, pull requests merged in 2025-08, with the labels that each got.

#2215 fix(admin-ui): Add full typescript type system for the USERS plugin
  admin-ui/app/utils/TokenController.ts
  admin-ui/plugins/user-management/components/UserAddPage.tsx
  admin-ui/plugins/user-management/components/UserClaimEntry.tsx
  admin-ui/plugins/user-management/components/UserDetailViewPage.tsx
  admin-ui/plugins/user-management/components/UserDeviceDetailViewPage.tsx
  admin-ui/plugins/user-management/components/UserEditPage.tsx
  admin-ui/plugins/user-management/components/UserForm.tsx
  admin-ui/plugins/user-management/components/UserList.tsx
  admin-ui/plugins/user-management/components/UserManagement/UserAddPage.tsx
  admin-ui/plugins/user-management/components/UserManagement/UserList.js
  admin-ui/plugins/user-management/plugin-metadata.ts
  admin-ui/plugins/user-management/redux/api/UserApi.js
  admin-ui/plugins/user-management/redux/api/UserApi.ts
  admin-ui/plugins/user-management/redux/audit/Resources.ts
  admin-ui/plugins/user-management/redux/features/userSlice.js
  admin-ui/plugins/user-management/redux/features/userSlice.ts
  admin-ui/plugins/user-management/redux/sagas/UserSaga.js
  admin-ui/plugins/user-management/redux/sagas/UserSaga.ts
  admin-ui/plugins/user-management/types/CommonTypes.ts
  admin-ui/plugins/user-management/types/ComponentTypes.ts
  admin-ui/plugins/user-management/types/UserApiTypes.ts
  admin-ui/plugins/user-management/types/index.ts
Labels: comp-admin-ui, comp-docker-admin-ui, kind-bug

#2227 feat(admin-ui): upgrade cedarling_wasm dependency in Admin UI
  admin-ui/app/cedarling/config/cedarling-bootstrap-TBAC.json
  admin-ui/package.json
Labels: comp-admin-ui, kind-feature

#2191 feat(admin-ui): add jans-client header for auditing on server #2116
  admin-ui/app/redux/api/backend-api.ts
  admin-ui/app/redux/reducers/index.ts
  admin-ui/plugins/admin/common/Constants.js
  admin-ui/plugins/admin/components/Audit/AuditListPage.js
  admin-ui/plugins/admin/helper/utils.js
  admin-ui/plugins/admin/plugin-metadata.ts
  admin-ui/plugins/admin/redux/api/AuditApi.js
  admin-ui/plugins/admin/redux/features/auditSlice.js
  admin-ui/plugins/admin/redux/sagas/AuditSaga.js
  docs/admin/admin-ui/home.md
  docs/assets/admin-ui/audit-log.png
  docs/assets/admin-ui/jans-assets.png
Labels: area-documentation, comp-admin-ui, kind-feature

#2231 feat(admin-ui): limit audit comment length to 512 characters
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuCommitDialog.tsx
Labels: comp-admin-ui, kind-feature

#2243 fix(flex-linux-setup): changes required in Admin UI Web Client
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#2245 feat(admin-ui): add feature to delete selected session record
  admin-ui/app/routes/Apps/Gluu/GluuDialog.tsx
  admin-ui/plugins/auth-server/components/Sessions/SessionListPage.js
  admin-ui/plugins/auth-server/redux/api/SessionApi.js
  admin-ui/plugins/auth-server/redux/features/sessionSlice.js
  admin-ui/plugins/auth-server/redux/sagas/SessionSaga.js
Labels: comp-admin-ui, kind-feature

#2252 fix(admin-ui): adminui feature in webhook not working
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/es/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/routes/Apps/Gluu/GluuTypeAhead.tsx
Labels: comp-admin-ui, kind-bug

#2239 fix(admin-ui): Add full typescript type system for Asset management
  admin-ui/plugins/admin/common/Constants.ts
  admin-ui/plugins/admin/components/Assets/AssetForm.tsx
  admin-ui/plugins/admin/components/Assets/JansAssetAddPage.tsx
  admin-ui/plugins/admin/components/Assets/JansAssetEditPage.tsx
  admin-ui/plugins/admin/components/Assets/JansAssetListPage.js
  admin-ui/plugins/admin/components/Assets/JansAssetListPage.tsx
  admin-ui/plugins/admin/components/Assets/types/AssetApiTypes.ts
  admin-ui/plugins/admin/components/Assets/types/ComponentTypes.ts
  admin-ui/plugins/admin/components/Assets/types/FormTypes.ts
  admin-ui/plugins/admin/components/Assets/types/index.ts
  admin-ui/plugins/admin/redux/api/AssetApi.js
  admin-ui/plugins/admin/redux/api/AssetApi.ts
  admin-ui/plugins/admin/redux/features/AssetSlice.js
  admin-ui/plugins/admin/redux/features/AssetSlice.ts
  admin-ui/plugins/admin/redux/features/customScriptSlice.ts
  admin-ui/plugins/admin/redux/features/types/asset.ts
  admin-ui/plugins/admin/redux/features/types/customScript.ts
  admin-ui/plugins/admin/redux/features/types/index.ts
  admin-ui/plugins/admin/redux/sagas/AssetSaga.js
  admin-ui/plugins/admin/redux/sagas/AssetSaga.ts
  admin-ui/plugins/admin/redux/sagas/CustomScriptSaga.ts
  admin-ui/plugins/admin/redux/sagas/types/asset.ts
  admin-ui/plugins/admin/redux/sagas/types/audit.ts
  admin-ui/plugins/admin/redux/sagas/types/common.ts
  admin-ui/plugins/admin/redux/sagas/types/customScript.ts
  admin-ui/plugins/admin/redux/sagas/types/index.ts
  admin-ui/plugins/admin/redux/sagas/types/state.ts
  admin-ui/plugins/admin/redux/sagas/types/userAction.ts
Labels: comp-admin-ui, comp-docker-admin-ui
