Repository GluuFederation/flex, pull requests merged in 2025-07, with the labels that each got.

#2151 feat(cloud-native): add server-hostname environment variable in admin-ui
  docker-admin-ui/Dockerfile
  docker-admin-ui/scripts/bootstrap.py
  docker-admin-ui/templates/admin-ui/env-config.js
Labels: comp-admin-ui, comp-docker-admin-ui, kind-feature

#2156 Feat(admin-ui): add feature related to essentialPermissionInAdminUI attribute in Capabilities (#2153)
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/admin/components/Mapping/MappingItem.js
  admin-ui/plugins/admin/components/Mapping/MappingPage.js
  admin-ui/plugins/admin/components/Mapping/styles/MappingItem.style.ts
  admin-ui/plugins/admin/components/Permissions/PermissionAddDialogForm.js
  admin-ui/plugins/admin/components/Permissions/UiPermListPage.js
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
Labels: comp-admin-ui

#2166 fix(docs): fix hyperlinks
  docs/admin/admin-ui/faq.md
  docs/admin/admin-ui/introduction.md
  docs/install/vm-install/rhel.md
  docs/install/vm-install/suse.md
  docs/install/vm-install/ubuntu.md
  docs/openbanking/install-cn.md
  docs/solo/solo-getting-started.md
Labels: area-documentation, comp-admin-ui, kind-bug

#2160 Fix(admin-ui): Role - Clients using Role Screen not updated after delete
  admin-ui/plugins/auth-server/components/Clients/ClientListPage.js
Labels: comp-admin-ui

#2168 feat(flex-linux-setup): sync AdminUI scopes
  flex-linux-setup/flex_linux_setup/flex_setup.py
  flex-linux-setup/flex_linux_setup/templates/auiConfiguration.json
Labels: comp-flex-linux-setup, kind-feature

#2172 chore(cloud-native): install apache2 package as part of monolith image build
  docker-flex-monolith/.gitignore
  docker-flex-monolith/Dockerfile
Labels: kind-dependencies, comp-docker-flex-monolith

#2177 fix(flex-linux-setup): bugs in client creation
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#2188 feat(admin-ui): add ability to upload new SSA license via admin portal (#2184)
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/app/redux/api/LicenseDetailsApi.ts
  admin-ui/app/redux/features/licenseDetailsSlice.ts
  admin-ui/app/redux/sagas/LicenseDetailsSaga.ts
  admin-ui/app/redux/sagas/SagaUtils.ts
  admin-ui/app/routes/Apps/Gluu/GluuCommitDialog.tsx
  admin-ui/app/routes/License/LicenseDetailsPage.tsx
  admin-ui/app/routes/License/styles.ts
  admin-ui/app/utils/ApiUtils.ts
  admin-ui/plugins/user-management/redux/audit/Resources.js
  admin-ui/plugins/user-management/redux/sagas/UserSaga.js
Labels: comp-admin-ui, kind-feature

#2173 fix(admin-ui): add type annotations for custom scripts
  admin-ui/app/components/Card/Card.tsx
  admin-ui/app/redux/features/authSlice.ts
  admin-ui/app/redux/features/types/authTypes.ts
  admin-ui/app/redux/sagas/SagaUtils.ts
  admin-ui/app/redux/sagas/types/audit.ts
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptAddPage.tsx
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptDetailPage.tsx
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptEditPage.tsx
  admin-ui/plugins/admin/components/CustomScripts/CustomScriptForm.tsx
  admin-ui/plugins/admin/components/CustomScripts/ScriptListPage.tsx
  admin-ui/plugins/admin/components/CustomScripts/types/actions.ts
  admin-ui/plugins/admin/components/CustomScripts/types/customScript.ts
  admin-ui/plugins/admin/components/CustomScripts/types/forms.ts
  admin-ui/plugins/admin/components/CustomScripts/types/index.ts
  admin-ui/plugins/admin/components/CustomScripts/types/state.ts
  admin-ui/plugins/admin/plugin-metadata.ts
  admin-ui/plugins/admin/redux/api/ScriptApi.js
  admin-ui/plugins/admin/redux/api/ScriptApi.ts
  admin-ui/plugins/admin/redux/api/types/ScriptApiTypes.ts
  admin-ui/plugins/admin/redux/audit/Resources.tsx
  admin-ui/plugins/admin/redux/features/customScriptSlice.ts
  admin-ui/plugins/admin/redux/features/types/customScript.ts
  admin-ui/plugins/admin/redux/features/types/index.ts
  admin-ui/plugins/admin/redux/sagas/CustomScriptSaga.js
  admin-ui/plugins/admin/redux/sagas/CustomScriptSaga.ts
  admin-ui/plugins/admin/redux/sagas/WebhookSaga.js
  admin-ui/plugins/admin/redux/sagas/WebhookSaga.ts
  admin-ui/plugins/admin/redux/sagas/types/audit.ts
  admin-ui/plugins/admin/redux/sagas/types/customScript.ts
  admin-ui/plugins/admin/redux/sagas/types/index.ts
  admin-ui/plugins/admin/redux/sagas/types/state.ts
  admin-ui/plugins/admin/redux/sagas/types/userAction.ts
  admin-ui/plugins/admin/redux/sagas/types/webhook.ts
  admin-ui/plugins/scripts/plugin-metadata.ts
  admin-ui/tsconfig.json
Labels: comp-admin-ui, comp-docker-admin-ui, kind-bug

#2190 fix(flex-linux-setup): Admin UI Web Client URIs
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#2194 feat(admin-ui): update label in Auth Server Properties to match OP metadata context.
  admin-ui/app/locales/en/translation.json
  admin-ui/app/locales/fr/translation.json
  admin-ui/app/locales/pt/translation.json
  admin-ui/plugins/auth-server/components/Configuration/ConfigPage.js
  admin-ui/plugins/auth-server/components/Configuration/JsonPropertyBuilder.js
Labels: comp-admin-ui, kind-feature

#2201 chore(main): release 5.9.0
  CHANGELOG.md
Labels: area-documentation, kind-dependencies, autorelease: pending

#2212 fix(flex-linux-setup): add jansAccessTknLife for adminui clients
  flex-linux-setup/flex_linux_setup/flex_setup.py
Labels: comp-flex-linux-setup, kind-bug

#2218 fix(admin-ui): correct i18n key for Health section title under Home menu
  admin-ui/app/routes/Health/HealthPage.tsx
  admin-ui/plugins/admin/components/Health/HealthPage.js
Labels: comp-admin-ui, kind-bug

#2213 fix(admin-ui): resolve search issues in Custom Scripts screen
  admin-ui/plugins/admin/components/CustomScripts/ScriptListPage.tsx
Labels: comp-admin-ui, kind-bug
